@font-face {
  font-family: "Aller Display";
  font-style: normal;
  font-weight: normal;
  src:
    url("../fonts/AllerDisplay/AllerDisplay.eot?") format("eot"),
    url("../fonts/AllerDisplay/AllerDisplay.woff") format("woff"),
    url("../fonts/AllerDisplay/AllerDisplay.ttf") format("truetype"),
    url("../fonts/AllerDisplay/AllerDisplay.svg#AllerDisplay") format("svg");
}
