@font-face {
  font-family: cfcrackbold;
  font-style: normal;
  font-weight: 400;
  src:
    url("../fonts/CfCrackBold/cfcrackandbold.eot?") format("eot"),
    url("../fonts/CfCrackBold/cfcrackandbold.woff") format("woff"),
    url("../fonts/CfCrackBold/cfcrackandbold.ttf") format("truetype"),
    url("../fonts/CfCrackBold/cfcrackandbold.svg#cfcrackandbold") format("svg");
}
