@font-face {
  font-family: "impact3";
  font-style: normal;
  font-weight: 400;
  src:
    url("../fonts/Impact3/impact.eot?") format("eot"),
    url("../fonts/Impact3/impact.woff") format("woff"),
    url("../fonts/Impact3/impact.ttf") format("truetype"),
    url("../fonts/Impact3/impact.svg#impact") format("svg");
}
