body {
  background-color: #383838;
  color: white;
  font-family: Oxygen;
  font-size: 1.5rem;
}

canvas {
  border: 1px solid white;
}

#game-window {
  background-color: #586574;
  border: 2px solid white;
  border-radius: 4px;
  padding-bottom: 3rem;
  padding-top: 3rem;
}

.game-section {
  font-size: 2rem;
  text-align: center;
  vertical-align: middle;
}

h1 {
  color: white;
  font-family: "Oxygen mono";
  font-size: 5rem;
  margin-left: 2rem;
}

#game-info p {
  border: 2px solid white;
  border-radius: 4px;
}

#game-info {
  line-height: 4rem;
  margin-right: 2rem;
}

li {
  list-style-type: none;
}

ul {
  display: inline-block;
}

.list-left {
  padding-left: 2rem;
  text-align: left;
}

#game-controls {
  border: 2px solid white;
  border-radius: 4px;
  margin-left: 2rem;
  padding-right: 1rem;
}

#game-controls,
#game-info {
  font-size: 2.2rem;
  margin-top: 4rem;
}

#button {
  background-color: hsl(212deg 13.7% 40% / 80%);
  border: 2px solid #ffc989;
  color: white;
  cursor: pointer;
  display: inline-block;
  padding: 0.1rem 2.5rem;
  position: relative;
  top: -26rem;
}

#game-over {
  background-color: hsl(212deg 13.7% 40% / 80%);
  font-family: Oxygen;
  font-size: 4.5rem;
  margin-left: 49px;
  margin-right: 50px;
  padding: 0.5rem 0;
  position: relative;
  top: -37.75rem;
}
