html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

body {
	background: white;
	color: black;
	line-height: 1;
}

ol, ul {
	list-style: none;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}

caption, th, td {
	font-weight: normal;
	text-align: left;
}

blockquote::before, blockquote::after,
q::before, q::after {
	content: "";
}

blockquote, q {
	quotes: "" "";
}

/* =============================BEGIN CSS================================= */

html, body {
	cursor: default;
  font-family: "Open Sans";
  height: 100%;
	touch-action: manipulation;
	width: 100%;
}

.navbar {
	background: #101619;
	border-bottom: 1px #186144 solid;
	height: 49px;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 2;
}

.navbar ul li a {
	color: #fff;
	float: left;
	line-height: 50px;
	margin-right: 50px;
	text-decoration: none;
}

.headerLogo {
	background: url("https://i.imgur.com/zoKOaEY.png") no-repeat;
	float: left;
	height: 31px;
	margin-left: 20px;
	margin-top: 9px;
	width: 178px;
}

.about {
	color: #fff;
	cursor: pointer;
	float: right;
	line-height: 50px;
	margin-right: 50px;
	text-decoration: none;
}

.aboutContainer {
	height: 300px;
	overflow: hidden;
	position: relative;
	top: 50px;
}

.aboutInfo {
	color: #fff;
	text-align: center;
}

.aboutHeader {
	font-family: Rajdhani, sans-serif;
	font-size: 30px;
	margin-top: 20px;
}

.aboutBody {
	margin: 10px auto;
	width: 70%;
}

.aboutDevelopers {
	display: flex;
	justify-content: space-around;
	margin: 0 auto;
	position: relative;
	text-align: center;
	width: 800px;
}

.aboutDev {
	float: left;
	width: 350px;
}

.aboutDevName {
	border-bottom: 1px #1E2C36 solid;
	color: #186144;
	display: block;
	font-family: Rajdhani, sans-serif;
	font-size: 20px;
	margin: 20px auto 5px;
	text-decoration: none;
	width: 150px;
}

.aboutDevDesc {
	font-size: 14px;
}

.left {
	display: inline-block;
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	width: 70%;
}

.display {
	background: #1E2C36;
  height: 100%;
	position: relative;
  width: 100%;
}

.unboxing {
	display: block;
	height: 100%;
	left: 0;
	opacity: 1;
	position: absolute;
	top: 0;
	width: 100%;
}

.tooltipAnchor {
	background-color: rgb(24 97 68 / 90%);
	border-radius: 3px;
	color: #fff;
	display: none;
	font-size: 10px;
	height: 25px;
	line-height: 25px;
	position: absolute;
	text-align: center;
	width: 200px;
	z-index: 20;
}

.tooltipAnchor::before {
	border-left: 5px transparent solid;
	border-right: 5px transparent solid;
	border-top: 5px rgb(24 97 68 / 90%) solid;
	content: "";
	display: block;
	height: 0;
	left: 0;
	margin: 0 auto;
	position: absolute;
	right: 0;
	top: 25px;
	width: 0;
}

.backgroundImage {
	height: 100%;
	width: 100%;
}

.backgroundImage::before {
	animation: infRotate 25s linear infinite;
	background: linear-gradient(rgb(0 23 40 / 60%),rgb(0 23 40 / 60%)), url("../images/sunburst.png");
	background-position: center;
	content: "";
	display: block;
	height: 100%;
	position: relative;
	width: 100%;
}

.caseDisplay {
	inset: 0;
	cursor: pointer;
	height: 182px;
	margin: auto;
	padding-top: 10px;
	position: absolute;
	transition: .2s;
	width: 240px;
}

.caseDisplay:active {
	padding-top: 0;
}

.caseInfoContainer {
	bottom: -50px;
	left: -45%;
	position: absolute;
	right: 0;
	text-align: center;
	width: 450px;
}

.caseName {
	color: #fff;
	font-size: 22px;
}

.priceContainer {
	color: #fff;
	font-weight: 200;
	margin-top: 5px;
}

.casePrice {
	display: inline-block;
}

.keyPrice {
	display: inline-block;
}

.jackpot {
	background: #111715;
	display: none;
	height: 100%;
	left: 0;
	opacity: 1;
	position: absolute;
	top: 0;
	width: 100%;

	/* background: linear-gradient(rgba(0, 40, 1, 0.6),rgba(0, 40, 1, 0.6)), url("../images/sunburst.png");
	background-position: center;
	animation: infRotate 25s linear infinite; */
}

.jackpotDifficultyContainer {
	display: flex;
	height: 30px;
	justify-content: space-around;
	width: 100%;
}

.jackpotDifficultyContainer div {
	background: #090D10;
	border: 1px #186144 solid;
	border-left: 1px transparent;
  color: #273135;
	cursor: pointer;
	float: left;
	font-family: Rajdhani, sans-serif;
	line-height: 30px;
	text-align: center;
	width: 33.3%;
}

.jackpotDifficultyContainer div.active {
	background: #25793B;
	color: #59BB32;
}

.jackpotStats {
	bottom: 75px;
	height: 125px;
	left: 0;
	position: absolute;
	right: 0;
}

.jackpotCurrentWorth {
	color: #fff;
	font-size: 15px;
	margin-top: 4px;
	text-align: center;
}

.jackpotPercentOfTickets {
	color: #fff;
	font-size: 15px;
	margin-top: 4px;
	text-align: center;
}

.canvasContainer {
	width: 100%;
}

#canvasCircle {
	display: block;
	margin: 0 auto;
}

.jackpotTopContainer {
	inset: 0 0 395px;
	position: absolute;
	width: 100%;
}

.jackpotTop {
	background: #101619;
	background: linear-gradient(rgb(16 22 25 / 50%), rgb(16 22 25 / 100%)), url("http://i.imgur.com/vakyLA5.png");
	background-size: cover;
	border-bottom: 1px #186144 solid;
	height: 100%;
	width: 100%;
}

.jackpotCountDown {
	color: #fff;
	font-size: 25px;
	text-align: center;
}

.jackpotCountDownLabel {
	color: #fff;
	font-size: 15px;
	margin-top: 4px;
	text-align: center;
}

.winnerIs {
	color: #fff;
	font-size: 25px;
	text-align: center;
}

.depositorItemsLabel {
	float: right;
	margin-right: 300px;
}

.depositorPriceLabel {
	float: left;
	margin-left: 304px;
}

.depositorNameLabel {
	float: left;
	margin-left: 85px;
}

.depositorLabel {
	background: #0E0E0E;
	border-top: 1px #272727 solid;
	bottom: 0;
	color: #fff;
	height: 50px;
	line-height: 50px;
	position: absolute;
	width: 100%;
}

.jackpotRightContainer {
	display: none;
	height: 100%;
	overflow: hidden;
	position: relative;
	width: 100%;
}

.jackpotRightToBet {
	background: #101619;
	bottom: 80px;
	display: flex;
	height: 85px;
	justify-content: center;
	left: 0;
	position: absolute;
	right: 0;
	width: 100%;
}

.jackpotRightPlayer {
	background: #101619;
	border-bottom: 1px #186144 solid;
	bottom: 185px;
	overflow-y: auto;
	position: absolute;
  top: 50px;
	width: 100%;
}

.inventoryTagContainer {
	color: #354146;
	float: left;
	font-family: Rajdhani, sans-serif;
	height: 20px;
	line-height: 24px;
	margin-top: 1px;
	width: 100%;
}

.inventoryTag {
	margin-left: 7px;
}

.inventoryValue {
	float: right;
	margin-right: 7px;
}

.jackpotRightSTBTag {
  bottom: 165px;
	color: #273135;
	float: left;
	font-family: Rajdhani, sans-serif;
	height: 20px;
	line-height: 24px;
	margin-top: 1px;
	padding-left: 6px;
	position: absolute;
	width: 100%;
}

.inventorySwapItem {
	border: 1px #1B2329 solid;
	cursor: pointer;
	float: left;
	height: 70px;
	margin: 6.5px 0 0 6.5px;
	position: relative;
	width: 70px;
}

.jackpotRightInfo {
	background: #0D1113;
	border-top: 1px #186144 solid;
	bottom: 0;
	color: #fff;
	height: 80px;
	position: absolute;
	width: 100%;
}

.jackpotRightStartButton {
	background: #186144;
	cursor: pointer;
	height: 100%;
	line-height: 80px;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
	width: 150px;
}

.jackpotRightStartButton:hover {
	background: #095839;
}

.jackpotRightSkins {
	float: left;
	font-size: 25px;
	margin-left: 8px;
	width: 300px;
}

.swappedItem {
	border: 1px #1B2329 solid;
	cursor: pointer;
	float: left;
	height: 70px;
	margin: 5px 0 0 7px;
	position: relative;
	width: 70px;
}

.spanTag {
	color: #186144;
	font-size: 20px;
}

.jackpotRightValue {
	float: left;
	font-size: 25px;
	margin: 8px;
	width: 300px;
}

.jackpotBottomContainer {
	background: #151515;
	border-top: 1px #25793B solid;
	bottom: 0;
	height: 395px;
	position: absolute;
	width: 100%;
}

.depositorContainer {
	display: block;
	height: 100%;
	overflow-y: auto;
	width: 100%;
}

.jackpotDepositor {
	background: #0E0E0E;
	height: 80px;
	margin: 5px 5px 0;
	overflow: hidden;
}

.jackpotDepositor.winner {
	background: #38340A;
	transition: .2s;
}

.depositorInfo {
	color: #FFF;
	font-family: Rajdhani, sans-serif;
	font-size: 20px;
	height: 100%;
	line-height: 80px;
	position: relative;
	width: 100%;
}

.depositorProPic {
	float: left;
	height: 64px;
	margin: 8px;
	outline: 1px #25793B solid;
	width: 64px;
}

.depositorName {
	float: left;
	width: 200px;
}

.depositorValue {
	float: left;
	margin-left: 150px;
}

.depositorSkinContainer {
	float: right;
	height: 80px;
}

.depositorSkin {
	border: 1px #1B2329 solid;
	float: right;
	height: 70px;
	margin: 4px;
	position: relative;
	width: 70px;
}

.depositorSkin img {
	height: 70px;
	width: 70px;
}

.modalWindow {
	background: rgb(0 0 0 / 50%);
	inset: 0;
	display: none;
	position: absolute;
	z-index: 10;
}

.modalMain.unbox {
	background: #101619;
	border: 1px #186144 solid;
	inset: 0;
	height: 600px;
	margin: auto;
	position: absolute;
	width: 700px;
}

.modalMain.winner {
	background: #101916;
	border: 1px #186144 solid;
	inset: 0;
	box-shadow: 0 0 125px rgb(24 109 63 / 87%);
	height: 500px;
	margin: auto;
	position: absolute;
	text-align: center;
	width: 900px;
}

.modalSkinName {
	color: #fff;
	font-size: 25px;
	text-align: center;
}

.modalMain img {
	display: block;
	height: 450px;
	margin: 0 auto;
	width: 450px;
}

.winnerAmount {
  color: #186144;
}

.winnerModalSkinContainer {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin-top: 20px;
}

.winnerModalHeader {
	color: #fff;
	font-size: 40px;
	margin: 20px;
}

.winnerModalMessage {
	color: #fff;
	font-size: 30px;
	margin: 20px;
}

.winnerModalWarnMessage {
  color: #903434;
}

.modalClose {
	background: #186144;
	color: #2D9E71;
	cursor: pointer;
	height: 30px;
	line-height: 30px;
	position: absolute;
	right: 0;
	transition: .2s;
	width: 30px;
}

.modalClose:hover {
	background: #2D9E71;
	color: #186144;
}

/*
.modalClose {
	position: absolute;
	right: 0;
	left: 0;
  bottom: 30px;
	font-size: 20px;
	font-family: 'Rajdhani', sans-serif;
	text-align: center;
	line-height: 40px;
	color: #fff;
	margin: 0 auto;
	width: 150px;
	height: 40px;
	background: linear-gradient(#1d7751, #0e382c);
	border: 2px #25793b solid;
	border-radius: 5px;
	text-shadow: 0 0 10px rgba(255,255,255,0.3);
	transition: .1s;
	transform: scale(1);
	cursor: pointer;
	-webkit-user-select: none;
	box-shadow: 0 0 25px rgba(0,117,9,0.5);
	overflow: hidden;
}
*/
.modalClose.unbox {
	background: linear-gradient(#1d7751, #0e382c);
	border: 2px #25793b solid;
	border-radius: 5px;
  bottom: 30px;
	box-shadow: 0 0 25px rgb(0 117 9 / 50%);
	color: #fff;
	cursor: pointer;
	font-family: Rajdhani, sans-serif;
	font-size: 20px;
	height: 40px;
	left: 0;
	line-height: 40px;
	margin: 0 auto;
	overflow: hidden;
	position: absolute;
	right: 0;
	text-align: center;
	text-shadow: 0 0 10px rgb(255 255 255 / 30%);
	transform: scale(1);
	transition: .1s;
	user-select: none;
	width: 150px;
}

.right {
	background: #090D10;
	border-left: 1px #186144 solid;
	bottom: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 575px;
}

.rightMain {
	background: #101619;
	inset: 82px 0 135px;
	position: absolute;
	width: 100%;
}

.upgradeContainer {
	display: none;
	height: 100%;
	position: relative;
	width: 100%;
}

.stackingUpgradeContainer {
	inset: 0 0 125px;
	position: absolute;
}

.permUpgradeContainer {
	background: #0F843F;
	border-top: 1px #186144 solid;
	bottom: 0;

	/* display: flex; */
	display: none;
	height: 125px;
	justify-content: space-around;
	left: 0;
	position: absolute;
	right: 0;
}

.permUpgrade {
	background: #0F843F;
	box-shadow: inset 0 0 0 2px #0A5D2C, inset 0 0 0 6px #0A7134, inset 0 0 0 8px #068C3D;
	color: #0A5D2C;
	height: 125px;
	overflow: hidden;
	position: relative;
	text-align: center;
  width: 25%;
}

.permUpgrade.locked {
	background: #4A4A4A;
	box-shadow: inset 0 0 0 2px #5D5D5D, inset 0 0 0 6px #4A4A4A, inset 0 0 0 8px #525252;
	color: #585858;
}

.permUpgrade i {
	display: block;
	margin-top: 38px;
}

.permUpgradeLabel {
}

.inventoryContainer {
	height: 100%;
	overflow: hidden;
	position: relative;
	width: 100%;
}

.inventoryItemContainer {
	bottom: 0;
	display: block;
	float: left;
	overflow: hidden scroll;
	position: absolute;
	top: 25px;
	width: 100%;
}

.upgrade.cantAfford {
	background: #150C0C;

	/* color: #080808; */
}

.upgrade {
	background: #090D10;
	border-radius: 3px;
	box-shadow: inset 0 0 0 2px #090D10, inset 0 0 0 6px #101619, inset 0 0 0 8px #0B1015;
	color: #fff;
	cursor: pointer;
	height: 100px;
	margin: 2px auto;
	overflow: auto;
	position: relative;
	width: 570px;
}

.upgradePicture {
	border: 2px #186144 solid;
	float: left;
	height: 76px;
	margin: 10px;
	width: 76px;
}

.upgradePicture img {
	height: 100%;
	width: 100%;
}

.upgradeInfo {
	margin-top: 10px;
}

.upgradePriceLabel {
	float: right;
	margin: 10px;
	position: absolute;
	right: 0;
	top: 0;
}

.upgradeAmountLabel {
	bottom: 0;
	float: right;
	margin: 10px;
	position: absolute;
	right: 0;
}

.upgradeDesc {
	margin-top: 10px;
}

.upgradeName {
  font-weight: 600;
}

.tradeButtonContainer {
	border-top: 1px #186144 solid;
	bottom: 0;
	height: 135px;
	position: absolute;
	width: 100%;
}

.container {
	background: #0F1317;
  height: 100%;
	width: 100%;
}

.main {
	inset: 50px 0 0;
	overflow: hidden;
	position: absolute;
	transition: 1s;
}

.main.small {
	border-top: 1px #186144 solid;
	top: 350px;
}

.button:hover {
  text-shadow: 0 0 10px rgb(255 255 255 / 50%);
  transform: scale(1.05);
}

.button:active {
  background: linear-gradient(#1f8258, #114435);
  box-shadow: 0 0 35px rgb(43 137 68 / 50%);
  text-shadow: 0 0 10px rgb(255 255 255 / 50%);
  transform: scale(1);
}

.tabContainer {
	float: left;
	height: 50px;
	margin-top: 2px;
	overflow: hidden;
	width: 100%;
}

.tab {
	background: red;
	background: #0D1113;
	border-bottom: 1px #090D10 solid;
	color: #2F2F2F;
	cursor: pointer;
	float: left;
	height: 50px;
	line-height: 50px;
	margin-right: 1px;
	text-align: center;
	width: 95px;
}

.tab.active {
	background: #101619;
	border-bottom: 1px #101619 solid;
	color: #fff;
}

.caseContainer {
	display: none;
	height: 100%;
	overflow: hidden auto;
	width: 100%;
}

.case {
	background: #090D10;
	border-radius: 3px;
	color: #fff;
	cursor: pointer;
	height: 100px;
	margin: 2px auto;
	overflow: auto;
	position: relative;
	width: 570px;
}

.caseInfo {
  margin-top: 10px;
}

.caseTitle {
	font-weight: 600;
}

.caseValue {
	margin-top: 10px;
}

.casePicture {
	border: 2px #BA7729 solid;
	float: left;
	height: 76px;
	margin: 9px;
	width: 76px;
}

.casePicture img {
	height: 80%;
	margin-top: 7px;
	width: 100%;
}

.mainInfo {
	border-bottom: 1px #186144 solid;
	color: #fff;
	height: 30px;
	overflow: hidden;
	position: relative;
	width: 100%;
}

.mainInfoLabel {
	color: #186144;
	height: 100%;
	line-height: 30px;
	margin: 0 10px;
}

.mainInfoLabelWarning {
	color: #A02020;
	cursor: pointer;
	display: none;
	font-size: 1.1em;
	position: relative;
}

/*
.mainInfoLabelWarning:before {
	top: 2px;
	left: 30px;
	content: "";
	display: block;
	position: absolute;
	text-align: center;
	font-size: 10px;
	height: 25px;
	line-height: 25px;
	background-color: rgba(0, 0, 0, 1);
	border-radius: 3px;
	color: #fff;
	width: 200px;
	z-index: 20;
}
*/
.mainInfoLabel.wallet {
	float: right;
}

.mainInfoLabel.inv {
	float: left;
}

.mainInfoLabel span {
	color: #fff;
}

.money {

}

.inventorySpace {
	font-size: 20px;
	margin-top: 10px;
}

.itemPrice {
	background: #080808;
	bottom: 0;
	color: #fff;
	font-size: 13px;
	height: 15px;
	line-height: 15px;
	position: absolute;
	text-align: center;
	width: 100%;
}

.inventoryItem {
	border: 1px #1B2329 solid;
	cursor: pointer;
	float: left;
	height: 70px;
	margin: 6.5px 0 0 6.5px;
	position: relative;
	width: 70px;
}

.inventoryItem img {
	height: 100%;
	width: 100%;
}

div.consumer {
	border: 1px #B0C3D9 solid;
}

div.industrial {
	border: 1px #5E98D9 solid;
}

div.milspec {
	border: 1px #4B69FF solid;
}

div.restricted {
	border: 1px #8847FF solid;
}

div.classified {
	border: 1px #D32CE6 solid;
}

div.covert {
	border: 1px #C12222 solid;
}

div.knife {
	border: 1px #FFD700 solid;
}

.notification.hidden {
	top: -50px;
}

.notification {
	background: #186144;
	border-radius: 3px;
	color: #fff;
	cursor: pointer;
	height: 35px;
	left: 0;
	line-height: 35px;
	margin: 0 auto;
	position: absolute;
	right: 0;
	text-align: center;
	top: 7px;
	transition: .5s;
	width: 800px;
	z-index: 10;
}

.settings {
	background-image: url("https://i.imgur.com/Pw82Pa6.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 70% 70%;
	border-left: 1px #186144 solid;
	float: right;
	height: 49px;
	transition: .1s;
	width: 50px;
}

.settings:hover {
	background-color: #1A2929;
}

.settingsList {
	background: #1A2929;
	border-bottom: 1px #186144 solid;
	color: #fff;
	position: absolute;
	right: 0;
	top: 50px;
	transition: .5s;
	width: 575px;
	z-index: 1;
}

.settingsList li {
	list-style: none;
	margin: 10px 20px;
}

.settingsList li h1 {
	font-size: 25px;
	margin-bottom: 25px;
}

.settingsList.hidden {
	top: -155px;
}

#canvas {
  background: #fff;
}

#drawing {
	z-index: 1;
}

.inventory {
	background: linear-gradient(#1d7751, #0e382c);
	border: 2px #25793b solid;
	border-radius: 5px;
	box-shadow: 0 0 25px rgb(0 117 9 / 50%);
	color: #fff;
	cursor: pointer;
	font-family: Rajdhani, sans-serif;
	font-size: 20px;
	height: 40px;
	line-height: 40px;
	margin: 0 auto;
	overflow: hidden;
	text-align: center;
	text-shadow: 0 0 10px rgb(255 255 255 / 30%);
	transform: scale(1);
	transition: .1s;
	user-select: none;
	width: 150px;
}

.shop {
	background: linear-gradient(#1d7751, #0e382c);
	border: 2px #25793b solid;
	border-radius: 5px;
	box-shadow: 0 0 25px rgb(0 117 9 / 50%);
	color: #fff;
	cursor: pointer;
	font-family: Rajdhani, sans-serif;
	font-size: 20px;
	height: 40px;
	line-height: 40px;
	margin: 0 auto;
	overflow: hidden;
	text-align: center;
	text-shadow: 0 0 10px rgb(255 255 255 / 30%);
	transform: scale(1);
	transition: .1s;
	user-select: none;
	width: 150px;
}

.tradeButton {
  background: linear-gradient(#1d7751, #0e382c);
  border: 3px #25793b solid;
  border-radius: 5px;
  box-shadow: 0 0 25px rgb(0 117 9 / 50%);
  color: #fff;
  cursor: pointer;
  font-family: Rajdhani, sans-serif;
  font-size: 60px;
  height: 85px;
  line-height: 85px;
  margin: 20px auto;
  overflow: hidden;
  text-align: center;
  text-shadow: 0 0 20px rgb(255 255 255 / 30%);
  transform: scale(1);
  transition: .1s;
  user-select: none;
  width: 350px;
}

.tradeButton:hover {
  text-shadow: 0 0 20px rgb(255 255 255 / 50%);
  transform: scale(1.05);
}

.tradeButton:active {
  background: linear-gradient(#1f8258, #114435);
  box-shadow: 0 0 30px rgb(43 137 68 / 50%);
  text-shadow: 0 0 20px rgb(255 255 255 / 50%);
  transform: scale(1);
}

.tradeButton::after {
  background: rgb(255 255 255 / 50%);
  content: "";
  display: block;
  filter: blur(20px);
  height: 150px;
  left: -90px;
  position: relative;
  top: -120px;
  transform: rotate(35deg);
  transition: none;
  width: 35px;
}

.tradeButton:hover::after {
  left: 400px;
  transition: .3s ease-in-out;
}

.clearGameState {
	background: linear-gradient(#1d7751, #0e382c);
	border: 2px #25793b solid;
	border-radius: 5px;
	box-shadow: 0 0 25px rgb(0 117 9 / 50%);
	color: #fff;
	cursor: pointer;
	font-family: Rajdhani, sans-serif;
	font-size: 17px;
	height: 40px;
	line-height: 40px;
	margin: 50px 0 25px 20px;
	overflow: hidden;
	text-align: center;
	text-shadow: 0 0 10px rgb(255 255 255 / 30%);
	transform: scale(1);
	transition: .1s;
	user-select: none;
	width: 150px;
}


::-webkit-scrollbar {
	width: 17px;
}

::-webkit-scrollbar-track {
   background-color: #101619;
}

::-webkit-scrollbar-thumb {
   background-color: #25793B;
}

/* ===============HELPERS=================== */

.noselect {
    -webkit-touch-callout: none;
    user-select: none;
    user-select: none;
    user-select: none;
    user-select: none;
    user-select: none;
}

/* ===============MEDIA QUERIES================= */
@media only screen and (width <= 1660px) {
	.depositorSkinContainer {
		background: rgb(10 10 10 / 80%);
    bottom: 0;
    height: 80px;
		left: 0;
    position: absolute;
		width: 100%;
	}

	.jackpotDepositor {
		height: 160px;
	}

	.modalMain.unbox {
    background: #101619;
    border: 1px #186144 solid;
    inset: 0;
    height: 300px;
    margin: auto;
    position: absolute;
    width: 500px;
	}

	.modalMain.winner {
		transform: scale(.75);
	}

	.modalClose.unbox {
    background: linear-gradient(#1d7751, #0e382c);
    border: 2px #25793b solid;
    border-radius: 5px;
    bottom: 15px;
    box-shadow: 0 0 25px rgb(0 117 9 / 50%);
    color: #fff;
    cursor: pointer;
    font-family: Rajdhani, sans-serif;
    font-size: 20px;
    height: 40px;
    left: 0;
    line-height: 40px;
    margin: 0 auto;
    overflow: hidden;
    position: absolute;
    right: 0;
    text-align: center;
    text-shadow: 0 0 10px rgb(255 255 255 / 30%);
    transform: scale(1);
    transition: .1s;
    user-select: none;
    width: 150px;
	}

	.modalMain > img {
    display: block;
    height: 200px;
    margin: 0 auto;
    width: 200px;
	}

	.jackpotStats {
    height: 125px;
    left: 0;
    position: absolute;
    right: 0;
	}

}


/* ===============KEYFRAMES================= */

@keyframes infRotate {
	from {
		transform: rotate(0deg) scale(1.75);
    transform: rotate(0deg) scale(1.75);
    transform: rotate(0deg) scale(1.75);
    transform: rotate(0deg) scale(1.75);
    transform: rotate(0deg) scale(1.75);
	}

 to {
		transform: rotate(360deg) scale(1.75);
    transform: rotate(360deg) scale(1.75);
    transform: rotate(360deg) scale(1.75);
    transform: rotate(360deg) scale(1.75);
    transform: rotate(360deg) scale(1.75);
	}
}