#button {
    background-color: rgb(255 255 255);
    border: 2px solid #333;
    color: rgb(0 0 0);
    margin: 2px
}

#button:hover,
#button:focus {
    box-shadow: 4px 4px rgb(0 0 0 / 25%);
    color: #333;
}

#button:active {
    border: 4px solid #333;
    color: #333;
}

#link {
    background-color: rgb(255 255 255);
    border: 0 solid rgb(255 255 255);
    color: rgb(122 122 122);
}

#link:hover,
#link:focus {
    text-decoration: underline;
}

#link:active {
    color: #333;
}

#textbox {
    background: rgb(255 255 255);
    border: 4px solid #000;
    box-shadow: inset 4px 4px rgb(0 0 0 / 10%);
    color: rgb(0 0 0);
    text-align: center;
}

#textbox:hover {
    box-shadow: inset 4px 4px rgb(0 0 0 / 25%);
}

#textbox:focus,
#link:focus,
#button:focus {
    outline: none;
}

#check {
    appearance: none;
    appearance: none;
    background-image: url("check.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% 200%;
    border: 0;
    clip: rect(0 0 0 0);
    display: inline-block;
    font-size: 25px;
    height: 1em;
    line-height: 100%;
    margin: -1px;
    padding: 0;
    padding-left: 25px;
    -webkit-touch-callout: none;
    user-select: none;
    user-select: none;
    user-select: none;
    user-select: none;
    user-select: none;
    vertical-align: middle;
}

#check:hover,
#check:focus {
    color: rgb(122 122 122);
    text-decoration: underline;
}

#check:checked {
    background-position: 0 100%;
}