body {
    margin: 0 0 1px; /* the extra 1px allows the iOS inner/outer check to work */
    overflow: hidden;
}





@font-face {
    font-family: ComicSansBold;
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/ComicSansBold.woff2') format('woff2'),
    url('../fonts/ComicSansBold.woff') format('woff');
}

#gameFontPreload{
    left:-1000px;
    position: absolute;
    top: -1000px;
}

#orientation {
    background-color: rgb(0 0 0);
    background-image: url("../img/orientation.jpg");
    background-position: center; 
    background-repeat: no-repeat;
    display: none;
    height: 100%;
    left: 0;
    margin: 0 auto;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 999;
}
