[submodule "external/ultraviolet"]
	path = external/ultraviolet
	url = https://github.com/PeteZah-Games/Ultraviolet.git
[submodule "external/scramjet"]
	path = external/scramjet
	url = https://github.com/HeyPuter/browser.js.git
