
.editor {
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
}

.editor > .top {
	display: block;
	margin: 0;
	padding: 0;
}

.editor > .top > .button-bar {
	background-color: var(--surface-color);
	height: 68px;
	margin: 0;
	padding: 0 0 0 8px;
	white-space: nowrap;
}

.editor > .top > .button-bar > .button {
	margin: 8px 0;
}

.editor > .top > .trackname-input {
	background: var(--surface-secondary-color);
	clip-path: polygon(0 0, 100% 0, calc(100% - 10px) 100%, 0 100%);
	color: var(--text-color);
	display: inline-block;
	font-size: 30px;
	margin: 0;
	padding: 6px 7px;
}

.editor > .top > .trackname-input > input {
	font-size: 30px;
	font-weight: normal;
}

.editor > .side {
	background-color: var(--surface-secondary-color);
	height: calc(100% - 68px);
	margin: 0;
	overflow: hidden scroll;
	padding: 0;
	pointer-events: auto;
	position: absolute;
	right: 0;
	top: 68px;
}

.editor > .side > button {
	background-color: var(--button-color);
	border: 2px solid rgb(38 31 88);
	cursor: pointer;
	display: block;
	margin: 8px;
	padding: 10px;
}

.editor > .side > button:hover {
	background-color: var(--button-hover-color);
}

.editor > .side > button:active {
	background-color: var(--button-active-color);
}

.editor > .side > button.selected {
	background-color: var(--button-active-color);
	border: 2px solid rgb(255 202 102);
	box-shadow: inset 0 0 5px rgb(255 202 102);
}

.editor > .side > button > img {
	display: block;
	filter: drop-shadow(0 0 2px #000);
	filter: drop-shadow(0 0 2px #000);
	margin: 0;
	padding: 0;
	pointer-events: none;
	width: 128px;
}

.editor > .message-box {
	color: #ff9696;
	font-size: 30px;
	left: -10px;
	margin: 10px;
	opacity: 0;
	padding: 0;
	pointer-events: none;
	position: absolute;
	text-shadow: 0 0 5px #000;
}

.editor > .message-box.green {
	color: #96ff96;
}

.editor > .message-box.show {
	left: 0;
	opacity: 1;
	transition: opacity 0.25s ease-in-out, left 0.25s ease-in-out;
}

.editor > .message-box.hide {
	left: 0;
	opacity: 0;
	transition: opacity 0.25s ease-in-out, left 0.25s ease-in-out;
}
