
.menu {
	background-color: rgb(10 10 20 / 80%);
	height: 100%;
	left: 0;
	position: absolute;
	text-align: center;
	top: 0;
	width: 100%;
}

.menu > .logo {
	display: block;
	filter: drop-shadow(0 0 3px #000);
	filter: drop-shadow(0 0 3px #000);
	margin: 80px auto;
	padding: 0;
}

.menu .button-image {
	cursor: pointer;
	display: inline-block;
	height: 200px;
	margin: 100px 10px 0;
	padding: 0;
	pointer-events: auto;
	width: 200px;
}

.menu .button-image > img {
	margin: 40px 40px 0;
	padding: 0;
	pointer-events: none;
	width: 96px;
}

.menu .button-image > p {
	color: var(--text-color);
	font-size: 27px;
	margin: 0;
	padding: 0;
}

.menu > .bottom-buttons {
	bottom: 0;
	left: 0;
	margin: 4px;
	padding: 0;
	position: absolute;
}

.menu > .bottom-buttons > .small {
	clip-path: polygon(4px 0, 100% 0, calc(100% - 4px) 100%, 0 100%);
	font-size: 22px;
	padding: 6px 12px;
}

.menu > .bottom-buttons > .small > img {
	vertical-align: middle;
}

.menu > .info {
	bottom: 0;
	left: 0;
	position: absolute;
	width: 100%;
}

.menu > .info > a {
	color: var(--text-color);
	display: inline-block;
	font-size: 20px;
	margin: 0;
	padding: 5px;
	pointer-events: auto;
	text-decoration: none;
}

.menu > .info > a:hover {
	text-decoration: underline;
}
