
.speedometer {
	background-color: var(--surface-color);
	bottom: 0;
	clip-path: polygon(8px 0, 100% 0, 100% 100%, 0 100%);
	color: var(--text-color);
	font-size: 40px;
	line-height: 0;
	margin: 0;
	min-width: 140px;
	opacity: 0.9;
	padding: 8px 5px 0 0;
	position: absolute;
	right: 0;
	text-align: right;
}

.speedometer > div {
	background-color: var(--surface-tertiary-color);
	clip-path: polygon(6px 0, 100% 0, 100% 100%, 0 100%);
	margin: 0 0 6px 8px;
	padding: 0 0 0 16px;
}

.speedometer > div > span:last-of-type {
	font-size: 0.5em;
	margin: 0 0.3em 0 0.25em;
	opacity: 0.5;
	padding: 0;
}

.speedometer > div > span > span {
	display: inline-block;
	text-align: center;
	width: 0.5em;
}
