
:root {
	--text-color: #fff;
	--surface-color: #28346a;
	--surface-secondary-color: #212b58;
	--surface-tertiary-color: #192042;
	--surface-transparent-color: rgb(40 52 106 / 50%);
	--button-color: #112052;
	--button-hover-color: #334b77;
	--button-active-color: #151f41;
}

@font-face {
	font-family: ForcedSquare;
	src: url("../forced_square.ttf");
}

html, body {
	background: #000;
	height: 100%;
	margin: 0;
	overflow: hidden;
	padding: 0;
	width: 100%;
}

* {
	font-family: ForcedSquare, Arial, sans-serif;
	line-height: 1;
}

#screen {
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
}

#ui {
	height: 100%;
	left: 0;
	pointer-events: none;
	position: absolute;
	top: 0;
	user-select: none;
	user-select: none;
	user-select: none;
	user-select: none;
	width: 100%;
}

::-webkit-scrollbar {
	background-color: #223;
	width: 8px;
}

::-webkit-scrollbar-thumb {
	background-color: #7272c2;
	border-radius: 4px;
}

::selection {
	background-color:  #5936d6;
	color:  #fff;
}

body {
	scrollbar-color: #7272c2 #223;
}

.hide-cursor {
	cursor: none;
}

.hidden {
	display: none;
}

input[type="text"] {
	background-color: var(--surface-tertiary-color);
	border: none;
	clip-path: polygon(0 0, 100% 0, calc(100% - 8px) 100%, 0 100%);
	color: var(--text-color);
	font-size: 24px;
	font-weight: bold;
	margin: 0;
	padding: 4px 8px;
	pointer-events:auto;
}

input[type="text"]:focus-visible {
	outline: none;
}

.button {
	background-color: var(--button-color);
	border: none;
	clip-path: polygon(8px 0, 100% 0, calc(100% - 8px) 100%, 0 100%);
	color: var(--text-color);
	cursor: pointer;
	font-size: 32px;
	margin: 0;
	padding: 8px 18px;
	pointer-events: auto;
	position: relative;
	user-select: none;
	user-select: none;
	user-select: none;
	user-select: none;
}

.button::after {
	background-color: var(--button-hover-color);
	border-bottom: 2px solid var(--text-color);
	bottom: 0;
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	transition: width 0.1s ease-in-out;
	width: 0;
	z-index: -1;
}

.button:hover::after {
	width: 100%;
}

.button:active::after {
	background-color: var(--button-active-color);
}

.button:focus-visible {
	background-color: var(--button-hover-color);
	outline: none;
	text-decoration: underline;
}

.button > img.button-icon {
	height: 32px;
	margin: -6px -4px 0;
	padding: 0;
	pointer-events: none;
	vertical-align: middle;
}

