
.time-announcer {
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 35%;
	width: 100%;
}

.time-announcer > .record {
	animation: 0.3s ease-out 0.8s 1 normal forwards running time-announcer-record-animation;
	color: #5f5;
	font-size: 48px;
	margin: 0;
	opacity: 0;
	padding: 0;
	text-align: center;
	text-shadow: 0 0 5px #000;
}

.time-announcer > .current {
	animation: 0.3s ease-out 0s 1 normal forwards running time-announcer-animation;
	background-color: var(--surface-color);
	color: var(--text-color);
	font-size: 48px;
	margin: 0;
	padding: 0;
	text-align: center;
	width: 0;
}

.time-announcer > .difference {
	animation: 0.3s ease-out 0.3s 1 normal forwards running time-announcer-animation;
	background-color: var(--surface-secondary-color);
	color: #5f5;
	font-size: 30px;
	margin: 0 0 0 auto;
	padding: 0;
	text-align: center;
	width: 0;
}

.time-announcer > p.red {
	color: #f55;
}

@keyframes time-announcer-record-animation {
	from {
		opacity: 0;
		transform: translateY(10px);
	}

	to {
		opacity: 1;
	}
}

@keyframes time-announcer-animation {
	from {
		opacity: 0;
		width: 0;
	}

	to {
		opacity: 1;
		width: 100%;
	}
}
