
.track-export > .background {
	background-color: rgb(20 20 30 / 50%);
	height: 100%;
	left: 0;
	pointer-events: auto;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
}

.track-export > .box {
	background-color: var(--surface-color);
	box-sizing: border-box;
	height: calc(100% - 20px * 2);
	left: calc(50% - 80% / 2);
	margin: 0;
	padding: 10px;
	position: absolute;
	top: 20px;
	width: 80%;
	z-index: 2;
}

.track-export.menu-track-export > .box {
	height: calc(100% - 250px - 20px);
	top: 250px;
}

.track-export > .box > .bar {
	pointer-events: auto;
	text-align: left;
}

.track-export > .box > .bar > .button.right {
	float: right;
}

.track-export > .box > textarea {
	background-color: var(--surface-tertiary-color);
	border: none;
	box-sizing: border-box;
	color: var(--text-color);
	font-size: 20px;
	margin: 10px 0 0;
	max-height: calc(100% - 52px - 10px);
	max-width: 100%;
	min-height: calc(100% - 52px - 10px);
	min-width: 100%;
	padding: 10px;
	pointer-events: auto;
	resize: none;
	word-break: break-all;
}

.track-export > .box > textarea:focus-visible {
	outline: none;
}
