
#transition-layer {
	background-color: #000;
	height: 100%;
	left: 0;
	opacity: 0;
	pointer-events: none;
	position: absolute;
	top: 0;
	transition: 0.25s ease-in-out opacity;
	width: 100%;
}
