#game {
  position: relative;
  z-index: 10;
}

#wrongRotation {
  background: rgb(0 0 0 / 100%);
  display: none;
  height: 100%;
  position: fixed;
  touch-action: none;
  width: 100%;
  z-index: 15;
}

#wrongRotation img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 40%;
  touch-action: none;
  transform: translateY(-50%);
  transform: translateY(-50%);
  transform: translateY(-50%);
  width: 30%;
}

#menu {
  position: fixed;
}

@font-face {
  font-family: gameFont;
  font-style: normal;
  font-weight: normal;
  src: url("../assets/fnt/Movavi Grotesque Black.ttf") format("truetype");
}

.shadowed {
  box-shadow: 0 0 15px 0 rgb(0 0 0 / 75%);
}
