.checkpoint {
  background-color: var(--surface-color);
  clip-path: polygon(0 0, 100% 0, calc(100% - 8px) 100%, 0 100%);
  color: var(--text-color);
  font-size: 40px;
  left: 0;
  line-height: 0;
  margin: 0;
  opacity: 0.9;
  padding: 8px 8px 0 0;
  position: absolute;
  text-align: left;
  top: 0;
}

.checkpoint > div {
  background-color: var(--surface-tertiary-color);
  clip-path: polygon(0 0, 100% 0, calc(100% - 6px) 100%, 0 100%);
  margin: 0 0 6px 6px;
  padding: 0 16px;
}

.checkpoint > div > span > span {
  display: inline-block;
  text-align: center;
  width: 0.5em;
}
