.customization {
  height: 100%;
  left: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.customization > .top {
  background-color: var(--surface-color);
  display: block;
  margin: 0;
  padding: 0;
}

.customization > .top > .button {
  display: inline-block;
  margin: 8px 0;
}

.customization > .top > .button:first-of-type {
  margin-left: 8px;
}

.customization > .colors {
  bottom: 0;
  left: 0;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  width: 100%;
}

.customization > .colors > div {
  background: var(--surface-color);
  display: inline-block;
  margin: 0 10px;
  padding: 0;
  pointer-events: auto;
  text-align: center;
}

.customization > .colors > div > div {
  margin: 0 auto;
}

.customization > .colors > div > h2 {
  background-color: var(--surface-secondary-color);
  color: var(--text-color);
  font-size: 30px;
  font-weight: normal;
  margin: 0;
  padding: 2px;
}

.customization .IroColorPicker {
  margin: 14px !important;
}

.customization .IroColorPicker > .IroBox > .IroBox {
  border-radius: 0 !important;
}

.customization .IroSlider,
.customization .IroSliderGradient {
  border-radius: 0 !important;
}
