.editor-checkpoint-order {
  bottom: 0;
  position: absolute;
  right: 176px;
}

.editor-checkpoint-order > .buttons {
  display: inline-block;
  vertical-align: bottom;
}

.editor-checkpoint-order > .buttons > button {
  background-color: var(--button-color);
  border: none;
  cursor: pointer;
  display: block;
  margin: 0;
  padding: 0;
  pointer-events: auto;
}

.editor-checkpoint-order > .buttons > button:hover {
  background-color: var(--button-hover-color);
}

.editor-checkpoint-order > .buttons > button:active {
  background-color: var(--button-active-color);
}

.editor-checkpoint-order > .buttons > button > img {
  height: 20px;
  margin: 0;
  padding: 0 6px;
  vertical-align: bottom;
  width: 20px;
}

.editor-checkpoint-order > p {
  background-color: var(--surface-transparent-color);
  color: var(--text-color);
  display: inline-block;
  font-size: 26px;
  line-height: 40px;
  margin: 0;
  min-width: 275px;
  padding: 0 10px;
  text-align: center;
  vertical-align: bottom;
}
