.hint {
  color: #fff;
  font-size: 40px;
  left: 0;
  margin: 10px;
  opacity: 0;
  padding: 0;
  pointer-events: none;
  position: absolute;
  text-align: center;
  text-shadow: 0 0 5px #000;
  top: 40px;
  width: 100%;
}

.hint.show {
  opacity: 1;
  top: 50px;
  transition:
    opacity 0.25s ease-in-out,
    top 0.25s ease-in-out;
}

.hint.hide {
  opacity: 0;
  top: 40px;
  transition:
    opacity 0.25s ease-in-out,
    top 0.25s ease-in-out;
}
