.leaderboard {
  background-color: var(--surface-color);
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
  width: 600px;
}

.leaderboard > h2 {
  color: var(--text-color);
  font-size: 38px;
  font-weight: normal;
  margin: 10px;
  padding: 0;
  text-align: center;
}

.leaderboard > .container {
  background-color: var(--surface-secondary-color);
  flex-grow: 1;
  margin: 0;
  overflow-y: scroll;
  padding: 0;
  pointer-events: auto;
}

.leaderboard > .container > .loading-spinner {
  margin: 50% auto;
}

.leaderboard > .container > .error-message {
  color: var(--text-color);
  font-size: 20px;
  text-align: center;
}

.leaderboard > .container > button {
  clip-path: polygon(0 0, 100% 0, calc(100% - 8px) 100%, 0 100%);
  height: 100px;
  margin: 10px 10px 0;
  padding: 0;
  text-align: left;
  vertical-align: top;
  white-space: nowrap;
  width: calc(100% - 2 * 10px);
}

.leaderboard > .container > button:last-of-type {
  margin-bottom: 10px;
}

.leaderboard > .container > button:disabled {
  background-color: var(--button-hover-color);
}

.leaderboard > .container > button > img {
  background-color: rgb(0 0 0 / 10%);
  height: 100px;
  width: 100px;
}

.leaderboard > .container > button > .left,
.leaderboard > .container > button > .right {
  display: inline-block;
  vertical-align: top;
}

.leaderboard > .container > button > div > p {
  color: var(--text-color);
  font-size: 28px;
  margin: 0;
  padding: 12px;
}

.leaderboard > .container > button > div > .name {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 300px;
}

.leaderboard > .container > button > div > .verified-state {
  font-size: 18px;
  margin: 6px 0 0;
  opacity: 0.8;
  position: absolute;
  right: 6px;
}

.leaderboard > .container > button > div > .verified-state > img {
  height: 12px;
  margin: 0 0 0 2px;
  padding: 0;
  vertical-align: middle;
}

.leaderboard > .container > button > div > .verified-state.verified {
  color: #5f5;
}

.leaderboard > .container > button > div > .verified-state.invalid {
  color: #f55;
}

.leaderboard > .container > button > div > .verified-state.pending {
  color: #ff5;
}

.leaderboard > .pages {
  display: flex;
  flex-direction: row;
  margin: 10px 10px 0;
}

.leaderboard > .pages > button.page {
  flex-grow: 1;
  padding: 0;
  width: 0;
}

.leaderboard > .pages > button.selected {
  background-color: var(--button-hover-color);
}

.leaderboard > .button-wrapper > .back {
  margin: 10px;
}
