.loading-spinner {
  animation: 1s linear infinite forwards loading-spinner-spin;
  border: 5px solid var(--surface-tertiary-color);
  border-left-color: var(--text-color);
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

@keyframes loading-spinner-spin {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}
