.menu {
  background-color: rgb(10 10 20 / 80%);
  height: 100%;
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
}

.menu > .logo {
  display: block;
  filter: drop-shadow(0 0 3px #000);
  filter: drop-shadow(0 0 3px #000);
  height: 200px;
  margin: 80px auto 180px;
  padding: 0;
  width: 1000px;
}

.menu .button-image {
  cursor: pointer;
  display: inline-block;
  height: 200px;
  margin: 10px 0;
  padding: 0;
  pointer-events: auto;
  width: 200px;
}

.menu .button-image > img {
  margin: 40px 40px 0;
  padding: 0;
  pointer-events: none;
  transition: transform 0.2s ease-in-out;
  width: 96px;
}

.menu .button-image:not(:disabled):hover > img {
  transform: translateY(-10px);
}

.menu .button-image > p {
  color: var(--text-color);
  font-size: 27px;
  margin: 0;
  padding: 0;
}

.menu > .bottom-buttons {
  bottom: 0;
  left: 0;
  margin: 4px;
  padding: 0;
  position: absolute;
}

.menu > .bottom-buttons > .small {
  clip-path: polygon(4px 0, 100% 0, calc(100% - 4px) 100%, 0 100%);
  font-size: 22px;
  padding: 6px 12px;
}

.menu > .bottom-buttons > .small > img {
  vertical-align: middle;
}

.menu > .discord-link {
  bottom: 0;
  color: #fff;
  font-size: 22px;
  height: 40px;
  margin: 0;
  padding: 8px;
  pointer-events: auto;
  position: absolute;
  right: 0;
  text-decoration: none;
}

.menu > .discord-link:hover,
.menu > .discord-link:focus-visible {
  outline: none;
  text-decoration: underline;
}

.menu > .discord-link > img {
  height: 100%;
  margin: 0 0 0 6px;
  padding: 0;
  vertical-align: middle;
}

.menu > .info {
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
}

.menu > .info > a {
  color: var(--text-color);
  display: block;
  font-size: 20px;
  margin: 0 auto;
  padding: 5px;
  pointer-events: auto;
  text-decoration: none;
  width: fit-content;
}

.menu > .info > a:hover,
.menu > .info > a:focus-visible {
  outline: none;
  text-decoration: underline;
}
