.message-box > .background {
  background-color: rgb(20 20 30 / 50%);
  height: 100%;
  left: 0;
  pointer-events: auto;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.message-box > .box {
  background-color: var(--surface-color);
  box-sizing: border-box;
  left: calc(50% - 500px / 2);
  margin: 0;
  padding: 16px;
  position: absolute;
  text-align: center;
  top: 30%;
  width: 500px;
  z-index: 2;
}

.message-box > .box > p {
  color: var(--text-color);
  font-size: 32px;
  line-height: 0.9;
  margin: 5px 0 20px;
  min-height: 50px;
  overflow-wrap: break-word;
  padding: 0;
  white-space: pre-wrap;
}

.message-box.message > .box > button:first-of-type {
  display: none;
}

.message-box.confirm > .box > button:first-of-type {
  float: left;
}

.message-box.confirm > .box > button:last-of-type {
  float: right;
}

.message-box > .box > button {
  min-width: 140px;
}
