.nickname {
  background-color: var(--surface-color);
  box-sizing: border-box;
  left: calc(50% - 500px / 2);
  margin: 0;
  padding: 16px;
  position: absolute;
  top: 40%;
  width: 500px;
  z-index: 2;
}

.nickname > h1 {
  color: var(--text-color);
  font-size: 35px;
  font-weight: normal;
  margin: 0 4px;
  padding: 0;
}

.nickname > input[type="text"] {
  box-sizing: border-box;
  display: block;
  font-size: 36px;
  font-weight: normal;
  margin: 0;
  padding: 0.25em;
  width: 100%;
}

.nickname > p {
  color: var(--text-color);
  font-size: 20px;
  margin: 16px 4px 0;
  padding: 0;
}

.nickname > button {
  display: inline-block;
  margin: 16px 0 0;
}

.nickname > button:last-of-type {
  float: right;
}

button.nickname-verifier-button {
  bottom: 22px;
  left: 0;
  margin: 0 4px;
  position: absolute;
}

.nickname-user-token {
  bottom: 0;
  color: var(--text-color);
  font-size: 18px;
  left: 0;
  margin: 0 4px;
  opacity: 0.5;
  pointer-events: all;
  position: absolute;
  text-align: left;
  user-select: all;
  user-select: all;
  user-select: all;
  user-select: all;
}
