.settings-menu {
  background-color: var(--surface-color);
  display: flex;
  flex-direction: column;
  height: 100%;
  left: calc(50% - 800px / 2);
  margin: 0;
  padding: 0;
  position: absolute;
  text-align: left;
  top: 0;
  width: 800px;
  z-index: 2;
}

.settings-menu > h2 {
  color: var(--text-color);
  font-size: 38px;
  font-weight: normal;
  margin: 10px;
  padding: 0;
  text-align: center;
}

.settings-menu > .container {
  background-color: var(--surface-secondary-color);
  flex-grow: 1;
  margin: 0;
  overflow-y: scroll;
  padding: 0;
  pointer-events: auto;
}

.settings-menu > .container > h2 {
  border-bottom: 2px solid var(--text-color);
  color: var(--text-color);
  font-size: 24px;
  font-weight: normal;
  margin: 10px;
  padding: 4px;
}

.settings-menu > .container > .setting {
  display: flex;
  margin: 10px;
}

.settings-menu > .container > .setting > p {
  color: var(--text-color);
  display: inline-block;
  flex-grow: 1;
  font-size: 28px;
  margin: 10px;
  min-width: 0;
  overflow: hidden;
  padding: 0;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.settings-menu > .container > .setting > .button-wrapper {
  white-space: nowrap;
}

.settings-menu > .container > .setting.wrappable > .button-wrapper {
  white-space: normal;
}

.settings-menu > .container > .setting.wrappable > .button-wrapper > button {
  font-size: 23px;
  margin-bottom: 8px;
  width: calc(100% / 4);
}

.settings-menu > .container > .setting > .button-wrapper > button {
  height: 48px;
  white-space: nowrap;
}

.settings-menu > .container > .setting > .button-wrapper > button.selected {
  background-color: var(--button-hover-color);
}

.settings-menu > .container > .setting > .button-wrapper > button.key-binding {
  font-size: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
  width: 210px;
}

.settings-menu > .container > .setting > input[type="range"] {
  accent-color: var(--text-color);
  appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  margin: 0 20px;
  padding: 0;
  width: 390px;
}

.settings-menu
  > .container
  > .setting
  > input[type="range"]::-webkit-slider-runnable-track {
  background-color: var(--surface-tertiary-color);
  height: 10px;
}

.settings-menu > .container > .setting > input[type="range"]::-moz-range-track {
  background-color: var(--surface-tertiary-color);
  height: 10px;
}

.settings-menu
  > .container
  > .setting
  > input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  appearance: none;
  background: var(--text-color);
  border: 4px solid var(--button-color);
  border-radius: 0;
  height: 32px;
  margin: -13px 0 0;
  outline: 2px solid var(--text-color);
  width: 32px;
}

.settings-menu
  > .container
  > .setting
  > input[type="range"]::-webkit-slider-thumb:hover {
  border: 4px solid var(--button-hover-color);
}

.settings-menu
  > .container
  > .setting
  > input[type="range"]::-webkit-slider-thumb:active {
  border: 4px solid var(--button-active-color);
}

.settings-menu > .container > .setting > input[type="range"]::-moz-range-thumb {
  appearance: none;
  appearance: none;
  background: var(--text-color);
  border: 4px solid var(--button-color);
  border-radius: 0;
  height: 24px;
  outline: 2px solid var(--text-color);
  width: 24px;
}

.settings-menu
  > .container
  > .setting
  > input[type="range"]::-moz-range-thumb:hover {
  border: 4px solid var(--button-hover-color);
}

.settings-menu
  > .container
  > .setting
  > input[type="range"]::-moz-range-thumb:active {
  border: 4px solid var(--button-active-color);
}

.settings-menu > .button-wrapper > .button {
  margin: 10px 0;
}

.settings-menu > .button-wrapper > .button:first-of-type {
  margin-left: 10px;
}

.settings-menu > .button-wrapper > .button:last-of-type {
  margin-right: 10px;
}

.settings-menu > .button-wrapper > .button > img {
  margin-top: -3px;
}

.settings-menu > .button-wrapper > .apply {
  float: right;
}
