.track-selection {
  bottom: 0;
  height: calc(100% - 320px);
  position: absolute;
  text-align: center;
  width: 100%;
}

.track-selection.editor-track-selection {
  height: 100%;
}

.track-selection > .bar {
  background-color: var(--surface-color);
  margin: 0;
  padding: 0;
  pointer-events: auto;
  text-align: left;
  width: 100%;
}

.track-selection > .bar > .button {
  margin: 8px 12px;
}

.track-selection > .bar > .button.right {
  float: right;
}

.track-selection .tracks-container {
  box-sizing: border-box;
  height: calc(100% - 64px);
  margin: 0;
  overflow-y: auto;
  padding: 20px 0;
  pointer-events: auto;
  width: 100%;
}

.track-selection.editor-track-selection .tracks-container {
  background-color: rgb(20 20 45 / 80%);
}

.track-selection h2 {
  border-bottom: 2px solid var(--text-color);
  color: var(--text-color);
  font-size: 50px;
  font-weight: normal;
  margin: 0.5em 0.75em;
  padding: 0;
}

.track-selection .tracks-container .track {
  display: inline-block;
  position: relative;
}

.track-selection .tracks-container .track button {
  color: var(--text-color);
  font-size: 32px;
  margin: 10px;
  padding: 0;
}

.track-selection .tracks-container .track button:focus-visible {
  text-decoration: none;
}

.track-selection .track-title {
  background-color: var(--surface-secondary-color);
  font-size: 25px;
  margin: 0;
  padding: 4px;
}

.track-selection .tracks-container .track button:focus-visible .track-title {
  text-decoration: underline;
}

.track-selection .track-title > p {
  box-sizing: border-box;
  margin: 0;
  overflow: hidden;
  padding: 0 22px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 208px;
}

.track-selection .track canvas {
  filter: drop-shadow(0 0 3px #000);
  filter: drop-shadow(0 0 3px #000);
  height: 128px;
  image-rendering: pixelated;
  margin: 0;
  object-fit: contain;
  padding: 20px 40px;
  width: 128px;
}

.track-selection .record {
  background-color: var(--surface-secondary-color);
  color: var(--text-color);
  font-size: 24px;
  margin: 0;
  padding: 4px;
}

.track-selection .delete-button {
  background-color: var(--button-color);
  border: none;
  border-radius: 2px;
  cursor: pointer;
  line-height: 0;
  margin: 0;
  padding: 0;
  pointer-events: auto;
  position: absolute;
  right: 6px;
  top: 7px;
}

.track-selection .delete-button:hover {
  background-color: var(--button-hover-color);
}

.track-selection .delete-button:active {
  background-color: var(--button-active-color);
}

.track-selection .delete-button > img {
  height: 20px;
  margin: 0;
  padding: 0;
  pointer-events: none;
  vertical-align: top;
}
