.track-info {
  display: flex;
  height: 100%;
  left: calc(50% - 1050px / 2);
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  width: 1000px;
  z-index: 2;
}

.track-info > .side-panel {
  background-color: var(--surface-color);
  display: inline-block;
  margin-left: 50px;
  position: relative;
  width: 400px;
}

.track-info > .side-panel > h2 {
  color: var(--text-color);
  font-size: 38px;
  font-weight: normal;
  margin: 10px 10px 0;
  overflow: hidden;
  padding: 0;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.track-info > .side-panel > .thumbnail {
  background-color: var(--surface-secondary-color);
  margin: 10px 0 0;
  padding: 40px;
}

.track-info > .side-panel > .thumbnail > canvas {
  filter: drop-shadow(0 0 3px #000);
  filter: drop-shadow(0 0 3px #000);
  height: 300px;
  image-rendering: pixelated;
  margin: 0;
  object-fit: contain;
  padding: 0;
  width: 300px;
}

.track-info > .side-panel > p {
  color: var(--text-color);
  font-size: 32px;
  margin: 16px 0;
  padding: 0;
}

.track-info > .side-panel > .button.play {
  bottom: 10px;
  box-sizing: border-box;
  clip-path: polygon(0 0, 100% 0, calc(100% - 8px) 100%, 0 100%);
  font-size: 50px;
  height: 100px;
  left: 0;
  margin: 10px 10px 0;
  padding: 0 0 0 30px;
  position: absolute;
  text-align: center;
  width: calc(100% - 2 * 10px);
}

.track-info > .side-panel > .button.play > img {
  margin: 0 0 0 10px;
  padding: 0;
  pointer-events: none;
  transition: transform 0.2s ease-in-out;
  vertical-align: middle;
  width: 48px;
}

.track-info > .side-panel > .button.play:hover > img {
  transform: translateX(10px);
}

.track-info > .side-panel > .back {
  margin: 10px;
}

.track-info > .side-panel > .leaderboard-button {
  float: right;
  margin: 10px;
}
