.verifier-ui {
  background-color: var(--surface-color);
  box-sizing: border-box;
  height: 100%;
  left: calc(50% - 500px / 2);
  margin: 0;
  overflow-y: scroll;
  padding: 16px;
  pointer-events: auto;
  position: absolute;
  top: 0;
  width: 500px;
  z-index: 2;
}

.verifier-ui > p {
  color: var(--text-color);
  font-size: 20px;
  margin: 16px 4px 0;
  padding: 0;
  white-space: pre-wrap;
}

.verifier-ui > button {
  display: inline-block;
  margin: 16px 0 0;
}
