* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgb(0 0 0 / 0%);
  -webkit-touch-callout: none;
  user-select: none;
  user-select: none;
  user-select: none;
  user-select: none;
  user-select: none;
}

#HIGHSCORE {
  font-family: Exo;
  left: 50%;
  margin-left: -175px;
  overflow: visible;
  position: absolute;
  width: 250px;
}

#container {
  color: #232323;
  display: none;
  font-family: Exo;
  left: 50%;
  position: absolute;
  text-align: center;
  top: calc(50%);
  transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.tweet {
  color: #4099ff;
  font-size: 2rem;
}
@media only screen and (device-width >= 320px) and (device-width <= 480px) {
  .tweet {
    font-size: 1rem;
  }
}

a {
  color: #232323;
}

.navbar {
  margin: 0 auto;
  padding: 2.5vmin 0;
  text-align: center;
  width: 80%;
}

.navbar li {
  display: inline-block;
  text-align: center;
  width: calc(33% - 1.25vmin);
}

#title {
  color: #ecf0f1;
  font-size: 6vmin;
}

#score {
  font-size: 4vmin;
  text-align: center;
  width: 30%;
}

#highscores {
  list-style: none;
  text-align: center;
}

.not-visible {
  display: none;
}

button {
  background-color: rgb(0 0 0 / 0%);
  border: 0;
  color: #ecf0f1;
}

button:focus {
  outline: 0;
}

#openSideBar {
  color: #232323;
  cursor: pointer;
  height: 72px;
  left: 0;
  margin-left: 11px;
  margin-top: 6px;
  position: fixed;
  top: 0;
  width: 72px;
  z-index: 3003;
}

#pauseBtn {
  bottom: 0;
  color: #232323;
  cursor: pointer;
  display: none;
  height: 72px;
  margin-bottom: 7px;
  margin-right: 11px;
  position: fixed;
  right: 0;
  width: 72px;
  z-index: 99;
}

#restartBtn {
  bottom: 0;
  color: #232323;
  cursor: pointer;
  display: none;
  height: 72px;
  margin-bottom: 7px;
  margin-left: 11px;
  position: fixed;
  width: 72px;
  z-index: 99;
}

#startBtn {
  cursor: pointer;
  height: 25%;
  left: 40%;
  position: absolute;
  top: 38%;
  width: 25%;
  z-index: 99999999;
}

#helpScreen {
  background-color: rgb(236 240 241 / 100%);
  color: #232323;
  display: none;
  font-size: 15px;
  height: 100%;
  margin: 0;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 3001;
}

#colorBlindBtn {
  color: #232323;
  cursor: pointer;
  font-size: 15px;
  height: 20px;
  left: 47%;
  position: absolute;
  text-align: center;
  top: 65%;
  width: 120px;
  z-index: 9999;
}

#inst_main_body {
  font-size: 1.2em;
  left: 50%;
  max-width: 400px;
  padding: 0;
  position: absolute;
  text-align: left;
  top: 50%;

  /* margin-top:30px; */
  transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#inst_main_body > a {
  font-weight: bold;
}

#inst_main_body > hr {
  background-color: #232323;
  border: 0;
  color: #232323;
  height: 1px;
  width: 100%;
}

#inst_main_body > p {
  margin-bottom: 15px;
}

#instructions_head {
  font-size: 1.5em;
  padding-bottom: 4px;
  text-align: center;
}

#highScoreInGameTextHeader {
  color: #bdc3c7;
  width: 100%;
}

#highScoreInGameText {
  left: 50%;
  margin-left: -100px;
  position: absolute;
  text-align: center;
  top: 10px;
  width: 200px;
}

#currentHighScore {
  color: #2c3e50;
  font-size: 2em;
  margin-top: -5px;
  width: 100%;
}

@media only screen and (device-width <= 480px) {
  #helpScreen {
    font-size: 13px;
    height: 100%;
    margin: 0;
    padding-top: 20px;
    position: fixed;
    text-align: center;
    top: 2px;
    width: 100%;
  }

  #inst_main_body {
    transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: calc(100% - 70px);
  }

  #instructions_head {
    padding-left: 0%;
  }

  #openSideBar {
    height: 60px;
    width: 60px;
  }

  #pauseBtn {
    height: 60px;
    width: 60px;
  }

  #restartBtn {
    height: 60px;
    width: 60px;
  }
}

.overlay {
  color: #232323;
  height: 20%;
  left: 50%;
  margin-left: -50%;
  margin-top: -10%;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
  z-index: 3000;
}

.helpText {
  z-index: 3001;
}

.centeredHeader {
  font-size: 5vw;
  line-height: 4rem;
  text-align: center;
}

.centeredSubHeader {
  font-size: 2.2rem;
  line-height: 1em;
  text-align: center;
}

.centeredSubSubHeader {
  font-size: 1.4rem;
  text-align: center;
}

#buttonCont {
  left: 50%;
  margin-left: -8px;
  position: absolute;
  transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  width: 310px;
}

@media only screen and (orientation: landscape) {
  #buttonCont {
    bottom: calc(50vh - 19vh - 36px);
  }

  #container {
    top: calc(50vh - 11vh);
  }
}

@media only screen and (orientation: portrait) {
  #buttonCont {
    bottom: calc(50vh - 19vw - 36px);
  }

  #container {
    top: calc(50vh - 11vw);
  }
}

@media only screen and (device-width >= 320px) and (device-width <= 600px) {

  @media only screen and (orientation: landscape) {
    #buttonCont {
      bottom: 119px;
    }
  }

  @media only screen and (orientation: portrait) {
    #buttonCont {
      bottom: 119px;
    }
  }

  .centeredHeader {
    font-size: 2rem;
    line-height: 0.6rem;
    text-align: center;
  }

  .centeredSubHeader {
    font-size: 1rem;
    text-align: center;
  }

  .overlay {
    margin-top: -20%;
  }

  #buttonCont {
    width: 280px;
  }
}

.blur {
  opacity: 0.1;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ecf0f1;
  color: #ecf0f1;
  font-family: Exo, sans-serif;
}

#clickToExit {
  cursor: pointer;
}

#canvas {
  background-color: #ecf0f1;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  transition: all 0.5s ease;
  width: 100%;
  z-index: 0;
}

#title {
  color: #2c3e50;
  margin-top: 20px;
  z-index: 99;
}

#gameoverscreen {
  /* display:none; */
}

#restart {
  bottom: 15px;
  cursor: pointer !important;
  display: none;
  left: calc(50% - 124px);
  margin: 0;
  margin-bottom: -3.5px;
  padding: 0;
  position: absolute;
  transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}

#socialShare {
  bottom: 0;
  display: none;
  left: calc(50% + 30px);
  margin: 0;
  margin-bottom: 6.5px;
  padding: 0;
  padding-bottom: 2px;
  position: absolute;
  transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}

.unselectable {
  -webkit-touch-callout: none;
  user-select: none;
  user-select: none;
  user-select: none;
  user-select: none;
  user-select: none;
}

#afterhr {
  margin: 0;
  margin-bottom: -10px;
  padding: 0;
  padding-bottom: -10px;
}

body {
  overflow: hidden;
}

#gameoverscreen {
  padding: 8px;
}
@font-face {
  font-family: Exo;
  font-weight: light;
  src: url("fonts/Exo2-ExtraLight.otf") format("opentype");
}

@font-face {
  font-family: Exo;
  src: url("fonts/Exo2-Regular.otf") format("opentype");
}

@font-face {
  font-family: Exo;
  font-weight: bold;
  src: url("fonts/Exo2-SemiBold.otf") format("opentype");
}

.GOTitle {
  font-size: 24.2px;
  font-weight: bold;
}

.scoreNum {
  font-weight: normal !important;
}

#cScore {
  font-size: 60.5px;
  font-weight: light;
  margin-bottom: 5px;
  margin-top: -10px;
}

#highScoresTitle {
  margin-bottom: 2px;
}

.score {
  font-weight: light;
  line-height: 18px;
}

#bottomContainer {
  bottom: 0;
  position: absolute;
  width: 100%;
}

#androidBadge {
  height: 41px;
  left: calc(50% - 66px);
  margin-top: 5px;
  position: absolute;
  transform: translate(calc(-50% - 4px), -1px);
  transform: translate(calc(-50% - 4px), -1px);
  transform: translate(calc(-50% - 4px), -1px);
  transform: translate(calc(-50% - 4px), -1px);
}

#iOSBadge {
  left: calc(50% + 65px);
  margin-top: 5px;
  position: absolute;
  transform: translate(calc(-50% - 4px), 0%);
  transform: translate(calc(-50% - 4px), 0%);
  transform: translate(calc(-50% - 4px), 0%);
  transform: translate(calc(-50% - 4px), 0%);
}

#authors {
  bottom: 0;
  left: 50%;
  position: absolute;
  transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  width: 200px;
}
