body {
  background: #e7fff4;
}

html,
body,
canvas {
  border: 0;
  display: block;
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

#right_side {
  bottom: 0;
  height: 200px;
  padding-right: 12px;
  padding-top: 12px;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
  width: 220px;
  z-index: 3;
}

#view,
#ui {
  height: 100%;
  position: absolute;
  width: 100%;

  /* z-index: 1; */

  /* width: 100%;
    height: 100%;

    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    */
}

#view {
  z-index: 1;
}

#ui {
  z-index: 2;
}

.fadein {
  animation: fadein 2s;
}

.fadeout {
  animation: fadeout 2s;
}

#ui {
  background-color: rgb(0 0 0 / 80%);
}

#ui.hide {
  display: none;
}

body,
button,
input {
  font-family: "PT Sans Caption", sans-serif;
}

.uibox {
  margin: 14px auto 0;

  /* background: #422; */

  /* width: 600px; */
  max-width: 600px;
  padding: 8px 10px 30px;
}

.uibox .logo {
  height: 100px;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.logo img {
  width: 350px;

  /*
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
*/
}

/*
.resultbox {
    position: relative;
}
*/

.resultsimg {
  margin: auto;
  width: 50%;
}

.resultsimg img {
  width: 100%;
}

.results {
  color: #fff;
  display: flex;
  font-size: 18px;
  justify-content: center;
  text-shadow: 0 0 2px #000;
  white-space: nowrap;

  /* position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
*/
}

.results .left {
  margin-right: 10px;
  text-align: right;
}

.newScore {
  color: #8fa;
}

.nav {
  display: flex;
  justify-content: center;
  margin: 10px 10%;
}

.uibox .play {
  display: flex;
  justify-content: center;
  margin: 0 10%;
}

.uibox .tips {
  display: flex;
  height: 50px;
}

.uibox .tip {
  align-self: flex-end;
  animation: fadein 2s;
  color: white;
  font-size: 18px;
  padding: 10px 10%;
  text-align: center;
  width: 100%;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

#nick {
  background: #ededd1;
  border: 0;
  border-bottom: 6px solid #a1a18d;
  color: #666;
  flex: 1 1 auto;
  font-size: 25px;
  margin: 5px;
  outline: none;
  padding: 5px;
  text-indent: 10px;
  width: 100%;
}

#nick::placeholder {
  color: #a1a18d;
  opacity: 1; /* Firefox */
}

#play {
  flex: 0 0 130px;
}

#again,
#menu {
  flex: 1 1 auto;
}

button {
  border: none;
  border-bottom: 6px solid;
  cursor: pointer;
  font-size: 35px;
  letter-spacing: 1px;
  margin: 5px;
  padding: 0 15px;
}

button:active {
  border-bottom: none;
  border-top: 6px solid;
}

button:focus {
  outline: none;
}

button.yellow {
  background: #eaec4b;
  border-color: #a1a130;
  color: #888a34;
}

button.green {
  background: #7fed4c;
  border-color: #56a130;
  color: #56a130;
}

button.orange {
  background: #ff972f;
  border-color: #ae4e0d;
  color: #422100;
}

button.disabled {
  background: #ebebeb;
  border-bottom: 6px solid #9c9c9c;
  color: #9c9c9c;
  cursor: default;
}

button.yellow:hover,
button.yellow:focus {
  background: #fafc5b;
}

button.green:hover,
button.green:focus {
  background: #8efc5b;
}

button.disabled:hover,
button.disabled:focus {
  background: #ebebeb;
}

button.disabled:active {
  border-bottom: 6px solid;
  border-top: none;
}

.uibox p.notsupported {
  color: rgb(177 55 55);
  font-size: 18px;
  padding: 0 10%;
  text-align: center;
}

@media screen and (width <= 500px) {
  .uibox .play {
    flex-wrap: wrap;
    margin: 0;
  }

  .nav {
    flex-wrap: wrap;
    margin: 10px 0;
  }

  button {
    font-size: 25px;
  }

  .resultsimg {
    width: 75%;
  }
}

/* About ------------------------------- */

#about {
  background-color: #fff;
  border-radius: 10px;
  box-sizing: border-box;
  display: none;
  height: 80%;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  z-index: 4;
}

.modal_box {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 32px;
}

.modal_scroll {
  flex-grow: 1;
  overflow-y: auto;
}

@media screen and (width <= 500px) {
  #about {
    border-radius: 0;
    height: 100%;
    left: 0;
    padding: 0;
    top: 0;
    transform: none;
    width: 100%;
  }

  .modal_box {
    padding: 16px;
  }
}

/* ------------------------------- */

.hide {
  display: none;
}

.show {
  display: block;
}

#paperio-site_multisize {
  position: absolute;
  text-align: center;
  top: 310px;
  width: 100%;
  z-index: 3;
}

#bottom {
  background-color: white;
  border-top-left-radius: 8px;
  bottom: 0;
  color: #202020;
  display: none;
  padding: 4px;
  position: absolute;
  right: 0;
  text-align: center;
  z-index: 2;
}

/* @media screen and (max-width: 700px) { */

/* @media (min-height: 800px) {
    #bottom {
        display: none;
    }
}
*/

#bottom a,
a:visited {
  color: #202020;
  text-decoration: none;
}

#overlay {
  background: #000;
  display: none;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 9;
}

#lng {
  background: #fff;
  border: 0;
  border-top-right-radius: 8px;
  bottom: 0;
  display: inline;
  left: 0;
  list-style-type: none;
  margin: 0;
  padding: 4px 6px 4px 0;
  position: absolute;
  z-index: 4;
}

#lng li {
  background: #fff;
  cursor: pointer;
  display: inline;
  padding: 4px;
}

#lng li.active {
  background: #88f;
}

.noPadding {
  padding: 0 5px;
}

button img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1px;
}

.skins-container {
  align-items: center;
  display: flex;

  /* flex-wrap: nowrap; */
  flex: 1;
  flex-direction: row;
  justify-content: center;
}

.skin {
  align-items: stretch;
  background: #dad53f;
  display: flex;
  flex-direction: column;
  height: 130px;
  justify-content: space-between;
  margin: 5px;

  /* text-align: center; */
  padding: 5px;
  width: 130px;
}

.skin-view {
  background: #fcfdc4;
  flex-grow: 1;
}

.skin-view img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.skin-view h3 {
  margin: 0;
  text-align: center;
}

#rightbanner {
  bottom: 0;
  display: none;
  height: 200px;
  padding-right: 12px;
  padding-top: 12px;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
  width: 220px;
  z-index: 3;
}

#aipBranding {
  display: none !important;
}

#discord {
  display: none;
  left: 8px;
  position: absolute;
  top: 8px;
  z-index: 3;
}

#discord a img {
  border-radius: 6px;
}

@keyframes kf_slider {
  from {
    opacity: 0;
    pointer-events: none;
  }

  to {
    opacity: 1;
    pointer-events: auto;
  }
}

.slider-1 {
  animation: kf_slider 2s 0s both;
}

.slider-2 {
  animation: kf_slider 2s 1s both;
}

.slider-3 {
  animation: kf_slider 2s 2s both;
}

.slider-4 {
  animation: kf_slider 2s 3s both;
}

.slider-5 {
  animation: kf_slider 2s 4s both;
}
