@font-face {
  font-family: Impact;
  font-style: normal;
  font-weight: normal;
  src:
    url("../fonts/Impact/impact.eot?") format("eot"),
    url("../fonts/Impact/impact.woff") format("woff"),
    url("../fonts/Impact/impact.ttf") format("truetype"),
    url("../fonts/Impact/impact.svg#impact") format("svg");
}
