html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

canvas {
  display: block;
}

body {
  margin: 0;
}

#unity-container {
  height: 100%;
  width: 100%;
}

#unity-canvas {
  background: #1f319e;
  height: 100%;
  width: 100%;
}

#loading-cover {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

#unity-loading-bar {
  align-items: center;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: center;
}

#unity-logo {
  text-align: center;
}

#unity-logo img {
  max-width: 80%;
}

#unity-progress-bar-empty {
  border: 1px solid #fff;
  border-radius: 5px;
  height: 24px;
  margin: 10px 20px 20px 10px;
  padding: 2px;
  text-align: left;
  width: 250px;
}

#unity-progress-bar-full {
  background: #fff;
  border-radius: 3px;
  height: 100%;
  width: 0%;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  user-select: none; /* Safari */
  user-select: none; /* Konqueror HTML */
  user-select: none; /* Old versions of Firefox */
  user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.spinner,
.spinner::after {
  border-radius: 50%;
  height: 5em;
  width: 5em;
}

.spinner {
  animation: spinner-spin 1.1s infinite linear;
  border-bottom: 1.1em solid rgb(255 255 255 / 20%);
  border-left: 1.1em solid #fff;
  border-right: 1.1em solid rgb(255 255 255 / 20%);
  border-top: 1.1em solid rgb(255 255 255 / 20%);
  font-size: 10px;
  margin: 10px;
  position: relative;
  text-indent: -9999em;
  transform: translateZ(0);
}
@keyframes spinner-spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
