@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap");

:root {
  --main-color: #fff;
  --sub-color: #646669;
  --bg-color: #323437;
  --caret-color: #E77E7E;
  --roundness: 0.25rem;
}

/* 
:root {
  --main-color: #111;
  --sub-color: #444;
  --sub2-color: #444;
  --bg-color: #fff;
} */
body {
  background: var(--bg-color);
  color: var(--main-color);
  font-family: 'Lexend Deca', sans-serif;
  height: 100vh;
  margin: 0;
  padding: 2rem;
}

a {
  color: var(--main-color);
  transition: 0.25s;
}

a:hover {
  color: var(--caret-color);
}

.bottom{
  color: var(--caret-color);
}

.outOfFocusWarning{
  height: 0;
  line-height: 117.083px;
  margin: auto;
  pointer-events: none;
  position: relative;
  text-align: center;
  transition: all 0.5s ease;
  transition: all 0.5s ease;
  transition: all 0.5s ease;
  transition: all 0.5s ease;
  user-select: none;
  z-index: 999;
}

#top .logo {
  cursor: pointer;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: auto 1fr;
  user-select: none;
  white-space: nowrap;
}

#top .logo .icon {
  align-items: center;
  background-color: transparent;
  display: grid;
  width: 2.5rem;
}

#top .logo .text {
  font-size: 2rem;
  margin-bottom: 0.4rem;
  position: relative;
  transition: .25s;
}


#commandLineWrapper {
  align-items: start;
  background: rgb(0 0 0 / 75%);
  display: grid;
  height: 100%;
  justify-content: center;
  left: 0;
  padding: 5rem 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

#commandLineWrapper #commandLine {
  background: var(--bg-color);
  border-radius: var(--roundness);
  width: 50vw;
}

#commandLineWrapper #commandLine input {
  background: var(--bg-color);
  border: none;
  color: var(--main-color);
  font-family: "Roboto Mono";
  font-size: 1rem;
  outline: none;
  padding: 1rem;
  width: 100%;
}

#commandLineWrapper #commandLine .separator {
  background: black;
  height: 1px;
  margin-bottom: 0.5rem;
  width: 100%;
}

#commandLineWrapper #commandLine .listTitle {
  color: var(--main-color);
  font-size: 0.75rem;
  line-height: 0.75rem;
  padding: 0.5rem 1rem;
}

#commandLineWrapper #commandLine .suggestions {
  display: grid;
}

#commandLineWrapper #commandLine .suggestions .entry {
  color: var(--sub-color);
  font-size: 0.75rem;
  line-height: 0.75rem;
  padding: 0.5rem 1rem;
}

#commandLineWrapper #commandLine .suggestions .entry.active {
  background: rgb(0 0 0 / 50%);
  color: var(--main-color);
}

#resultScreenshot {
  background: var(--bg-color);
  border-radius: 0.25rem;
  display: none;
  padding: 0.5rem;
  position: absolute;
  white-space: nowrap;
  width: min-content;
}

#resultScreenshot .logo .top {
  color: var(--sub-color);
  font-size: 0.42rem;
  line-height: 0.42rem;
  margin: 0.5rem;
  margin-bottom: -0.3rem;
  margin-left: 0.05rem;
}

#resultScreenshot .logo .bottom {
  color: var(--caret-color);
  font-size: 0.75rem;
  line-height: 0.75rem;
  padding: 0 0.5rem 0.5rem;
}

#resultScreenshot .stats {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
}

#resultScreenshot .stats .group {
  padding: 0.5rem;
}

#resultScreenshot .stats .group .top {
  color: var(--sub-color);
  line-height: 1rem;
}

#resultScreenshot .stats .group .bottom {
  font-size: 1.5rem;
  line-height: 1.5rem;
}

#timerWrapper {
  opacity: 0;
  transition: 0.25s;
  z-index: -1;
}

#timer {
  background: var(--caret-color);

  /*   height: 0.5rem; */
  height: 0.5rem;
  position: fixed;
  right: 0;
  top: 0;

  /*   background: #0f0f0f; */

  /*   background: red; */
  transition: 1s linear;
  width: 0;
  z-index: -1;
}

#liveWpm {
  color: black;
  font-size: 10rem;
  height: 0;
  opacity: 0.25;
  text-align: center;
  transition: 0.25s;
  width: 100%;
  z-index: -1;
}

#centerContent {
  /* margin-top: 1rem; */

  /* margin-bottom: 1rem; */
  align-items: center;
  display: grid;
  gap: 1rem;
  grid-auto-flow: row;
  grid-template-rows: 1fr auto;

  /* grid-template-rows: 2rem auto 1rem; */
  height: 100%;
  margin: 0 auto;
  max-width: 800px;
  min-width: 600px;
  z-index: 999;
}

#caret {
  animation-duration: 1s;

  /* animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955); */
  animation-iteration-count: infinite;
  animation-name: caretFlash;
  background: var(--caret-color);
  height: 1.5rem;
  position: absolute;
  transition: 0.05s;
  width: 2px;
}

@keyframes caretFlash {
  0% {
    background: transparent;
  }

  50% {
    background: var(--caret-color);
  }

  100% {
    background: transparent;
  }
}

#menu {
  color: var(--sub-color);
  display: grid;
  font-size: 1rem;
  grid-auto-flow: column;
  line-height: 1rem;

  /*   gap: 1rem; */
  margin-bottom: -0.4rem;
  width: fit-content;
  width: fit-content;

  /*   transition: 0.25s; */
}

#menu .button {
  align-content: center;
  display: grid;
  grid-auto-flow: column;
  padding: 0.5rem;
  transition: 0.25s;
}

#menu .button .icon {
  place-items: center center;
  display: grid;
  height: 1.25rem;
  text-align: center;
  width: 1.25rem;
}

#menu .button:hover {
  color: var(--main-color);
  cursor: pointer;
}

#menu .button .text {
  overflow: hidden;
  width: 0;

  /*   transition: .25s; */
}

/* #menu .button:hover .text{
  width: auto;
} */
#top.focus #menu {
  color: transparent;
}

#menu .separator {
  background-color: var(--sub-color);
  height: 1rem;
  width: 2px;
}

#top {
  align-items: center;
  display: grid;
  font-size: 2.3rem;
  gap: 0.5rem;
  grid-auto-flow: column;
  grid-template-columns: auto 1fr auto;
  line-height: 2.3rem;
  margin-bottom: 1rem;
  padding: 0 5px;

  /* text-align: center; */
  transition: 0.5s;
  z-index: 2;
}

#top .logo {
  margin-bottom: -0.12rem;
  white-space: nowrap;
}

#top .logo .top {
  color: var(--sub-color);
  font-size: 0.65rem;
  line-height: 0.65rem;
  margin-bottom: -0.4rem;
  margin-left: 0.25rem;
}

#top .logo .bottom {
  margin-left: -0.15rem;
}

#top .config {
  display: grid;
  grid-auto-flow: row;

  /*   margin-bottom: 0.1rem; */
  grid-column: 3/4;
  gap: 0.2rem;
  grid-row: 1/2;
  transition: 0.25s;
  width: min-content;
}

#top .config .group {
  transition: 0.25s;
}

#top .config .punctuationMode {
  margin-bottom: -0.1rem;
}

#top .config .group .buttons {
  display: flex;
  font-size: 0.7rem;
  line-height: 0.7rem;
}

#top .config .group .buttons .button {
  color: var(--sub-color);
  cursor: pointer;
  margin-right: 0.25rem;
  transition: 0.25s;
}

#top .config .group .buttons .button:last-child {
  margin-right: 0;
}

#top .config .group .buttons .button:hover {
  color: var(--main-color);
}

#top .config .group .buttons .button.active:hover {
  cursor: default;
}

#top .config .group .buttons .toggleButton.active:hover {
  cursor: pointer;
}

#top .config .group .buttons .button.active {
  color: var(--main-color);
}

#top .config .group .title {
  color: var(--sub-color);
  font-size: 0.5rem;
  line-height: 0.5rem;
  margin-bottom: 0.15rem;
}

#top .result {
  display: grid;
  grid-auto-flow: column;
  grid-column: 3/4;
  gap: 1rem;
  grid-row: 1/2;
  transition: 0.25s;
  width: min-content;
}

#top.focus .result {
  opacity: 0 !important;
}

#top .result .group .title {
  color: var(--sub-color);
  font-size: 0.65rem;
  line-height: 0.65rem;
}

#top .result .group .val {
  color: var(--main-color);
  font-size: 1.7rem;
  line-height: 1.7rem;
  transition: 0.25s;
}

#tip {
  /*   margin-top: 1rem; */
  align-self: center;
  color: var(--sub-color);
  font-size: 0.75rem;
  line-height: 0.75rem;
  margin-top: 1rem;
  opacity: 0;
  text-align: center;
  transition: 0.25s;
}

key {
  background-color: var(--sub-color);
  border-radius: 0.1rem;
  color: var(--bg-color);
  display: inline-block;

  /*   font-weight: bold; */
  padding: 3px 5px;
}

#bottom {
  color: var(--caret-color);
  font-size: 0.75rem;
  line-height: 1rem;
  text-align: center;
  transition: 0.5s;
}

#top.focus {
  color: var(--sub-color) !important;
}

#top.focus .config {
  opacity: 0 !important;
}

#bottom.focus {
  opacity: 0 !important;
}

#middle {
  /* display:grid; */

  /* align-items: center; */

  /* justify-content: center; */
  z-index: 999;
}

#result {
  align-items: center;
  display: grid;
  height: 400px;
  justify-content: center;
}

#result .groups {
  display: grid;
  gap: 1rem;
  grid-auto-flow: column;
  width: min-content;
}

#result .group .title {
  color: var(--sub-color);
  line-height: 1rem;
}

#result .group .val {
  font-size: 2rem;
  line-height: 2rem;
}

#wordsInput {
  border: none;
  display: block;
  height: 0;
  margin: 0;
  outline: none;
  padding: 0;
}

#words {
  align-content: flex-start;
  display: flex;
  flex-wrap: wrap;
  font-family: "Roboto Mono";
  height: fit-content;
  user-select: none;
  width: 100%;
}

#restartTestButton {
  border-radius: var(--roundness);
  color: var(--sub-color);
  cursor: pointer;
  margin: 0 auto;
  padding: 1rem 5rem;
  transition: 0.25s;
  width: min-content;
  width: min-content;
}

#restartTestButton:hover, #restartTestButton:focus {
  color: var(--main-color);
  outline: none;
}

#restartTestButton:focus {
  background: #0d0d0d;
}

.word {
  /*   margin-bottom: 1px; */
  border-bottom: 2px solid transparent;
  color: var(--sub-color);
  display: flex;
  margin: 5px;
  transition: 0.25s;
}

.word.error {
  /*   margin-bottom: 1px; */
  border-bottom: 2px solid #ca4754;
}

.word letter {
  /*   transition: 0.1s; */
  height: 1rem;
  line-height: 1rem;

  /* margin: 0 1px; */
}

.word letter.correct {
  color: var(--main-color);
}

.word letter.incorrect {
  color: #ca4754;
}

.word letter.incorrect.extra {
  color: #7e2a33;
}

.word letter.missing {
  opacity: 0.5;
}

* {
  box-sizing: border-box;
}

.hidden {
  display: none !important;
}