/* I added this cause I was getting weird bugs with default on main page and this seemed like the simplest fix */
body.theme-default {
  --hover-gradient: linear-gradient(90deg, #2a3c5f, #3c5b8e);

  background-color: #0a1d37;
  color: #fff;
}

body.theme-swampy-green {
  --primary-gradient: linear-gradient(90deg, #2e6b4f, #3e8c65);
  --hover-gradient: linear-gradient(90deg, #1f4a3a, #2e6b4f);
  --god-rays-color: rgb(30 70 50 / 90%);

  background-color: #1a3c34;
  color: #d4e4d9;
}

body.theme-royal-purple {
  --primary-gradient: linear-gradient(90deg, #5e3c8e, #7a4fa5);
  --hover-gradient: linear-gradient(90deg, #3f2a5f, #5e3c8e);
  --god-rays-color: rgb(70 30 90 / 90%);

  background-color: #2a1a3c;
  color: #e2d4e9;
}

body.theme-blood-red {
  --primary-gradient: linear-gradient(90deg, #8e3c4f, #a54f6f);
  --hover-gradient: linear-gradient(90deg, #5f2a3f, #8e3c4f);
  --god-rays-color: rgb(90 20 40 / 90%);

  background-color: #3c0a1a;
  color: #e9d4d4;
}

body.theme-midnight-forest {
  --primary-gradient: linear-gradient(90deg, #3f5e4a, #5a7f66);
  --hover-gradient: linear-gradient(90deg, #2a3f35, #3f5e4a);
  --god-rays-color: rgb(40 70 50 / 90%);

  background-color: #1f2a2f;
  color: #cde4d9;
}

body.theme-cyber-neon {
  --primary-gradient: linear-gradient(90deg, #ff2079, #00ddeb);
  --hover-gradient: linear-gradient(90deg, #cc1a5f, #00a8b5);
  --god-rays-color: rgb(50 20 80 / 90%);

  background-color: #1a1a2e;
  color: #e0e0ff;
}

body.theme-desert-oasis {
  --primary-gradient: linear-gradient(90deg, #8e6b3c, #a58f4f);
  --hover-gradient: linear-gradient(90deg, #5f4a2a, #8e6b3c);
  --god-rays-color: rgb(90 60 30 / 90%);

  background-color: #3c2f1a;
  color: #e9e4d4;
}

body.theme-glacial-frost {
  --primary-gradient: linear-gradient(90deg, #3c6b8e, #4f8fa5);
  --hover-gradient: linear-gradient(90deg, #2a4a5f, #3c6b8e);
  --god-rays-color: rgb(30 60 90 / 90%);

  background-color: #2a3c4f;
  color: #d4e9e9;
}

/* Apply Theme Variables */
.tab,
button,
input[type='file']::-webkit-file-upload-button,
input[type='file']::file-selector-button {
  background: var(--primary-gradient);
}

.tab:hover,
.tab.active,
button:hover,
input[type='file']::-webkit-file-upload-button:hover,
input[type='file']::file-selector-button:hover {
  background: var(--hover-gradient);
}

.god-rays {
  background-image: repeating-linear-gradient(
    100deg,
    var(--god-rays-color, rgb(30 50 90 / 90%)) 10%,
    rgb(20 40 80 / 90%) 15%,
    var(--god-rays-color, rgb(30 50 90 / 90%)) 20%,
    rgb(20 40 80 / 90%) 25%,
    var(--god-rays-color, rgb(30 50 90 / 90%)) 30%
  );
}

/* Ensure background image overrides theme background color if set */
body {
  transition:
    background-color 0.5s ease,
    color 0.5s ease;
}
