@font-face {
  font-display: swap;
  font-family: 'Baloo 2';
  font-style: normal;
  font-weight: 800;
  src: url("baloo2.woff") format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.fullscreen {
  height: 100%;
  position: absolute;
  width: 100%;
}

.center {
  text-align: center;
}

.centered { 
  display: block;
  margin-left: auto; 
  margin-right: auto;
  text-align: center;
}

#play_overlay {
  display: none;
  z-index: 10;
}

.middle {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.middle_vertical {
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
}

.edge {
  background-color: #cfdaed;
  box-shadow: 5px 1px 5px rgb(0 0 0 / 25%);
  height: 180px;
  margin-left: auto; 
  margin-right: auto;
  transform: rotate(-5deg); 
  width: 164px;
}

.box {
  background-color: white;
  height: 164px;
  position: relative;
  width: 164px;
}

.black {
  background-color: black;
  height: 156px;
  margin: 0 auto;
  position: absolute;
  right: 4px;
  top: 4px;
  width: 132px;
}

.cover {
  height: 128px;
  margin: 2px;
  width: 128px;
}

.title {
  font-family: 'Baloo 2', Ubuntu, verdana, sans-serif;
  font-size: 14px;
}

.author {
  border-spacing: 0;
  color: #ccc;
  font-family: 'Baloo 2', Ubuntu, verdana, sans-serif;
  font-size: 14px;
  overflow: hidden;
  position: absolute;
  right: 142px;
  text-align: right;
  text-overflow: ellipsis;
  top: 4px;
  transform: rotate(-90deg);
  transform-origin: right top;
  white-space: nowrap;
  width: 150px;
}

.loading {
  margin-bottom: 10px;
  margin-top: 20px;
}

.description {
  display: inline-block;
  font-family: 'Baloo 2', Ubuntu, verdana, sans-serif;
  font-size: 16px;
  line-height: 1.2em;
  width: 240px;
}

.button {
  border: 2px solid #00a2ff;
  border-radius: 7px;
  display: inline-block;
  font-size: 16px;
  height: 43px;
  line-height: 43px;
  margin: 0 auto;
  width: 133px;
}

.overlay_button {
  border: 2px solid #000;
  border-radius: 12px;
  display: inline-block;
  font-size: 18px;
  height: 50px;
  line-height: 50px;
  margin: 11px;
  width: 200px;
}

#play_button {
  background-color: #eee;
  color: #333;
}

.emscripten_border {
  position: relative;
}

#gradient {
  background-image: linear-gradient(135deg, #70e1fd, #00a2ff);
  height: 768px;
  position: absolute;
  top: 0;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
}

p, ul, ol, dl {
  margin-bottom: 1em;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, dl {
  margin-left: 16px;
  margin-right: 16px;
}

img {
  vertical-align: top;
}


html, body {
  border: 0;
  color: #bbb;
  display: block;  /* No floating content on sides */
  font-family: 'Baloo 2', Ubuntu, verdana, sans-serif;
  font-size: 18px;
  height: 100%;
  line-height: 1.8;
  margin: 0;
  overflow: hidden; /*  Disable scrollbars */
  padding: 0;
  width: 100%;
}

canvas { display: block;
  height: 768px; margin: auto; 
  padding-right: 0;
  position: relative;
  width: 1024px;
}

div.emscripten { text-align: center; }      

/* the canvas *must not* have any border or padding, or mouse coords will be wrong */
canvas.emscripten {
  background-color: black; 
  border: 0 none;

  /* background-color: #00a2ff; */
}

#status {
  color: rgb(120 120 120);
  display: inline-block;
  font-weight: bold;
  text-align: center;
  width: 100%;
}

#modal_parent {
  background-color: rgb(0 0 0); /* Fallback color */
  background-color: rgb(0 0 0 / 40%); /* Black w/ opacity */
  display: none; /* Hidden by default */
  height: 100%; /* Full height */

  /* padding-top: 100px; Location of the box */
  left: 0;
  overflow: auto; /* Enable scroll if needed */
  position: fixed; /* Stay in place */
  top: 0;
  width: 100%; /* Full width */
  z-index: 1; /* Sit on top */
}

.modal_inner {
  display: none;
}

#play_content {
  color: white;
  z-index: 10;
}

#modal_content {
  background-color: #fefefe;
  border: 1px solid #888;
  box-sizing: border-box;
  margin: auto;
  padding: 20px;
  position: relative;
}

.error_message {
  color: red;
}

.error_text {
  color: red;
  font-family: sans-serif;
  font-size: 0.8em;
}

#modal_close_button {
  color: #aaa;

  /* float: right; */
  font-size: 28px;
  font-weight: bold;
  line-height: 28px;
  position: absolute;
  right: 15px;
  top: 10px;
  transition: 0.2s;
}

#modal_close_button:hover,
#modal_close_button:focus {
  color: #000;
  cursor: pointer;
  text-decoration: none;
}

a:link {
  color: #00B9FE;
  text-decoration: none;
  transition: 0.2s;
}

a:visited {
  color: #00B9FE;
}

a:hover, a:active {
  opacity: 0.5;
}

.link_image_button {
  margin-right: 10px;
}

.playstore075 {
  height: 45px;
  width: 153px;
}

.appstore075 {
  height: 45px;
  width: 135px;
}

#progress_or_play {
  margin-top: 10px;
}

#terms_p {
  color: rgb(20 20 20);
  font-family: sans-serif;
  font-size: 0.7em;
  margin-bottom: 0;
}

#terms_p a {
  color: rgb(240 240 240);
}

.deeplink_message {
  color: rgb(240 240 240);
  font-size: 1em;
  font-size: 20px;
  line-height: 1.1em;
}

.menu {
  color: rgb(240 240 240);
}

.level_button {
  background-color: #00a2ff;
  border: 2px solid #222;
  border-radius: 1em;
  color: rgb(240 240 240);
  height: 2.5em;
  justify-self: center;
  line-height: 1em;
  padding-top: 0.6em;
  position: relative;
  width: 5em;
}

.grid_element_center {
  justify-self: center;
}

.level_button_name {
  font-size: 0.6em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.level_button_number {
  font-size: 1.2em;
}

.level_button:hover  {
  background-color: #00c2ff;
}

.level_checkmark {
  font-size: 1.2em;
  line-height: 1.2em;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
}

.level_button a {
  color: rgb(240 240 240);
  opacity: 1;
}

.menu_items {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 20px;
}

.menu_header {
  font-size: 3em;
  margin-top: 40px;
}

#webview_content {
  background-color: transparent;
  display: none;
  height: 768px;
  position: absolute;
  top: 0;
  width: 100%;
}

.webview {
  background: transparent;
  border: 0;
  height: 100%;
  margin: 0;
  overflow: hidden;
  width: 100%;
}

