/* Stylesheet */
body,
html {
  background-color: #000;
  margin: 0;
  overflow: hidden;
  padding: 0;
  -webkit-tap-highlight-color: rgb(
    0
    0
    0 /
    0%
  ); /* with out this line ios safari in gd splash preloader has issue with dimmed box from splash preloader button */

  text-size-adjust: none;
  -webkit-touch-callout: none;
  user-select: none;
}

#content {
  height: 100%;
  outline: 0;
  position: relative;
  width: 100%;
}

#orientation {
  background-color: rgb(0 0 0);
  background-image: url("../rotate.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 25%;
  display: none;
  height: 100%;
  left: 0;
  margin: 0 auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}
