body {
  font-family:
    "Myriad Pro", Myriad, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  background-size: cover;
  font-family:
    "Myriad Pro", Myriad, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: regular;
  height: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
}

.webgl-content {
  background: #333;
}

#errorBrowserBlock,
#loadingBlock,
.webgl-content {
  height: 100vh;
  padding: 0;
  position: absolute;
  width: 100vw;
}

canvas {
  height: 100%;
  position: absolute;
  width: 100%;
}

#gameContainer {
  height: 100%;
  position: absolute;
  width: 100%;
}

#fullScreenButton,
#logoname {
  background-color: transparent;
  background-image: url("../img/fullScreen_on.png");
  background-size: 35px 35px;
  border: none;
  bottom: 5px;
  cursor: pointer;
  height: 35px;
  position: absolute;
  right: 5px;
  width: 35px;
}

#logoname {
  background-image: url("../img/logo-big.png");
  background-size: 141px 20px;
  bottom: 11px;
  height: 20px;
  left: 15px;
  width: 141px;
}

.subtitle {
  color: #fff;
  display: block;
  font-size: 15px;
  margin: auto;
  padding-bottom: 15px;
  padding-top: 15px;
  text-align: center;
}

.logo {
  display: block;
  height: 60px;
  margin: 20px auto;
  width: 265px;
}

.logo-game {
  border-radius: 20px;
  box-shadow: 0 20px 20px -10px rgb(0 0 0 / 30%);
  display: block;
  height: 150px;
  margin: auto;
  margin-top: 5px;
  width: auto;
}

#errorBrowserBlock,
#loadingBlock {
  background: #333;
  background-size: cover;
  z-index: 1;
}

.cover {
  background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  inset: 0;
  filter: blur(16px);
  opacity: 0.5;
  position: absolute;
  z-index: -1;
}

#errorContent,
#progressBar,
#warningBrowserBlock,
#warningMobileBlock {
  height: 25vh;
  margin: auto;
  text-align: center;
  width: 40vw;
}

#progressBar {
  color: #fff;
  font-size: 4vh;
  height: 8vh;
}

#errorContent,
#warningBrowserBlock,
#warningMobileBlock {
  color: #fff;
  font-size: 2.3vh;
  margin-top: 15vh;
}

.browserIcons {
  display: inline-flex;
  margin-top: 2vh;
}

.browserIcons a {
  width: 150px;
}

#errorContent {
  font-size: 3vh;
  margin-top: 5vh;
}

.centered {
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 770px;
}

.webgl-content * {
  border: 0;
  margin: 0;
  padding: 0;
}

.webgl-content {
  height: 100%;
  width: 100%;
}

.progress,
.webgl-content .logo {
  left: 50%;
  position: absolute;
  top: 45%;
  transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.webgl-content .logo {
  background: url("logo.png") no-repeat center/contain;
  height: 130px;
  width: 130px;
}

.webgl-content .progress {
  height: 18px;
  margin-top: 90px;
  width: 141px;
}

.webgl-content .progress .empty {
  background: url("TemplateData/progressEmpty.Light.png") no-repeat right/cover;
  display: inline-block;
  float: right;
  height: 100%;
  width: 100%;
}

.webgl-content .progress .full {
  background: url("TemplateData/progressFull.Light.png") no-repeat left/cover;
  display: inline-block;
  float: left;
  height: 100%;
  width: 0%;
}

.webgl-content .logo.Dark {
  background-image: url("logo.png");
}

.webgl-content .progress.Dark .empty {
  background-image: url("TemplateData/progressEmpty.Dark.png");
}

.webgl-content .progress.Dark .full {
  background-image: url("TemplateData/progressFull.Dark.png");
}

.webgl-content .footer {
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-size: 18px;
  height: 38px;
  line-height: 38px;
  margin-top: 5px;
}

.fullscreen,
.title,
.webgl-content .footer .webgl-logo {
  background: transparent center no-repeat;
  display: inline-block;
  height: 100%;
}

.webgl-content .footer .webgl-logo {
  background-image: url("TemplateData/webgl-logo.png");
  float: left;
  width: 204px;
}

.webgl-content .footer .title {
  float: right;
  margin-right: 10px;
}

.webgl-content .footer .fullscreen {
  background-image: url("TemplateData/fullscreen.png");
  float: right;
  width: 38px;
}

body,
html {
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 auto;
  width: 62vh;
}

#links2 {
  background-color: #fff;
  border-top-left-radius: 5px;
  bottom: 0;
  list-style: none;
  padding: 8px;
  position: absolute;
  right: 0;
}

#links2 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#links2 ul li {
  display: inline;
}

#links2 ul li a {
  color: #000;
  display: inline-block;
  margin-right: 10px;
  text-decoration: none;
}

#links2 ul li a.visited {
  color: #000;
}

#links2 ul li a:hover {
  opacity: 0.85;
}
