body {
    margin: 0;
    overflow: hidden;
    padding: 0;
}

.webgl-content * {
    border: 0;
    margin: 0;
    padding: 0;
}

#gameContainer canvas {
    background: #222;
    display: block;

    /* background: url('tunnelRush.jpg') no-repeat center; */

    /* background-color: black; */
}

.webgl-content {
    left: 50%;
    position: absolute;
    top: 50%;

    /* disable selection in games which select content when dragging mouse */
    -webkit-touch-callout: none;
    transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    user-select: none;
    user-select: none;
    user-select: none;
    user-select: none;
    user-select: none;
}

    .webgl-content .logo,
    .progress,
    .text {
        left: 50%;
        position: absolute;
        top: 40%;
        transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    .webgl-content .logo {
        background: url('logo.png') no-repeat center / contain;
        height: 155px;
        width: 500px;
    }

    .webgl-content .progress {
        height: 26px;
        margin-top: 120px;
        width: 211px;
    }

        .webgl-content .progress .empty {
            background: url('progressEmpty.Light.png') no-repeat right / cover;
            display: inline-block;
            float: right;
            height: 100%;
            width: 100%;
        }

        .webgl-content .progress .full {
            background: url('progressFull.Light.png') no-repeat left / cover;
            display: inline-block;
            float: left;
            height: 100%;
            width: 0%;
        }

    .webgl-content .text {
        /* color: blueviolet; */
        color: white;
        font-family: 'Times New Roman', Times, serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif, Helvetica, Verdana, sans-serif;
        font-size: 25px;
        font-weight: 700;
        margin-top: 170px;
        text-align: center;
        width: 500px;
    }

    .webgl-content .spinner {
        height: 100px;
        vertical-align: middle;
    }

    .webgl-content .logo.Dark {
        //background-image: url('logo.png');
    }

    .webgl-content .progress.Dark .empty {
        background: white;
    }

    .webgl-content .progress.Dark .full {
        background: royalblue;
    }

    .webgl-content .footer {
        background: #fff;
        font-family: Helvetica, Verdana, Arial, sans-serif;
        font-size: 18px;
        height: 38px;
        line-height: 38px;
        margin-top: 5px;
    }

        .webgl-content .footer .webgl-logo,
        .title,
        .fullscreen {
            background: transparent center no-repeat;
            display: inline-block;
            height: 100%;
        }

        .webgl-content .footer .webgl-logo {
            background-image: url('webgl-logo.png');
            float: left;
            width: 204px;
        }

        .webgl-content .footer .title {
            float: right;
            margin-right: 10px;
        }

        .webgl-content .footer .fullscreen {
            background-image: url('fullscreen.png');
            float: right;
            width: 38px;
        }
