
#clan-home{
	display: flex;
	flex-direction: column;
	width: 100%;
}

.clan-header{
    align-items: center;
    animation: gradient 5s ease infinite;
	background: var(--gray-scale-700-color);
	background-size: 400% 400%!important;
    border-radius:var(--second-border-radius);
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0; 
	box-sizing: border-box;
    color: #fff;
	display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 25px 20px;
	position: relative;
	width: 100%;
}

@keyframes gradient{
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
     background-position: 0% 50%;
  }
}
@keyframes gradient{
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
     background-position: 0% 50%;
  }
}

.clan-header.clan-level-1{
	background: rgb(73 128 250);
	background: linear-gradient(90deg, rgb(73 128 250 / 100%) 0%, rgb(60 92 163 / 100%) 100%);
}

.clan-header.clan-level-2{
	background: rgb(255 163 36);
	background: linear-gradient(90deg, rgb(255 163 36 / 100%) 0%, rgb(184 109 5) 100%);
	text-shadow: 0 0 5px var(--gray-scale-800-color);
}

.clan-header.clan-level-3{
	background: rgb(255 35 36);
	background: linear-gradient(90deg, rgb(255 35 36 / 100%) 0%, rgb(172 5 5) 100%);
	text-shadow: 0 0 5px var(--gray-scale-800-color);
}

.clan-header.clan-level-4{
	background: rgb(255 35 36);
	background: linear-gradient(65deg, rgb(229 64 202 / 50%), rgb(228 60 26 / 50%), rgb(235 250 61 / 50%), rgb(128 249 56 / 50%), rgb(130 250 223 / 50%), rgb(45 78 250 / 50%), rgb(164 48 250 / 50%));
	text-shadow: 0 0 5px var(--gray-scale-800-color);
}

.clan-level{
	filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(0 0 5px var(--gray-scale-700-color));
	margin-right: 15px;
	position: relative;
}

.clan-level img {
	width: 57px;
}

.clan-level p{
    align-items: center;
    color: #fff!important;
	display: flex;
    flex-direction: column;
    font-size: 25px!important;
    font-weight: bold;
    justify-content: center;
	left: 50%;
    line-height: 1;
    margin: 0;
	position: absolute;
    text-align: center;
    text-shadow: 0 1px 3px #000;
	top: 50%;
	transform: translate(-50%, -50%);
}

.clan-level span {
  font-size: 13px;
}

.clan-info{
	align-items: center;
	display: flex;
	flex-direction: row;
	font-size: 25px;
	font-weight: bold;
}

.clan-status{
	display: flex;
	flex-direction: column;
}

.clan-owner{
	align-items: center;
	color: #e5e5e5;
	display: flex;
	flex-direction: row;
	font-size: 20px;
	letter-spacing: 0.05rem;
	margin-top: 10px;
}

.clan-owner img{
	filter: brightness(0.9);
	margin-right: 5px;
	width: 25px;
}

.clan-amount{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.clan-amount .amount{
	align-items: center;
	color: #fff;
	display: flex;
	flex-direction: row;
}

.clan-amount .amount p{
	margin: 5px;
}

.clan-amount .deposit{
	display: flex;
  flex-direction: column;
  margin-top: 5px;
	position: relative;
	width: 100%;
}

.clan-amount .deposit .deposit-field	{
	display: flex;
	flex-direction: row;
}

.deposit-field input{
    background: #000;
		border: 2px solid #ff9502;
    border-radius: 5px;
    color: #fff;
    margin-right: 10px;
    outline: none!important;
    padding: 10px;
}

.deposit-field .btn-clan{
	background: transparent;
	border: 2px solid #ff9502;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	font-weight: normal;
	padding: 10px;
	transition: ease all 0.3s;
	width: 100%;
}

.clan-amount .deposit p{
	 	color: #858585;
    margin: 10px 0 0;
}

.deposit-field  .btn-clan:hover{
	background: #ff9502;
	border: 2px solid #fff;
	color: #000;
}

.clan-amount img{
	margin:0 5px;
	width: 20px;
}

.clan-amount img.space{
	margin-left: 30px;
}

.clan-content{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	width: 100%;
}


.clan-details-wrapper{
	align-items: flex-start;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 30px;
	position: relative;
	width: 100%;
}

.clan-details-wrapper .clan-box{
	margin-right: 30px;
	position: relative;
	width: calc(100% - 30px);
}

.clan-details-wrapper .clan-box.fix{
	max-height: 322px;
	overflow: hidden auto;
}

.clan-details-wrapper .clan-box h4{
    color: #fff;
	font-size: var(--alt-title-font-size);
	margin-top: 0;	
}

.clan-details{
	box-sizing: border-box;
	padding: 0 0 0 30px;
	position: relative;
	width: 40%;
}

.clan-details ul{
	align-items: center;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	list-style: none;
	margin: 0;
	padding: 0;
}

.clan-details ul li{
	align-items: center;
	background: #655d53;
	border-radius: 5px;
	color: #fff;
	display: flex;
	flex-direction: column;
	font-size: 18px;
	height: 55px;
	justify-content: center;
	margin-bottom: 3%;
	text-align: center;
	width: 47%;
}

.clan-details ul li:last-child{
	width: 100%;
}

.clan-details ul li span{
	color: #cdcdcd;
	font-size: 15px;
}

.clan-details .clan-social{
    margin: 0 auto;
	width: 100%;
}

.clan-details .clan-social a{
    align-items: center;
    background: rgb(73 100 233);
	background: linear-gradient(180deg, rgb(73 100 233 / 100%) 0%, rgb(55 76 178 / 100%) 69%);
    border-radius: 5px;
	box-sizing: border-box;
	color: #fff;
	display: flex;
    flex-direction: row;
	font-weight: 500;
    justify-content: center;
    margin: 0 auto;
    padding: 10px;
	text-decoration: none;
	transition: ease all 0.2s;
	width: 100%
}

.clan-details .clan-social a:hover{
	transform: scale(1.05);
}

.clan-details .clan-social a img{
	margin-right: 5px;
}

.clan-bank-wrapper{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.top-donator{
	display: flex;
	flex-direction: column;
}

.top-donator .top-donator-head{
	align-items: center;
	color: #fff;
	display: flex;
	flex-direction: row;
	font-size: 15px;
}

.top-donator .top-donator-head h2{
	margin: 0;
}

.top-donator ul{
	border-bottom: 1px solid #3e3e3e;
	display: flex;
	flex-direction: row-reverse;
	list-style: none;
	padding: 0;
}

.top-donator ul li {
	color: #fff;
	margin: 0 10px 10px 0;
	padding: 10px 5px 10px 0;
}

.top-donator ul li:last-child{
	border-radius: 0;
}

.top-donator ul li img{
	width: 15px
}


.clan-levels{
	margin: 50px 0 0;
	position: relative;
	width: 100%;
}

.clan-levels h2{
	color: #fff;
	font-size: 25px;
}

.clan-levels ul{
	align-items: flex-start;
	display: flex;
	flex-direction: row;
	list-style: none;
	padding: 20px 0 0;
	width: 100%;
}

.clan-levels ul li {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	width: calc(100% / 5);
}

.clan-levels ul li::after{
	background: #6c6c6c;
	border-radius: 2px;
	content: "";
	height: 1px;
	position: absolute;
	right: -35%;
	top: 25px;
  transform: translateY(-50%);
  width: 70%;
}

.clan-levels ul li:last-child::after{
	content: none;
}

.clan-levels li .icons{
	border-radius: 100%;
	height: 50px;
	position: relative;
	width: 50px;
	z-index: 1;
}

.clan-levels li .icons p{
  bottom: -30px;
  color: #fff;
  font-size: 17px;
  font-weight: normal;
  left: 50%;
  margin: 0;
	position: absolute;
  text-align: center;
  transform: translateX(-50%);
  width: max-content;
}

.clan-levels li .level-four{
	width: 50px;
}

.clan-levels li .icon{
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 35px
}

.clan-levels li .level-detail{
	background: url("../Textures/Icons/Top-Seperator.png") no-repeat;
  	background-position: top center;
 	 background-size: 100% 15px;
	color: #fff;
	font-size: 15px;
	margin-top: 40px;
	text-align: center;
}

.clan-levels li .level-detail p{
	margin: 10px 0;
}

.clan-levels li .level-detail p:first-child{
	margin-top: 30px;
}


.clan-roles{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	position: relative;
}

.clan-member-roles{
	border-right: 2px solid var(--gray-scale-700-color);
	padding: 0 30px 0 0;
	position: relative;
	width: 30%;
}

.clan-roles .edit-role{
	padding: 0 0 0 30px;
	position: relative;
	width: 70%;
}

.clan-roles > div:last-child{
	padding-right: 0;
}

.clan-member-roles::after{
	/* content: "";
	position: absolute;
	right: 10%;
	top: 50%;
	width: 30px;
	height: 30px;
	transform: translateY(-50%);
	background: url('Caret-Icon.png') no-repeat;
	background-size: 100%;
	background-position: center center; */
}

.clan-member-roles h2,
.clan-roles .edit-role h2{
	color: #fff;
	font-size: 20px;
	margin: 0 0 10px;
}

.clan-member-roles table{
	display: inline-block;
	max-height: 400px;
	overflow: hidden auto;
}

.clan-member-roles .pull-right{
	text-align: right;
}

.clan-roles .role-form {
	padding: 20px 0;
}

.clan-roles .role-form .field{
	align-items: center;
	display: flex;
	flex-direction: row;
}

.clan-roles .role-form .field.right-align{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	margin-top: 20px;
}

.clan-roles .role-form .field label{
	margin: 0 15px 0 0;
}

.clan-roles .role-form .field input{
	font-size: 16px;
}

.clan-roles .role-form .field input.readdonly {
  background: no-repeat;
	background: #000;
	border: 0;
	color: #fff;
}

.clan-roles .role-form .field input[type="checkbox"]{
	margin: 0;
}

.admin-settings,
.member-settings{
	margin-bottom: 50px;
}

.clan-content .stats-box:first-child{
	top: -113px;
}

.clan-social .stats-col li{
	margin-bottom: 0;
}

.clan-social{
	align-items: center;
	background: linear-gradient(90deg, rgb(0 0 0 / 70%) 0%, rgb(0 0 0 / 0%) 100%);
    border-left: 4px solid var(--second-color);
	border-radius: var(--second-border-radius);
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
	display: flex;
	flex-direction: row;
	padding: 10px;

	/* position: absolute; */

    /* left: 55%; */

    /* transform: translateX(-50%); */

    /* bottom: -40px; */
	width: fit-content;
}

.clan-social h2{
	font-size: var(--alt-title-font-size );
	margin: 0;
	padding-right: 25px;
}

.clan-social a{
	align-items: center;
	display: flex;
	flex-direction: row;
	margin-left: 25px;
	position: relative;
	
}

.clan-social a::after{
	background-color: #dedede;
	content: "";
	height: 100%;
	left: -25px;
	position: absolute;
	width: 2px;
}

.clan-social a img{
	margin-right: 5px;
}


/* ========================================

             Responsive Section

 ======================================== */

/* Ultra Laptop & Tablets */
@media only screen and (width <= 1200px){
	.clan-header{
		z-index: 2;
	}

	.clan-details-wrapper{
		flex-direction: column-reverse;
	}

	.clan-details-wrapper .clan-box.fix{
		margin-top: 40px;
		width: 100%;
	}

	.clan-content .stats-box:first-child{
		top: initial;
	}

	.clan-social{
		bottom: initial;
		left: 17px;
		padding: 13px 10px;
		position: relative;
		transform: initial;
	}
}


@media only screen and (width <= 900px){
	.clan-roles{
    	border-top: 2px solid var(--gray-scale-700-color);
		flex-wrap: wrap;
    	margin: 15px 0 30px 0 0;
    	padding: 15px 0 0;
	}
	
	.clan-member-roles,
	.clan-roles .edit-role{
		border: 0;
		padding: 0;
		width: 100%;
	}
}



@media only screen and (width <= 550px){
	.clan-social {
		box-sizing: border-box;
		left: 0;
    	width: 100%;
	}
}


/* Clan */
.mobile #clan-home,
.mobile #clan-matches,
.mobile #clan-bank,
.mobile #clan-members,
.mobile #clan-settings,
.mobile #messages,
.mobile #following-table,
.mobile #add-friend{
    padding-bottom: 30px;
}

.mobile .clan-header{
    align-items: center;
    display: flex;
    flex-direction: row;
    height: initial;
    justify-content: space-between;
}

.mobile .clan-owner{
    font-size: 19px;
}

.mobile .clan-level img {
    width: 45px;
}

.mobile #clan-hub {
    display: flex;
    flex-direction: row;
}

.mobile .clan-details ul li{
    font-size: 17px;
    height: 45px;
}

.mobile #clan-home .chat-box{
    height: 165px;
}

.mobile .clan-level p{
    font-size: 20px!important;
    margin-top: -5px;
}

.mobile .clan-levels {
    margin: 25px 0 0;
}

.mobile .top-donator .top-donator-head h2{
    font-size: 20px;
}

.mobile #account-wrapper table button.btn-table{
    font-size: 16px!important;
    padding: 5px 15px!important;
}

.mobile .clan-member-roles table{
    display: table;
    width: 95%;
}

.mobile .clan-roles .role-form{
    padding: 0;
}

.mobile .clan-roles .field-wrap{
    align-items: flex-start;
    flex-direction: column;
}

.mobile .clan-roles .role-form .field{
    border-bottom: solid 2px #383838;
    justify-content: space-between;
    margin: 5px 0;
    padding: 5px 0;
}

.mobile .clan-roles .role-form .field.right-align{
    margin-top: 10px;
}

.mobile .clan-roles .role-form .field:last-child{
    border-bottom: 0;
}


.mobile .field-info.half {
    margin-bottom: 0;
    padding: 10px 15px;
    width: 100%;
}

.mobile #clan-hub .tab-scroll {
    /* height: calc(75vh - 75px); */
    height: initial;
}
