@import url("Common.css");
@import url("Table.css");
@import url("Form.css");

#settings{
    background-color: rgb(27 27 27);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}