
/****************************************
  ==== RESETS
****************************************/

html,body,div,canvas { margin: 0; padding: 0; }
::selection { color: #333; text-shadow: none; }
::selection {  color: #333; text-shadow: none; }
.clear::after { clear: both; content: " "; display: block; font-size: 0; height: 0; visibility: hidden; }
.clear { clear: both; display: inline-table; }
/* Hides from IE-mac \ */ * html .clear { height: 1%; } .clear { display: block; } /* End hide from IE-mac */

/****************************************
  ==== LAYOUT
****************************************/

html, body { font-family: Helvetica, Verdana, Arial, sans-serif; height: 100%; width: 100%; }
div.logo { background: url("logo.png") 0 0 no-repeat; float: left; height: 49px; position: relative; width: 380px; z-index: 10; }
div.title { color: #333; float: right; font-size: 18px; height: 38px; line-height: 38px; margin: 0; padding: 0 10px; position: relative; text-align: right; z-index: 10; }
.template-wrap { left: 50%; position: absolute; top: 50%; transform: translate(-50%, -50%); transform: translate(-50%, -50%); }
.template-wrap canvas { margin: 0; position: relative; z-index: 9; }
.fullscreen { float: right; position: relative; z-index: 10; }

#background { background: #f0f0f0; position: absolute; }
#screen { left: 50%; position: absolute; text-align: center; top: 50%; transform: translate(-50%, -50%); transform: translate(-50%, -50%); width: 100%; }
#y8-logo { background-image: url('logo.png'); height: 49px; margin: 0 auto; width: 380px; }
#progress-frame-loader { height: 10px; margin: 0 auto; margin-top: 10px; visibility: hidden; width: 380px; }
#progress-bar-loader { height: 10px; margin: 0 auto; margin-top: -18px; text-align: left; width: 380px; }
#progress-bar { height: 10px; }
#message-area { color: #969696; width: 100%; }
#message-area img { vertical-align: middle; }
