html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	background: #000!important;
	margin: 0;
	overflow: hidden;
}

#gameContainer {
	background: #000!important;
	height: 100vh;
	width: 100vw;
}

canvas {
	display: block;
	height: 100%;
	width: 100%;
}

/* try to handle mobile dialog */

canvas + * {
	z-index: 2;
}

.progress {
	border: 1px solid white;
    bottom: 15%;
	display: none;
	margin: 1.5em;
	position: fixed;
	width: 35vw;
}

.progress .full {
	background: white;
	height: 1em;
	margin: 2px;
	transform-origin: top left;
}

#loader {
	align-items: center;
	background-image: url("splash.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% auto;
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: center;
	left: 0;
	position: absolute;
	top: 0;
	width: 100vw;
}

.spinner,
.spinner::after {
	border-radius: 50%;
	height: 5em;
	width: 5em;
}

.spinner {
	animation: spinner-spin 1.1s infinite linear;
	border-bottom: 1.1em solid rgb(255 255 255 / 20%);
	border-left: 1.1em solid #fff;
	border-right: 1.1em solid rgb(255 255 255 / 20%);
	border-top: 1.1em solid rgb(255 255 255 / 20%);
	font-size: 10px;
	margin: 10px;
	position: relative;
	text-indent: -9999em;
	transform: translateZ(0);
}

@keyframes spinner-spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.ad {
	background: rgb(0 0 0 / 40%);
	display: none;
	overflow: hidden;
}

.modal{
	background:rgb(0 0 0 / 40%);
	inset: 0;
	display:none;
	height:100%;
	position:fixed;
	width: 100%;
	z-index:10000;
}

.modalContent{
	margin: auto;
	width: 100%;
}

.centered {
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  cursor: pointer;
  text-decoration: none;
}

#continueWindow{
	background-color: #fefefe;
	border: 1px solid #888;
	margin: 15% auto;
	padding: 20px;
	width: 30%;
}

#adWindow{
	background: #4382f5;
	border: 10px solid #4382f5;
	border-top: 0;
	height: 540px;
	width: 660px;
}

.ads{
	display: flex;
	flex-direction: column;
	height:100%;
	justify-content: space-evenly;
	position: absolute;
	z-index:40;
}

.ad-rectangle-bottom {
	border-color: rgb(0 0 0 / 1%);
	border-style: solid;
	border-width: 4px 4px 4px 0;
	height: 258px;
	width: 304px;
}

.ad-rectangle-upper {
	border-color: rgb(0 0 0 / 1%);
	border-style: solid;
	border-width: 4px 4px 4px 0;
	height: 258px;
	width: 304px;
}

.ad-leaderboard-bottom {
	border-color: rgb(0 0 0 / 1%);
	border-style: solid;
	border-width: 4px 4px 4px 0;
	height: 608px;
	width: 304px;
}

@media (height >= 900px) {
	.ad-smallscreen{
		display: none;
	}
}

@media (height <= 900px) {
	.ad-largescreen{
		display: none;
	}
}

#adWindow {
	border: 10px solid #4382f5 !important;
	height: 500px !important;
}

a[onclick*="showConsentToolSettings"] {
	left: auto !important;
	right: 0;
}