html {
    background-color: #1d292c;
    height: 100%;
    width: 100%;
}

body {
    background-color: #1d292c;
    font-family: Helvetica, arial, sans-serif;
    height: 100%;
    margin: 0;
    max-height: 100%;
    overflow: hidden;
    position: relative;
    -webkit-tap-highlight-color: transparent;
    width: 100%;
}

#application-canvas {
    inset: 0;
    display: block;
    position: absolute;
}

#application-canvas.fill-mode-NONE {
    margin: auto;
}

#application-canvas.fill-mode-KEEP_ASPECT {
    height: auto;
    margin: 0;
    width: 100%;
}

#application-canvas.fill-mode-FILL_WINDOW {
    height: 100%;
    margin: 0;
    width: 100%;
}

canvas:focus {
    outline: none;
}