/*
 * Generic styles
 */
html {
  height: 100%;
  overflow: hidden;
  text-size-adjust: none;
}

body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  -webkit-touch-callout: none;
  user-select: none;
  user-select: none;
  user-select: none;
  user-select: none;
  user-select: none;
}

canvas {
  display: block;
  touch-action: none;
}
