body {
  margin: 0;
  padding: 0;
}

#unity-container {
  height: 100%;
  position: fixed;
  width: 100%;
}

#unity-canvas {
  background: #231f20;
  height: 100%;
  width: 100%;
}

#unity-loading-bar {
  display: none;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

#unity-logo {
  background: url("unity-logo-dark.png") no-repeat center;
  height: 130px;
  width: 154px;
}

#unity-progress-bar-empty {
  background: url("progress-bar-empty-dark.png") no-repeat center;
  height: 18px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 141px;
}

#unity-progress-bar-full {
  background: url("progress-bar-full-dark.png") no-repeat center;
  height: 18px;
  margin-top: 10px;
  width: 0%;
}

#unity-warning {
  background: white;
  display: none;
  left: 50%;
  padding: 10px;
  position: absolute;
  top: 5%;
  transform: translate(-50%);
}
