/****************************************
  ==== RESETS
****************************************/

html,
body,
div,
canvas {
  margin: 0;
  padding: 0;
}

::selection {
  color: #333;
  text-shadow: none;
}

::selection {
  color: #333;
  text-shadow: none;
}

.clear::after {
  clear: both;
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
}

.clear {
  clear: both;
  display: inline-table;
}

/* Hides from IE-mac \ */
* html .clear {
  height: 1%;
}

.clear {
  display: block;
} /* End hide from IE-mac */

/****************************************
  ==== LAYOUT
****************************************/

html,
body {
  font-family: Helvetica, Verdana, Arial, sans-serif;
  height: 100%;
  width: 100%;
}

body {
}

p.header,
p.footer {
  display: none;
}

div.logo {
  background: url("logo.png") 0 0 no-repeat;
  float: left;
  height: 38px;
  position: relative;
  width: 204px;
  z-index: 10;
}

div.title {
  color: #333;
  float: right;
  font-size: 18px;
  height: 38px;
  line-height: 38px;
  margin: 0 1px 0 0;
  padding: 0 10px;
  position: relative;
  text-align: right;
  z-index: 10;
}

.template-wrap {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.template-wrap canvas {
  box-shadow: 0 10px 30px rgb(0 0 0 / 20%);
  box-shadow: 0 10px 30px rgb(0 0 0 / 20%);
  margin: 0 0 10px;
  position: relative;
  z-index: 9;
}

.fullscreen {
  float: right;
  position: relative;
  z-index: 10;
}

body.template {
}

.template .template-wrap {
}

.template .template-wrap canvas {
}
