root { 
    display: block;
}

body{
    background-color: #000;
    background-image: url("../sprites/bg_tile.jpg");
    background-position: top;
    background-repeat: repeat-x;    
}

*, *::before, *::after {
    user-select: none;
    user-select: none;
    user-select: none;
    user-select: none;
    user-select: none;
}
     
input, input::before, input::after {
    user-select: initial;
    user-select: initial;
    user-select: initial;
    user-select: initial;
    user-select: initial;
}

::selection { background: transparent;color:inherit; }
::selection { background: transparent;color:inherit; }

#canvas{
    position: fixed;
}

canvas {
    image-rendering: optimizespeed;
    image-rendering:crisp-edges;
    image-rendering:-webkit-optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
	touch-action: none;
}

.ani_hack{
    backface-visibility: hidden;
    outline: none;
    perspective: 1000;
    -webkit-tap-highlight-color: transparent; /* mobile webkit */
    -webkit-touch-callout: none;
    user-select: none;
    user-select: none;
    user-select: none;
    user-select: none;
    user-select: none;
}

/*************** FONTS *******************/

@font-face {
  font-family: ComicSansMS-Bold;
  font-style: normal;
  font-weight: normal;
  src: url('ComicSansMS-Bold.eot?#iefix') format('embedded-opentype'),  url('ComicSansMS-Bold.woff') format('woff'), url('ComicSansMS-Bold.ttf')  format('truetype'), url('ComicSansMS-Bold.svg#ComicSansMS-Bold') format('svg');
}

@font-face {
    font-family: arialrounded;
    font-style: normal;
    font-weight: normal;
    src: url('arial_rounded_mt_bold_bold-webfont.eot');
    src: url('arial_rounded_mt_bold_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('arial_rounded_mt_bold_bold-webfont.woff2') format('woff2'),
         url('arial_rounded_mt_bold_bold-webfont.woff') format('woff'),
         url('arial_rounded_mt_bold_bold-webfont.ttf') format('truetype'),
         url('arial_rounded_mt_bold_bold-webfont.svg#arialrounded') format('svg');

}

/* advertisement */

#canvas{
    }

#adv_mainContainer {
  background: none;
  display:none;
  height: 360px;
  overflow: hidden;
  pointer-events:all;
  position: fixed;
  width: 640px;
  z-index: 1;
}

#adv_content, #adv_adContainer {
  height: 100%;
  left: 0;
 overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
     z-index: 1;

 /* pointer-events:all; */
}

#adv_contentElement {
  height: 0;
  overflow: hidden;
  width: 0;
}
