html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

canvas {
  display: block;
}

body {
  margin: 0;
}

#unity-container {
  height: 100%;
  position: relative;
  width: 100%;
}

#unity-canvas {
  background: #404040;
  height: 100%;
  width: 100%;
}

#loading-cover {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

#unity-loading-bar {
  align-items: center;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: center;
}

.progress-spinner-container {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  width: 40%;
}

.spinner-left,
.spinner-right {
  height: 40px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
}

.spinner-left {
  left: -50px;
}

.spinner-right {
  right: -50px;
}

.spinner-left img,
.spinner-right img {
  animation: rotateSpinner 1s linear infinite;
  height: 100%;
  width: 100%;
}

@keyframes rotateSpinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#unity-logo {
  text-align: center;
}

#unity-logo img {
  max-height: 80%;
  max-width: 80%;
}

#unity-progress-bar-empty {
  background: gray;
  border-radius: 12px;
  height: 24px;
  padding: 2px;
  width: 100%;
}

#unity-progress-bar-full {
  background: #e5e5e5;
  border-radius: 10px;
  height: 100%;
  width: 0%;
}

.light #unity-progress-bar-empty {
  border-color: #000;
}

.light #unity-progress-bar-full {
  background: #000;
}
