.webgl-content * {
  border: 0;
  margin: 0;
  padding: 0;
}

.webgl-content {
  left: 0;
  top: 0;
}

.webgl-content .logo,
.progress {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.webgl-content .logo {
  background: url("progressLogo.Light.png") no-repeat center / contain;
  height: 130px;
  width: 154px;
}

.webgl-content .progress {
  height: 18px;
  margin-top: 90px;
  width: 141px;
}

.webgl-content .progress .empty {
  background: url("progressEmpty.Light.png") no-repeat right / cover;
  display: inline-block;
  float: right;
  height: 100%;
  width: 100%;
}

.webgl-content .progress .full {
  background: url("progressFull.Light.png") no-repeat left / cover;
  display: inline-block;
  float: left;
  height: 100%;
  width: 0%;
}

.webgl-content .logo.Dark {
  background-image: url("progressLogo.Dark.png");
}

.webgl-content .progress.Dark .empty {
  background-image: url("progressEmpty.Dark.png");
}

.webgl-content .progress.Dark .full {
  background-image: url("progressFull.Dark.png");
}

.webgl-content .footer {
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-size: 18px;
  height: 38px;
  line-height: 38px;
  margin-top: 5px;
}

.webgl-content .footer .webgl-logo,
.title,
.fullscreen {
  background: transparent center no-repeat;
  display: inline-block;
  height: 100%;
}

.webgl-content .footer .webgl-logo {
  background-image: url("webgl-logo.png");
  float: left;
  width: 204px;
}

.webgl-content .footer .title {
  float: right;
  margin-right: 10px;
}

.webgl-content .footer .fullscreen {
  background-image: url("fullscreen.png");
  float: right;
  width: 38px;
}

body,
html {
  margin: 0;
  padding: 0;
}

#gameContainer canvas {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.simmer {
  bottom: 10px;
  color: #aaa;
  font-family: sans-serif;
  font-size: 9px;
  position: absolute;
  right: 10px;

  /* want to remove the simmer branding? uncomment display:none below! */

  /* display:none; */
}

.simmer a {
  color: #ccc;
  font-size: 12px;
  text-decoration: none;
  transition: opacity 3s;
}

.simmer a:hover {
  color: #fff;
  text-decoration: underline;
}

.simmer.hide {
  opacity: 0;
}
