@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: Inter !important;
  margin: 0;
  padding: 0;
}

#adWrapper {
  height: 100%;
  width: 100%
}

#adContainer {
  height: 100%;
  width: 100%
}

#videoContent {
  height: 100%;
  overflow: hidden;
  position: absolute;
  width: 100%
}

#game-container {
  background-color: #5a7371;
  inset: 0 0 45px;
  box-shadow: 0 5px 5px #888;
  position: absolute;
  z-index: 0
}

#game-container.fullscreen {
  bottom: 0
}

#unity-container.unity-mobile {
  height: 100%;
  width: 100%
}

.unity-mobile .game-footer {
  display: none
}

.unity-mobile #game-container {
  bottom: 0
}

.game-footer {
  display: none !important;
}

.game-btn {
  background: 3cc0dc;
  background: linear-gradient(to bottom, #259cd8 0%, #3CC0DC 100%);
  border: solid #d0e0ea 2px;
  border-radius: 15px;
  border-radius: 15px;
  border-radius: 15px;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 20px;
  font-weight: 700;
  margin: 0 auto;
  padding: 10px;
  text-decoration: none;
  text-shadow: 1px 1px 3px #666;
  text-transform: uppercase
}

.game-btn:hover {
  background: #00a6e7;
  background-image: linear-gradient(to bottom, #00a6e7, #1a91cf);
  text-decoration: none
}

.game-btn-link:hover {
  text-decoration: none
}

.game-footer {
  box-sizing: content-box;
  user-select: none;
  user-select: none
}

.game-footer .game-footer-logo {
  font-size: 24px;
  height: 45px;
  line-height: 45px;
  margin: 0;
  padding: 0 10px
}

.game-footer .game-footer-logo a,
.game-footer .game-footer-logo a:hover,
.game-footer .game-footer-logo a:active {
  color: inherit;
  text-decoration: none
}

.game-footer .game-footer-fullscreen-btn img {
  transition: all .2s ease-in-out
}

.game-footer .game-footer-fullscreen-btn:hover img {
  transform: scale(1.15)
}

.game-footer .game-footer-btn {
  color: #fff;
  cursor: pointer;
  font-weight: 700;
  height: 45px;
  margin-left: 5px;
  overflow-y: hidden
}

.game-footer .game-footer-btn.game-footer-logo {
  margin: 0
}

.game-footer .game-footer-btn:hover {
  background-color: #719290
}

.game-footer .game-footer-btn a.game-footer-link {
  display: inline-block;
  height: 45px;
  line-height: 45px
}

.game-footer .game-footer-btn a.game-footer-link:link,
.game-footer .game-footer-btn a.game-footer-link:visited {
  color: inherit;
  text-decoration: none
}

.game-footer .game-footer-more {
  font-size: 16px;
  padding: 0 10px;
  text-transform: uppercase
}

.game-footer .game-footer-img-button {
  cursor: pointer;
  height: 45px;
  overflow-x: hidden;
  width: 70px
}

.game-footer .game-footer-img-button div {
  height: 45px;
  text-align: center
}

.game-footer .game-footer-img-button div a {
  font-size: 0;
  height: 45px;
  line-height: 62px;
  width: 70px
}

.gameloader {
  overflow: hidden;
  user-select: none;
  user-select: none
}

.gameloader .gameloader-game-name {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-shadow: 1px 1px 1px #00476c;
  text-transform: uppercase
}

.gameloader .gameloader-logo {
  margin: 8px 0 15px;
  width: 300px
}

.gameloader .gameloader-logo img {
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 30%);
  width: 100%
}

.gameloader .gameloader-progressbar {
  background-color: #fff;
  border-radius: .6vh;
  flex-grow: 1;
  height: 1.2vh;
  transition: .2s ease-out all;
  width: 300px
}

@keyframes fillColor {
  0% {
    background-color: #3cf7dc
  }

  25% {
    background-color: #ffa9be
  }

  50% {
    background-color: #ffdc00
  }

  75% {
    background-color: #e0aef5
  }

  100% {
    background-color: #3cf7dc
  }
}

.gameloader .gameloader-progressbar .gameloader-progressbar-progress {
  animation-duration: 3.5s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-name: fillColor;
  background-color: #3cf7dc;
  border-radius: .6vh;
  height: 100%;
  transition: .2s ease-out all;
  width: 0
}

.gameloader .gameloader-progress-info {
  color: #fff;
  font-size: 14px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6px;
  text-align: center;
  text-shadow: 1px 1px 1px #00476c
}

.loader-hidden {
  display: none
}

.loader-active {
  display: block
}

a {
  text-decoration: none
}

a:hover {
  text-decoration: none
}

.ball-beat,
.ball-beat>div {
  box-sizing: border-box;
  box-sizing: border-box;
  box-sizing: border-box;
  position: relative
}

.ball-beat {
  color: #fff;
  display: block;
  font-size: 0
}

.ball-beat>div {
  background-color: currentcolor;
  border: 0 solid currentcolor;
  display: inline-block;
  float: none
}

.ball-beat {
  height: 36px;
  width: 108px
}

.ball-beat>div {
  animation: ball-beat .7s -.15s infinite linear;
  animation: ball-beat .7s -.15s infinite linear;
  animation: ball-beat .7s -.15s infinite linear;
  animation: ball-beat .7s -.15s infinite linear;
  border-radius: 100%;
  height: 20px;
  margin: 8px;
  width: 20px
}

.ball-beat>div:nth-child(2n-1) {
  animation-delay: -.5s;
  animation-delay: -.5s;
  animation-delay: -.5s;
  animation-delay: -.5s
}

@keyframes ball-beat {
  50% {
    opacity: .2;
    transform: scale(.75);
    transform: scale(.75)
  }

  100% {
    opacity: 1;
    transform: scale(1);
    transform: scale(1)
  }
}

@keyframes ball-beat {
  50% {
    opacity: .2;
    transform: scale(.75);
    transform: scale(.75)
  }

  100% {
    opacity: 1;
    transform: scale(1);
    transform: scale(1)
  }
}

@keyframes ball-beat {
  50% {
    opacity: .2;
    transform: scale(.75);
    transform: scale(.75)
  }

  100% {
    opacity: 1;
    transform: scale(1);
    transform: scale(1)
  }
}

@keyframes ball-beat {
  50% {
    opacity: .2;
    transform: scale(.75);
    transform: scale(.75);
    transform: scale(.75);
    transform: scale(.75)
  }

  100% {
    opacity: 1;
    transform: scale(1);
    transform: scale(1);
    transform: scale(1);
    transform: scale(1)
  }
}

canvas {
  height: 100vh !important;
  width: 100vw !important;
}

.jss128 {
  font-weight: 700;
  text-shadow: 2px 2px 2px #00476c
}

.jss129 {
  color: #fff
}

.jss130 {
  color: #d7ebf6;
  font-size: 18px;
  font-weight: 400
}

.jss131 {
  font-weight: 700;
  text-shadow: 2px 2px 2px #00476c
}

.jss132 {
  color: #fff
}

.jss133 {
  color: #d7ebf6;
  font-size: 18px;
  font-weight: 400
}

.jss125 {
  font-weight: 700;
  text-shadow: 2px 2px 2px #00476c
}

.jss126 {
  color: #fff
}

.jss127 {
  color: #d7ebf6;
  font-size: 18px;
  font-weight: 400
}

.jss122 {
  color: #bcdd55
}

.jss123 {
  color: #fff
}

.jss124 {
  color: #20defd
}

.jss31 {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  z-index: 1
}

.jss32 {
  box-sizing: border-box;
  margin: 0
}

.jss33 {
  min-width: 0
}

.jss34 {
  flex-direction: column
}

.jss35 {
  flex-direction: column-reverse
}

.jss36 {
  flex-direction: row-reverse
}

.jss37 {
  flex-wrap: nowrap
}

.jss38 {
  flex-wrap: wrap-reverse
}

.jss39 {
  align-items: center
}

.jss40 {
  align-items: flex-start
}

.jss41 {
  align-items: flex-end
}

.jss42 {
  align-items: baseline
}

.jss43 {
  align-content: center
}

.jss44 {
  align-content: flex-start
}

.jss45 {
  align-content: flex-end
}

.jss46 {
  align-content: space-between
}

.jss47 {
  align-content: space-around
}

.jss48 {
  justify-content: center
}

.jss49 {
  justify-content: flex-end
}

.jss50 {
  justify-content: space-between
}

.jss51 {
  justify-content: space-around
}

.jss52 {
  margin: -4px;
  width: calc(100% + 8px)
}

.jss52>.jss32 {
  padding: 4px
}

.jss53 {
  margin: -8px;
  width: calc(100% + 16px)
}

.jss53>.jss32 {
  padding: 8px
}

.jss54 {
  margin: -12px;
  width: calc(100% + 24px)
}

.jss54>.jss32 {
  padding: 12px
}

.jss55 {
  margin: -16px;
  width: calc(100% + 32px)
}

.jss55>.jss32 {
  padding: 16px
}

.jss56 {
  margin: -20px;
  width: calc(100% + 40px)
}

.jss56>.jss32 {
  padding: 20px
}

.jss57 {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%
}

.jss58 {
  flex-basis: 8.33333%;
  max-width: 8.33333%
}

.jss59 {
  flex-basis: 16.66667%;
  max-width: 16.66667%
}

.jss60 {
  flex-basis: 25%;
  max-width: 25%
}

.jss61 {
  flex-basis: 33.33333%;
  max-width: 33.33333%
}

.jss62 {
  flex-basis: 41.66667%;
  max-width: 41.66667%
}

.jss63 {
  flex-basis: 50%;
  max-width: 50%
}

.jss64 {
  flex-basis: 58.33333%;
  max-width: 58.33333%
}

.jss65 {
  flex-basis: 66.66667%;
  max-width: 66.66667%
}

.jss66 {
  flex-basis: 75%;
  max-width: 75%
}

.jss67 {
  flex-basis: 83.33333%;
  max-width: 83.33333%
}

.jss68 {
  flex-basis: 91.66667%;
  max-width: 91.66667%
}

.jss69 {
  flex-basis: 100%;
  max-width: 100%
}

@media(width >=600px) {
  .jss70 {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%
  }

  .jss71 {
    flex-basis: 8.33333%;
    max-width: 8.33333%
  }

  .jss72 {
    flex-basis: 16.66667%;
    max-width: 16.66667%
  }

  .jss73 {
    flex-basis: 25%;
    max-width: 25%
  }

  .jss74 {
    flex-basis: 33.33333%;
    max-width: 33.33333%
  }

  .jss75 {
    flex-basis: 41.66667%;
    max-width: 41.66667%
  }

  .jss76 {
    flex-basis: 50%;
    max-width: 50%
  }

  .jss77 {
    flex-basis: 58.33333%;
    max-width: 58.33333%
  }

  .jss78 {
    flex-basis: 66.66667%;
    max-width: 66.66667%
  }

  .jss79 {
    flex-basis: 75%;
    max-width: 75%
  }

  .jss80 {
    flex-basis: 83.33333%;
    max-width: 83.33333%
  }

  .jss81 {
    flex-basis: 91.66667%;
    max-width: 91.66667%
  }

  .jss82 {
    flex-basis: 100%;
    max-width: 100%
  }
}

@media(width >=960px) {
  .jss83 {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%
  }

  .jss84 {
    flex-basis: 8.33333%;
    max-width: 8.33333%
  }

  .jss85 {
    flex-basis: 16.66667%;
    max-width: 16.66667%
  }

  .jss86 {
    flex-basis: 25%;
    max-width: 25%
  }

  .jss87 {
    flex-basis: 33.33333%;
    max-width: 33.33333%
  }

  .jss88 {
    flex-basis: 41.66667%;
    max-width: 41.66667%
  }

  .jss89 {
    flex-basis: 50%;
    max-width: 50%
  }

  .jss90 {
    flex-basis: 58.33333%;
    max-width: 58.33333%
  }

  .jss91 {
    flex-basis: 66.66667%;
    max-width: 66.66667%
  }

  .jss92 {
    flex-basis: 75%;
    max-width: 75%
  }

  .jss93 {
    flex-basis: 83.33333%;
    max-width: 83.33333%
  }

  .jss94 {
    flex-basis: 91.66667%;
    max-width: 91.66667%
  }

  .jss95 {
    flex-basis: 100%;
    max-width: 100%
  }
}

@media(width >=1280px) {
  .jss96 {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%
  }

  .jss97 {
    flex-basis: 8.33333%;
    max-width: 8.33333%
  }

  .jss98 {
    flex-basis: 16.66667%;
    max-width: 16.66667%
  }

  .jss99 {
    flex-basis: 25%;
    max-width: 25%
  }

  .jss100 {
    flex-basis: 33.33333%;
    max-width: 33.33333%
  }

  .jss101 {
    flex-basis: 41.66667%;
    max-width: 41.66667%
  }

  .jss102 {
    flex-basis: 50%;
    max-width: 50%
  }

  .jss103 {
    flex-basis: 58.33333%;
    max-width: 58.33333%
  }

  .jss104 {
    flex-basis: 66.66667%;
    max-width: 66.66667%
  }

  .jss105 {
    flex-basis: 75%;
    max-width: 75%
  }

  .jss106 {
    flex-basis: 83.33333%;
    max-width: 83.33333%
  }

  .jss107 {
    flex-basis: 91.66667%;
    max-width: 91.66667%
  }

  .jss108 {
    flex-basis: 100%;
    max-width: 100%
  }
}

@media(width >=1920px) {
  .jss109 {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%
  }

  .jss110 {
    flex-basis: 8.33333%;
    max-width: 8.33333%
  }

  .jss111 {
    flex-basis: 16.66667%;
    max-width: 16.66667%
  }

  .jss112 {
    flex-basis: 25%;
    max-width: 25%
  }

  .jss113 {
    flex-basis: 33.33333%;
    max-width: 33.33333%
  }

  .jss114 {
    flex-basis: 41.66667%;
    max-width: 41.66667%
  }

  .jss115 {
    flex-basis: 50%;
    max-width: 50%
  }

  .jss116 {
    flex-basis: 58.33333%;
    max-width: 58.33333%
  }

  .jss117 {
    flex-basis: 66.66667%;
    max-width: 66.66667%
  }

  .jss118 {
    flex-basis: 75%;
    max-width: 75%
  }

  .jss119 {
    flex-basis: 83.33333%;
    max-width: 83.33333%
  }

  .jss120 {
    flex-basis: 91.66667%;
    max-width: 91.66667%
  }

  .jss121 {
    flex-basis: 100%;
    max-width: 100%
  }
}

.jss135 {
  pointer-events: none;
  z-index: 1500
}

.jss135.jss136 {
  pointer-events: auto
}

.jss137 {
  background-color: #445655;
  border-radius: 2px;
  color: #fff;
  font-family: mariupol, roboto, helvetica, arial, sans-serif;
  font-size: .625rem;
  line-height: 1.4em;
  min-height: 0;
  opacity: 0;
  padding: 4px 8px;
  transform: scale(0);
  transition: opacity 150ms cubic-bezier(.4, 0, 1, 1) 0ms, transform 150ms cubic-bezier(.4, 0, 1, 1) 0
}

.jss137.jss136 {
  opacity: .9;
  transform: scale(1);
  transition: opacity 150ms cubic-bezier(0, 0, .2, 1) 0ms, transform 150ms cubic-bezier(0, 0, .2, 1) 0
}

.jss138 {
  font-size: .875rem;
  line-height: 1.14286em;
  padding: 8px 16px
}

.jss139 {
  margin: 0 24px;
  transform-origin: right center
}

@media(width >=600px) {
  .jss139 {
    margin: 0 14px
  }
}

.jss140 {
  margin: 0 24px;
  transform-origin: left center
}

@media(width >=600px) {
  .jss140 {
    margin: 0 14px
  }
}

.jss141 {
  margin: 24px 0;
  transform-origin: center bottom
}

@media(width >=600px) {
  .jss141 {
    margin: 14px 0
  }
}

.jss142 {
  margin: 24px 0;
  transform-origin: center top
}

@media(width >=600px) {
  .jss142 {
    margin: 14px 0
  }
}

.jss134 {
  font-size: 12px
}

.jss7 {
  display: block;
  margin: 0
}

.jss8 {
  color: rgb(0 0 0 / 54%);
  font-family: mariupol, roboto, helvetica, arial, sans-serif;
  font-size: 7rem;
  font-weight: 300;
  letter-spacing: -.04em;
  line-height: 1.14286em;
  margin-left: -.04em
}

.jss9 {
  color: rgb(0 0 0 / 54%);
  font-family: mariupol, roboto, helvetica, arial, sans-serif;
  font-size: 3.5rem;
  font-weight: 400;
  letter-spacing: -.02em;
  line-height: 1.30357em;
  margin-left: -.02em
}

.jss10 {
  color: rgb(0 0 0 / 54%);
  font-family: mariupol, roboto, helvetica, arial, sans-serif;
  font-size: 2.8125rem;
  font-weight: 400;
  line-height: 1.06667em;
  margin-left: -.02em
}

.jss11 {
  color: rgb(0 0 0 / 54%);
  font-family: mariupol, roboto, helvetica, arial, sans-serif;
  font-size: 2.125rem;
  font-weight: 400;
  line-height: 1.20588em
}

.jss12 {
  color: rgb(0 0 0 / 87%);
  font-family: mariupol, roboto, helvetica, arial, sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.35417em
}

.jss13 {
  color: rgb(0 0 0 / 87%);
  font-family: mariupol, roboto, helvetica, arial, sans-serif;
  font-size: 1.3125rem;
  font-weight: 500;
  line-height: 1.16667em
}

.jss14 {
  color: rgb(0 0 0 / 87%);
  font-family: mariupol, roboto, helvetica, arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5em
}

.jss15 {
  color: rgb(0 0 0 / 87%);
  font-family: mariupol, roboto, helvetica, arial, sans-serif;
  font-size: .875rem;
  font-weight: 500;
  line-height: 1.71429em
}

.jss16 {
  color: rgb(0 0 0 / 87%);
  font-family: mariupol, roboto, helvetica, arial, sans-serif;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.46429em
}

.jss17 {
  color: rgb(0 0 0 / 54%);
  font-family: mariupol, roboto, helvetica, arial, sans-serif;
  font-size: .75rem;
  font-weight: 400;
  line-height: 1.375em
}

.jss18 {
  color: rgb(0 0 0 / 87%);
  font-family: mariupol, roboto, helvetica, arial, sans-serif;
  font-size: .875rem;
  font-weight: 500;
  text-transform: uppercase
}

.jss19 {
  text-align: left
}

.jss20 {
  text-align: center
}

.jss21 {
  text-align: right
}

.jss22 {
  text-align: justify
}

.jss23 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

.jss24 {
  margin-bottom: .35em
}

.jss25 {
  margin-bottom: 16px
}

.jss26 {
  color: inherit
}

.jss27 {
  color: #3f51b5
}

.jss28 {
  color: #f50057
}

.jss29 {
  color: rgb(0 0 0 / 54%)
}

.jss30 {
  color: #f44336
}

.jss4 {
  font-size: 16px;
  font-weight: 700;
  min-height: 20px;
  padding: 10px;
  text-shadow: 1px 1px 1px #00476c;
  text-transform: uppercase
}

.jss5 {
  color: #fff
}

.jss6 {
  color: #bcdd55;
  text-shadow: 1px 1px 1px #00476c
}

.jss1 {
  background-color: #002b50;
  background-position: center;
  background-size: cover;
  inset: 0;
  overflow: hidden;
  position: absolute;
  z-index: 1
}

.jss2 {
  line-height: 0;
  position: absolute;
  right: 4px;
  top: 0;
  z-index: 2
}

.jss3 {
  font-size: 45px;
  padding-top: 7px
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

*,
::before,
::after {
  box-sizing: inherit
}

body {
  background-color: #fafafa;
  margin: 0
}

@media print {
  body {
    background-color: #fff
  }
}