.webgl-content * {
  border: 0;
  margin: 0;
  padding: 0;
}

.webgl-content .logo,
.progress {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.webgl-content .logo {
  background: url("https://unblockedgamesroblox.weebly.com/uploads/1/1/4/2/114248059/1run4progresslogo-light_orig.png")
    no-repeat center / contain;
  height: 130px;
  width: 154px;
}

.webgl-content .progress {
  height: 18px;
  margin-top: 90px;
  width: 141px;
}

.webgl-content .progress .empty {
  background: url("https://unblockedgamesroblox.weebly.com/uploads/1/1/4/2/114248059/2run42progressempty-light_orig.png")
    no-repeat right / cover;
  display: inline-block;
  float: right;
  height: 100%;
  width: 100%;
}

.webgl-content .progress .full {
  background: url("https://unblockedgamesroblox.weebly.com/uploads/1/1/4/2/114248059/4progresslogo444-dark_orig.png")
    no-repeat left / cover;
  display: inline-block;
  float: left;
  height: 100%;
  width: 0%;
}

.webgl-content .logo.Dark {
  background-image: url("https://unblockedgamesroblox.weebly.com/uploads/1/1/4/2/114248059/4progresslogo444-dark_orig.png");
}

.webgl-content .progress.Dark .empty {
  background-image: url("https://unblockedgamesroblox.weebly.com/uploads/1/1/4/2/114248059/5run45progressempty-dark_orig.png");
}

.webgl-content .progress.Dark .full {
  background-image: url("https://unblockedgamesroblox.weebly.com/uploads/1/1/4/2/114248059/6r6un46progressfull-dark_orig.png");
}

.webgl-content .footer {
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-size: 18px;
  height: 38px;
  line-height: 38px;
  margin-top: 5px;
}

.webgl-content .footer .webgl-logo,
.title,
.fullscreen {
  background: transparent center no-repeat;
  display: inline-block;
  height: 100%;
}

.webgl-content .footer .webgl-logo {
  background-image: url("https://unblockedgamesroblox.weebly.com/uploads/1/1/4/2/114248059/7webgl-logo-pngrun47webgl-logo_orig.png");
  float: left;
  width: 204px;
}

.webgl-content .footer .title {
  float: right;
  margin-right: 10px;
}

.webgl-content .footer .fullscreen {
  background-image: url("https://unblockedgamesroblox.weebly.com/uploads/1/1/4/2/114248059/8run48fullscreen_orig.png");
  float: right;
  width: 38px;
}
