html,
body {
  background: #000;
  color: white;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

html,
body,
canvas {
  touch-action: none;
  touch-action-delay: none;
}

#notSupportedWrap {
  background-color: #f0f0f0;
  border: 2px solid #aaa;
  border-radius: 1em;
  color: black;
  font-family:
    "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue",
    Arial, sans-serif;
  margin: 2em auto 1em;
  max-width: 45em;
  padding: 2em;
  width: 75%;
}

#notSupportedTitle {
  font-size: 1.8em;
}

.notSupportedMessage {
  font-size: 1.2em;
}

.notSupportedMessage em {
  color: #888;
}
