.webgl-content * {border: 0; margin: 0; padding: 0}
.webgl-content { left: 50%;position: absolute; top: 50%; transform: translate(-50%, -50%); transform: translate(-50%, -50%);}

.webgl-content .logo, .progress, .text { left: 50%;position: absolute; top: 50%; transform: translate(-50%, -50%); transform: translate(-50%, -50%);}
.webgl-content .logo {background: url('logo.png') no-repeat center / contain; height: 130px; width: 154px;}
.webgl-content .progress {height: 18px; margin-top: 80px; width: 141px;}
.webgl-content .progress .empty {background: url('progressEmpty.Light.png') no-repeat right / cover; display: inline-block; float: right; height: 100%; width: 100%;}
.webgl-content .progress .full {background: url('progressFull.Light.png') no-repeat left / cover; display: inline-block; float: left; height: 100%; width: 0%;}
.webgl-content .text { color: white; font-weight: 700; margin-top: 110px;}
.webgl-content .spinner { vertical-align: middle; }

.webgl-content .logo.Dark {background-image: url('../TemplateData/y8-logo.png'); background-size: 206px 130px; height: 130px; margin: 0 auto;  width: 206px;}
.webgl-content .progress.Dark .empty {background: black;}
.webgl-content .progress.Dark .full {background: red;}

.webgl-content .footer {background: #fff; font-family: Helvetica, Verdana, Arial, sans-serif; font-size: 18px; height: 38px; line-height: 38px;margin-top: 5px;} 
.webgl-content .footer .webgl-logo, .title, .fullscreen { background: transparent center no-repeat; display: inline-block;height: 100%;} 
.webgl-content .footer .webgl-logo {background-image: url('webgl-logo.png'); float: left; width: 204px;}
.webgl-content .footer .title { float: right;margin-right: 10px;}
.webgl-content .footer .fullscreen {background-image: url('fullscreen.png'); float: right; width: 38px;}
.webgl-content #gameContainer { background: #4D4D4D !important; }


.webgl-content .footer {
  background: #222;
  font-family: Helvetica, Verdana, Arial, sans-serif;
  height: 40px;
  line-height: 40px;
  margin: 0;
}

.webgl-content .footer .webgl-logo,
.title, .fullscreen {
  background: transparent center no-repeat;
  display: inline-block;
  height: 100%;
}

.webgl-content .footer .unity,
.webgl-content .footer .webgl {
  background-position: 10px center;
  background-repeat: no-repeat;
  background-size: 46px 18px;
  box-sizing: border-box;
  float: left;
  height: 40px;
  padding: 0 10px;
  width: 66px;
}

.webgl-content .footer .unity.enable {
  background-image: url('unity-enable.png');
}

.webgl-content .footer .unity.disable {
  background-image: url('unity-disable.png');
}

.webgl-content .footer .webgl.enable {
  background-image: url('webgl-enable.png');
}

.webgl-content .footer .webgl.disable {
  background-image: url('webgl-disable.png');
}

.webgl-content .footer .fullscreen {
  background-image: url('maximize-icon.png');
  background-position: 10px center;
  background-repeat: no-repeat;
  background-size: 16px;
  box-sizing: border-box;
  color: #fff;
  float: right;
  font-size: 12px;
  padding: 0 10px 0 36px;
  width: auto;
}

.webgl-content .footer .unity.disable:hover,
.webgl-content .footer .webgl.disable:hover,
.webgl-content .footer .fullscreen:hover {
  background-color: #3e3e3e;
  cursor: pointer;
}