/* Stylesheet */
body,html{
    background-color: #000;
    margin:0;
    overflow:hidden;
    padding:0;
    -webkit-tap-highlight-color: rgb(0 0 0 / 0%); /* with out this line ios safari in gd splash preloader has issue with dimmed box from splash preloader button */
    text-size-adjust: none;
    -webkit-touch-callout: none;
    user-select: none;
}

#orientation {
    background-color: rgb(0 0 0);
    background-image: url("../rotate.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size:25%;
    display: none;
    height: 100%;
    left: 0;
    margin: 0 auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

#loader,
#loader::after {
    border-radius: 50%;
    height: 10em;
    width: 10em;
}

#loader {
    animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
    border-bottom: 1.1em solid rgb(255 255 255 / 20%);
    border-left: 1.1em solid #fff;
    border-right: 1.1em solid rgb(255 255 255 / 20%);
    border-top: 1.1em solid rgb(255 255 255 / 20%);
    font-size: 10px;
    left: 50%;
    margin: 60px auto;
    margin-left: -5em;
    margin-top: -5em;
    position: absolute;
    text-indent: -9999em;
    top: 50%;
    transform: translateZ(0);
    transform: translateZ(0);
    transform: translateZ(0);
    z-index: 99;
}

#selectmode {
    font-size: 10px;
    left: 50%;
    margin: 60px auto;
    position: absolute;
    top: 50%;
    z-index: 100;
}

@keyframes load8 {
    0% {
        transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load8 {
    0% {
        transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
        transform: rotate(360deg);
    }
}