root { 
    display: block;
}

body{
    background-color: #000;
    background-position: top;
    background-repeat: repeat-x;  
}

*, *::before, *::after {
    user-select: none;
    user-select: none;
    user-select: none;
    user-select: none;
    user-select: none;
}
     
input, input::before, input::after {
    user-select: initial;
    user-select: initial;
    user-select: initial;
    user-select: initial;
    user-select: initial;
}

::selection { background: transparent;color:inherit; }
::selection { background: transparent;color:inherit; }

#canvas{
    position: fixed;
    
    
}

canvas {
    image-rendering: optimizespeed;
    image-rendering:crisp-edges;
    image-rendering:-webkit-optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
	touch-action: none;
}

.ani_hack{
    backface-visibility: hidden;
    outline: none;
    perspective: 1000;
    -webkit-tap-highlight-color: transparent; /* mobile webkit */
    -webkit-touch-callout: none;
    user-select: none;
    user-select: none;
    user-select: none;
    user-select: none;
    user-select: none;
}

/*************** FONTS *******************/

@font-face {
    font-family: comfortaabold;
    font-style: normal;
    font-weight: normal;
    src: url('comfortaa-bold-webfont.woff2') format('woff2'),
         url('comfortaa-bold-webfont.woff') format('woff'),
         url('comfortaa-bold-webfont.svg#comfortaabold') format('svg');

}