
.orientation-msg-container{
    background-color: #000;
    display: none;
    height: 100%;
    position: fixed;
    width: 100%;
}

.orientation-msg-text{
    color: #fff;
    font-family: Arial;
    font-size: 40px;
    position: fixed;
    text-align: center;
    top: 50%;
    transform: translate(15%,-50%);
    transform: translate(15%,-50%);
    transform: translate(15%,-50%);
    transform: translate(15%,-50%);
    width: 80%;
    
        
}

@media (width <= 767px) {
    .orientation-msg-text{    
        font-size: 30px;  
    }
}


@media (width <= 500px) {
    .orientation-msg-text{    
        font-size: 30px;  
    }
}