.chat-component-wrapper{
	position: relative;
	width: 100%;
}

.clan-content .chat-component-wrapper{
	width: 100%;
}

.chat-wrap{
	background: rgb(0 0 0 / 50%);
	border: 2px solid #333;
	border-radius: 5px;
	box-sizing: border-box;
	overflow: hidden;
	position: relative;
}


.chat-wrap .message-sent {
	position: relative;
	width: 100%;
}

.chat-wrap .message-sent img{
	left:15px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 25px;
}

.chat-wrap .message-sent input{
	background: #333;
	border: 0;
	border-radius: 0;
	box-sizing: border-box;
	color: #fff;
	font-size: 16px;
	outline: 0!important;
	padding: 10px 15px 10px 50px;
	width: 100%;
}

.chat-wrap input::placeholder {
  	color: #fff;
  	font-size: 14px;
}

.chat-box{
	height: 280px;
	overflow-y: scroll;
	width: 100%;
}

.chat-box ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

.chat-box li{
	background: rgb(75 120 161 / 25%);
    border-bottom: 2px solid #333;
	color: #fff;
	font-size: 16px;
	font-weight: normal;
	line-height: 1.3;
	padding: 10px 15px;
	text-decoration: none;
}

.chat-box li:nth-child(odd){
	background: rgb(75 120 161 / 5%);
}

.chat-box li b{
	color: yellow;
	font-weight: normal;
	letter-spacing: 0.05rem;
}

#invite .chat-wrap{
	margin-top: 20px;
	width: 100%!important;
}

#invite .chat-box{
	height: 220px;
}