body {
  margin: 0;
  padding: 0;
}

#unity-container {
  height: 100% !important;
  position: absolute;
  width: 100% !important;
}

#unity-container.unity-desktop {
  height: 100% !important;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100% !important;
}

#unity-container.unity-mobile {
  height: 100%;
  width: 100%;
}

#unity-canvas {
  background: #000;
  height: 100% !important;
  width: 100% !important;
}

.unity-mobile #unity-canvas {
  height: 100%;
  width: 100%;
}

#unity-loading-bar {
  display: none;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

#unity-logo {
  background: url("unity-logo-dark.png") no-repeat center;
  height: 130px;
  width: 154px;
}

#unity-progress-bar-empty {
  background: url("progress-bar-empty-dark.png") no-repeat center;
  height: 18px;
  margin-top: 10px;
  width: 141px;
}

#unity-progress-bar-full {
  background: url("progress-bar-full-dark.png") no-repeat center;
  height: 18px;
  margin-top: 10px;
  width: 0%;
}

#unity-footer {
  position: relative;
}

.unity-mobile #unity-footer {
  display: none;
}

#unity-webgl-logo {
  background: url("webgl-logo.png") no-repeat center;
  float: left;
  height: 38px;
  width: 204px;
}

#unity-build-title {
  float: right;
  font-family: arial;
  font-size: 18px;
  line-height: 38px;
  margin-right: 10px;
}

#unity-fullscreen-button {
  background: url("fullscreen-button.png") no-repeat center;
  float: right;
  height: 38px;
  width: 38px;
}

#unity-warning {
  background: white;
  display: none;
  left: 50%;
  padding: 10px;
  position: absolute;
  top: 5%;
  transform: translate(-50%);
}
