body {
  background: #2d2f27;

  /* background: #ccc url(../assets/pattern.png) repeat; */
  margin: 0;
  overflow: hidden;
  user-select: none;
  user-select: none;
  user-select: none;
  user-select: none;
  user-select: none;
  user-select: none;
}

#orientation {
  background-color: rgb(0 0 0);
  background-image: url("../assets/orientation.jpg");
  background-position: center;
  background-repeat: no-repeat;
  display: none;
  height: 100%;
  left: 0;
  margin: 0 auto;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 999;
}

/* #banner {
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  display: block;
  left: 50%;
  transform: translateX(-50%);
} */

#banner {
  display: block;
  left: 50%;
  margin: 0 auto;
  position: fixed;
  top: 0;
  transform: translateX(-50%);
}
