.sound-overlay {
  background: #000;
  height: 100%;
  left: 0;
  opacity: 0.9;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 99999;
}

.sound-text {
  color: #fff;
  font-size: 20px;
  position: relative;
  text-shadow:
    1px 0 0 #000,
    0 -1px 0 #000,
    0 1px 0 #000,
    -1px 0 0 #000;
  top: 50%;
  transform: translateY(-50%);
}

.redirect-overlay {
  background: #000;
  height: 100%;
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 99999;
}

.redirect-text {
  color: #fff;
  font-size: 20px;
  position: relative;
  text-shadow:
    1px 0 0 #000,
    0 -1px 0 #000,
    0 1px 0 #000,
    -1px 0 0 #000;
  top: 50%;
  transform: translateY(-50%);
}

.redirect-text a {
  color: red;
}

.link-to-y8-url {
  color: #fff;
  float: left;
  font-size: 18px;
  height: 40px;
  padding: 0 10px;
}

.link-to-y8-url a {
  color: red;
}

.game-name {
  color: #fff;
  display: inline-block;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  padding: 0 10px;
}
