:root {
  --color-bg-primary: #0a0f1a;
  --color-fg-primary: #a8b2d1;
  --color-accent: #b0c4ff;
  --color-button-hover: #6c8bdc;
  --color-button-disabled: #3b4966;
  --color-hover: #1d2b4d99;
  --color-ai-button: #8093c9;
  --color-ai-button-hover: #a3b4e4;
  --color-focus: #b0c4ff66;
  --color-border-light: #b0c4ff1c;
  --color-light: #4e5e89;
  --color-user-message-bg: #101a2f9a;
  --color-scrollbar: #1a2238;
  --color-scrollbar-hover: #2a365a;
  --color-secondary-bg: #121e348f;
  --color-secondary-hover: #1a2b4d80;
  --color-suggestions-bg: #17264180;
  --color-bg-alt: #1a1e33;
  --color-pattern-dot: #1c2a45;
  --color-pattern-bg: #050914;
  --color-pattern-dot-edge: #ffffff10;
  --font-family-primary: 'Poppins', sans-serif;
  --font-family-code: 'Courier New', monospace;
  --dot-size: 1px;
  --dot-space: 22px;
}

body {
  background-color: #0a1d37;
  background-image: radial-gradient(var(--color-pattern-dot) var(--dot-size), transparent 0);
  background-size: var(--dot-space) var(--dot-space);
  font-family: var(--font-family-primary);
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  position: relative;
  scroll-behavior: smooth;
  z-index: 1;
}

.god-rays {
  --stripes: repeating-linear-gradient(
    100deg,
    rgb(20 40 60 / 80%) 0%,
    rgb(20 40 60 / 80%) 7%,
    transparent 10%,
    transparent 12%,
    rgb(20 40 60 / 80%) 16%
  );
  --rays: repeating-linear-gradient(
    100deg,
    rgb(30 50 90 / 90%) 10%,
    rgb(20 40 80 / 90%) 15%,
    rgb(30 50 90 / 90%) 20%,
    rgb(20 40 80 / 90%) 25%,
    rgb(30 50 90 / 90%) 30%
  );

  animation: fadeIn 2s ease;
  background-image: var(--stripes), var(--rays);
  background-position:
    50% 50%,
    50% 50%;
  background-size: 300%, 200%;
  height: 550px;
  left: 0;
  mask-image: radial-gradient(ellipse at 100% 0%, white 40%, transparent 70%);
  mask-image: radial-gradient(ellipse at 100% 0%, rgb(255 255 255 / 0%) 40%, transparent 70%);
  pointer-events: none;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
}

.god-rays::after {
  animation: god-rays 40s linear infinite;
  background-attachment: fixed;
  background-image: var(--stripes), var(--rays);
  background-size: 200%, 100%;
  content: '';
  inset: 0;
  mix-blend-mode: difference;
  position: absolute;
}

::selection {
  background-color: var(--color-accent);
  color: var(--color-bg-primary);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar:horizontal {
  height: 5px;
}

::-webkit-scrollbar-track {
  background: var(--color-bg-primary);
}

::-webkit-scrollbar-thumb {
  background: var(--color-scrollbar);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-scrollbar-hover);
}

#nprogress .bar {
  background: #fff;
  box-shadow: 0 0 8px #fffc;
  height: 2px;
}

#nprogress .peg {
  box-shadow:
    0 0 10px #fffc,
    0 0 5px #fffc;
}

#nprogress .spinner-icon {
  border-left-color: #fff;
  border-top-color: #fff;
}

.chat-container {
  background-color: transparent;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 8px);
  left: 50%;
  max-width: 1000px;
  overflow: hidden;
  position: fixed;
  top: 3px;
  transform: translateX(-50%);
  width: 90%;
  z-index: 1002;
}

.chat-header {
  background: linear-gradient(90deg, #fff 0%, #a0a0a0 15%, #5e5e5e 100%);
  background-clip: text;
  border-bottom: 1px dashed var(--color-light);
  font-size: 24px;
  font-weight: bolder;
  padding: 15px;
  position: relative;
  -webkit-text-fill-color: transparent;
}

.chat-options {
  align-items: center;
  display: flex;
  font-size: 12px;
  gap: 30px;
  position: absolute;
  right: 30px;
  top: 10px;
}

.chat-options .option {
  align-items: center;
  display: flex;
}

.chat-options label {
  color: var(--color-accent);
  font-size: 12px;
  margin-right: 5px;
}

.chat-body {
  background-color: transparent;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
  padding: 20px;
}

.message {
  align-items: center;
  animation: fadeInUp 0.3s ease forwards;
  border: 1px solid var(--color-border-light);
  border-radius: 12px;
  display: flex;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 5px;
  max-width: 80%;
  overflow-wrap: break-word;
  padding: 10px 15px;
  transition: all 0.3s ease;
  white-space: pre-wrap;
}

.user-message {
  align-items: center;
  align-self: flex-end;
  backdrop-filter: blur(5px);
  background-color: var(--color-user-message-bg);
  border-radius: 20px;
  color: var(--color-accent);
  display: flex;
  justify-content: flex-end;
}

.user-message:hover {
  border: 1px solid var(--color-light);
}

.ai-message {
  align-items: flex-start;
  align-self: flex-start;
  border: none;
  border-radius: 20px;
  color: var(--color-accent);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.message i {
  font-size: 20px;
  margin-right: 12px;
}

.chat-input {
  align-items: center;
  display: flex;
  padding: 15px;
}

.chat-input input[type='text'] {
  backdrop-filter: blur(5px);
  background-color: var(--color-secondary-bg);
  border: 1px dashed var(--color-border-light);
  border-radius: 20px;
  color: var(--color-accent);
  flex: 1;
  font-size: 15px;
  margin-right: 5px;
  outline: none;
  padding: 15px;
  transition: all 0.3s ease;
}

.chat-input input[type='text']:focus,
.chat-input input[type='text']:hover {
  border: 1px dashed var(--color-light);
}

.chat-input input[type='text']::placeholder {
  color: var(--color-focus);
  font-size: 15px;
}

.chat-input button {
  backdrop-filter: blur(5px);
  background-color: var(--color-accent);
  border: none;
  border-radius: 50%;
  color: var(--color-pattern-bg);
  cursor: pointer;
  font-size: 16px;
  margin-left: 5px;
  padding: 10px 14px;
  transition: background-color 0.3s ease;
  z-index: 1;
}

.chat-input button:hover {
  background-color: var(--color-button-hover);
}

.thinking-dots span {
  animation: blink 1s infinite;
  display: inline-block;
  opacity: 0;
}

.thinking-dots span:nth-child(1) {
  animation-delay: 0s;
}

.thinking-dots span:nth-child(2) {
  animation-delay: 0.2s;
}

.thinking-dots span:nth-child(3) {
  animation-delay: 0.4s;
}

.selector {
  font-size: 12px;
  margin-bottom: 5px;
  max-width: 200px;
  position: relative;
  width: 100%;
}

.selector-selected {
  align-items: center;
  backdrop-filter: blur(5px);
  background-color: var(--color-secondary-bg);
  border: 1px dashed var(--color-border-light);
  border-radius: 20px;
  color: var(--color-fg-primary);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  transition: 0.3s ease;
  width: 195px;
}

.selector-selected:hover {
  background-color: var(--color-secondary-hover);
  border: 1px dashed var(--color-light);
  color: var(--color-accent);
}

.selector-selected::after {
  content: '\f107';
  font-family: 'Font Awesome 6 Free', 'Font Awesome 6 Solid', Arial, Helvetica, sans-serif;
  font-size: 0.8em;
  font-weight: 900;
  left: 196px;
  position: absolute;
  transition: transform 0.3s ease;
}

.selector-selected.active::after {
  transform: rotate(-180deg);
}

.selector-options {
  backdrop-filter: blur(5px);
  background-color: var(--color-secondary-bg);
  border: 1px dashed var(--color-border-light);
  border-radius: 20px;
  color: var(--color-fg-primary);
  height: 0;
  left: 0;
  margin-top: 5px;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 100%;
  transition: all 0.3s ease;
  width: 215px;
  z-index: 99999;
}

.selector-options:hover {
  border: 1px dashed var(--color-light);
}

.selector-options.show {
  height: 241px;
  max-height: 475px;
  opacity: 1;
}

.selector-options div {
  cursor: pointer;
  padding: 10px 15px;
  transition: all 0.3s ease;
}

.selector-options div:hover {
  color: var(--color-accent);
}

pre {
  backdrop-filter: blur(5px);
  background-color: var(--color-secondary-bg);
  border: 1px solid var(--color-border-light);
  border-radius: 8px;
  color: #f5f5f5;
  font-family: var(--font-family-code);
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  max-width: 800px;
  min-height: 200px;
  overflow: auto;
  padding: 15px 15px 15px 30px;
  position: relative;
  white-space: pre-wrap;
  width: 100%;
}

.hljs {
  padding-top: 1.5em;
}

.inline-code {
  background-color: var(--color-secondary-bg);
  border-radius: 4px;
  font-size: 0.9em;
  padding: 2px 4px;
}

.chat-body a {
  border-bottom: 1px dashed var(--color-accent);
  color: var(--color-accent);
  text-decoration: none;
  transition:
    color 0.3s,
    border-bottom 0.3s;
}

.chat-body a:hover {
  border-bottom: 1px dashed var(--color-button-hover);
  color: var(--color-button-hover);
}

.version {
  font-size: 0.5em;
  font-weight: bold;
}

.suggestions-container {
  animation: fadeInUp 0.3s ease-out forwards;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  padding: 10px;
}

.suggestion {
  background-color: var(--color-suggestions-bg);
  border: 1px solid var(--color-border-light);
  border-radius: 20px;
  color: var(--color-fg-primary);
  cursor: pointer;
  padding: 10px 12px;
  transition: all 0.3s ease;
}

.suggestion:hover {
  border: 1px solid var(--color-light);
}

.ai-buttons {
  animation: fadeIn 0.3s forwards;
  display: flex;
  margin-top: 10px;
  opacity: 0;
  transform: translateY(5px);
}

.ai-button {
  background: transparent;
  border: none;
  color: var(--color-ai-button);
  cursor: pointer;
  font-size: 8px;
  padding: 0;
  transition: color 0.3s;
}

.ai-button i {
  font-size: 15px;
}

.ai-button:hover {
  color: var(--color-ai-button-hover);
}

.branding {
  background: linear-gradient(90deg, #fff 0%, #a0a0a0 15%, #5e5e5e 100%);
  background-clip: text;
  left: 50%;
  pointer-events: none;
  position: absolute;
  text-align: center;
  -webkit-text-fill-color: transparent;
  top: 46%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.branding img {
  height: 130px;
  margin-bottom: 10px;
  width: 130px;
}

.branding div {
  color: var(--color-accent);
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 2px;
}

.social-icons {
  animation: fadeInUp 0.3s ease forwards;
  bottom: 20px;
  display: flex;
  gap: 10px;
  left: 20px;
  position: fixed;
}

.social-icons a {
  color: var(--color-button-hover);
  font-size: 20px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: var(--color-button-disabled);
}

@media only screen and (width <= 768px) {
  .chat-container {
    border-radius: 0;
    height: 100vh;
    width: 100%;
  }

  .chat-header {
    font-size: 20px;
    padding: 10px;
  }

  .chat-options {
    gap: 15px;
    right: 15px;
    top: 5px;
  }

  .chat-body {
    padding: 15px;
  }

  .message {
    font-size: 14px;
    max-width: 90%;
    padding: 8px 12px;
  }

  .chat-input input[type='text'] {
    font-size: 14px;
    padding: 10px;
  }

  .chat-input button {
    font-size: 14px;
    padding: 8px 10px;
  }

  pre {
    font-size: 14px;
    padding: 10px 10px 10px 20px;
  }

  .selector-selected,
  .selector-options {
    max-width: 180px;
    width: 90%;
  }
}

@media only screen and (width <= 480px) {
  .chat-header {
    font-size: 18px;
    padding: 8px;
  }

  .chat-options {
    font-size: 10px;
    gap: 10px;
    right: 10px;
    top: 3px;
  }

  .chat-body {
    padding: 10px;
  }

  .message {
    font-size: 12px;
    padding: 6px 10px;
  }

  .chat-input input[type='text'] {
    font-size: 12px;
    padding: 8px;
  }

  .chat-input button {
    font-size: 12px;
    padding: 6px 8px;
  }

  pre {
    font-size: 12px;
    padding: 8px 8px 8px 16px;
  }

  .selector {
    margin: 0 auto;
  }

  .selector-selected {
    margin: 0 auto;
    max-width: 160px;
    position: relative;
    width: 90%;
  }

  .selector-selected::after {
    left: calc(100% - 20px);
  }

  .selector-options {
    left: 50%;
    max-width: 160px;
    transform: translateX(-50%);
    width: 90%;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes blink {
  0%,
  20%,
  100% {
    opacity: 0;
  }

  40% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

body::before {
  animation: twinkle 4s infinite linear;
  background: transparent
    url('data:image/svg+xml;utf8,<svg width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"><circle cx="1" cy="1" r="1" fill="white" opacity="0.2" /></svg>')
    repeat;
  background-size: var(--dot-space) var(--dot-space);
  content: '';
  height: 100%;
  left: 0;
  opacity: 0.3;
  pointer-events: none;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 0;
}

@keyframes twinkle {
  0% {
    opacity: 0.3;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 0.3;
  }
}

.chat-header {
  text-shadow:
    0 0 8px var(--color-accent),
    0 0 15px var(--color-accent);
}

.chat-input button,
.suggestion:hover,
.selector-selected:hover,
.selector-options div:hover {
  box-shadow: 0 0 10px var(--color-accent);
}

.user-message:hover {
  box-shadow: 0 0 8px var(--color-light);
}

.ai-message {
  box-shadow: 0 0 10px #1a2b4d88;
}

.branding div {
  animation: pulseGlow 3s ease-in-out infinite;
}

@keyframes pulseGlow {
  0%,
  100% {
    text-shadow:
      0 0 6px var(--color-accent),
      0 0 12px var(--color-accent);
  }

  50% {
    text-shadow:
      0 0 12px var(--color-accent),
      0 0 20px var(--color-accent);
  }
}

/* credits to Waves */
