:root {
  --bg-color-toast: #000000bf;
  --bg-color-toast-hover: #333;
  --text-color-light: #fff;
  --border-color-toast: #ffffff1a;
  --progress-bar-color: #fff;
  --toast-close-hover: #b1b1b1;
}

.toast {
  align-items: center;
  animation: fadeIn 2s ease;
  border: 1px solid var(--border-color-toast);
  border-radius: 15px;
  color: var(--text-color-light);
  display: flex;
  font-weight: bold;
  justify-content: space-between;
  margin: 5px;
  overflow: hidden;
  padding: 10px 20px;
  position: fixed !important;
  right: 20px;
  top: 20px;
  transition: right 0.3s ease-in-out;
  z-index: 9999;
}

.toast.success {
  backdrop-filter: blur(10px);
  background-color: var(--bg-color-toast);
}

.toast.error {
  backdrop-filter: blur(10px);
  background-color: var(--bg-color-toast);
}

.toast a {
  display: inline-block;
  margin-left: 5px;
}

.toast.show {
  animation: slideIn 0.3s forwards;
}

.toast.hide {
  animation: slideOut 0.3s forwards;
}

.toast .progress-bar {
  animation: progress 3s linear forwards;
  background-color: var(--progress-bar-color);
  border-radius: 20px;
  bottom: 0;
  height: 4px;
  left: 0;
  position: absolute;
  width: 100%;
}

@keyframes slideIn {
  0% {
    right: -300px;
  }

  100% {
    right: 20px;
  }
}

@keyframes slideOut {
  0% {
    right: 20px;
  }

  100% {
    right: -1000px;
  }
}

@keyframes progress {
  0% {
    width: 100%;
  }

  100% {
    width: 0%;
  }
}

.toast .toast-close {
  background: none;
  border: none;
  color: var(--text-color-light);
  cursor: pointer;
  font-size: 18px;
  margin-left: 10px;
  padding: 0;
  transition: 0.3s;
}

.toast-close:hover {
  color: var(--toast-close-hover);
}

/* credits to Waves */
