@import url("fonts/clear-sans.css");

html,
body {
  background: #faf8ef;
  color: #776e65;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

body {
  margin: 80px 0;
}

.heading::after {
  clear: both;
  content: "";
  display: block;
}

h1.title {
  display: block;
  float: left;
  font-size: 80px;
  font-weight: bold;
  margin: 0;
}

@keyframes move-up {
  0% {
    opacity: 1;
    top: 25px;
  }

  100% {
    opacity: 0;
    top: -50px;
  }
}
@keyframes move-up {
  0% {
    opacity: 1;
    top: 25px;
  }

  100% {
    opacity: 0;
    top: -50px;
  }
}
@keyframes move-up {
  0% {
    opacity: 1;
    top: 25px;
  }

  100% {
    opacity: 0;
    top: -50px;
  }
}

.scores-container {
  float: right;
  text-align: right;
}

.score-container,
.best-container {
  background: #bbada0;
  border-radius: 3px;
  color: white;
  display: inline-block;
  font-size: 25px;
  font-weight: bold;
  height: 25px;
  line-height: 47px;
  margin-top: 8px;
  padding: 15px 25px;
  position: relative;
  text-align: center;
}

.score-container::after,
.best-container::after {
  color: #eee4da;
  font-size: 13px;
  left: 0;
  line-height: 13px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 10px;
  width: 100%;
}

.score-container .score-addition,
.best-container .score-addition {
  animation: move-up 600ms ease-in;
  animation: move-up 600ms ease-in;
  animation: move-up 600ms ease-in;
  animation-fill-mode: both;
  animation-fill-mode: both;
  animation-fill-mode: both;
  color: red;
  color: rgb(119 110 101 / 90%);
  font-size: 25px;
  font-weight: bold;
  line-height: 25px;
  position: absolute;
  right: 30px;
  z-index: 100;
}

.score-container::after {
  content: "Score";
}

.best-container::after {
  content: "Best";
}

p {
  line-height: 1.65;
  margin-bottom: 10px;
  margin-top: 0;
}

a {
  color: #776e65;
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline;
}

strong.important {
  text-transform: uppercase;
}

hr {
  border: none;
  border-bottom: 1px solid #d8d4d0;
  margin-bottom: 30px;
  margin-top: 20px;
}

.container {
  margin: 0 auto;
  width: 500px;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.game-container {
  background: #bbada0;
  border-radius: 6px;
  box-sizing: border-box;
  box-sizing: border-box;
  box-sizing: border-box;
  cursor: default;
  height: 500px;
  margin-top: 40px;
  padding: 15px;
  position: relative;
  touch-action: none;
  touch-action: none;
  -webkit-touch-callout: none;
  -ms-touch-callout: none;
  user-select: none;
  user-select: none;
  user-select: none;
  width: 500px;
}

.game-container .game-message {
  animation: fade-in 800ms ease 1200ms;
  animation: fade-in 800ms ease 1200ms;
  animation: fade-in 800ms ease 1200ms;
  animation-fill-mode: both;
  animation-fill-mode: both;
  animation-fill-mode: both;
  background: rgb(238 228 218 / 50%);
  inset: 0;
  display: none;
  position: absolute;
  text-align: center;
  z-index: 100;
}

.game-container .game-message p {
  font-size: 60px;
  font-weight: bold;
  height: 60px;
  line-height: 60px;
  margin-top: 222px;
}

.game-container .game-message .lower {
  display: block;
  margin-top: 59px;
}

.game-container .game-message a {
  background: #8f7a66;
  border-radius: 3px;
  color: #f9f6f2;
  display: inline-block;
  height: 40px;
  line-height: 42px;
  margin-left: 9px;
  padding: 0 20px;
  text-decoration: none;
}

.game-container .game-message a.keep-playing-button {
  display: none;
}

.game-container .game-message.game-won {
  background: rgb(237 194 46 / 50%);
  color: #f9f6f2;
}

.game-container .game-message.game-won a.keep-playing-button {
  display: inline-block;
}

.game-container .game-message.game-won,
.game-container .game-message.game-over {
  display: block;
}

.grid-container {
  position: absolute;
  z-index: 1;
}

.grid-row {
  margin-bottom: 15px;
}

.grid-row:last-child {
  margin-bottom: 0;
}

.grid-row::after {
  clear: both;
  content: "";
  display: block;
}

.grid-cell {
  background: rgb(238 228 218 / 35%);
  border-radius: 3px;
  float: left;
  height: 106.25px;
  margin-right: 15px;
  width: 106.25px;
}

.grid-cell:last-child {
  margin-right: 0;
}

.tile-container {
  position: absolute;
  z-index: 2;
}

.tile,
.tile .tile-inner {
  height: 107px;
  line-height: 107px;
  width: 107px;
}

.tile.tile-position-1-1 {
  transform: translate(0, 0);
  transform: translate(0, 0);
  transform: translate(0, 0);
  transform: translate(0, 0);
}

.tile.tile-position-1-2 {
  transform: translate(0, 121px);
  transform: translate(0, 121px);
  transform: translate(0, 121px);
  transform: translate(0, 121px);
}

.tile.tile-position-1-3 {
  transform: translate(0, 242px);
  transform: translate(0, 242px);
  transform: translate(0, 242px);
  transform: translate(0, 242px);
}

.tile.tile-position-1-4 {
  transform: translate(0, 363px);
  transform: translate(0, 363px);
  transform: translate(0, 363px);
  transform: translate(0, 363px);
}

.tile.tile-position-2-1 {
  transform: translate(121px, 0);
  transform: translate(121px, 0);
  transform: translate(121px, 0);
  transform: translate(121px, 0);
}

.tile.tile-position-2-2 {
  transform: translate(121px, 121px);
  transform: translate(121px, 121px);
  transform: translate(121px, 121px);
  transform: translate(121px, 121px);
}

.tile.tile-position-2-3 {
  transform: translate(121px, 242px);
  transform: translate(121px, 242px);
  transform: translate(121px, 242px);
  transform: translate(121px, 242px);
}

.tile.tile-position-2-4 {
  transform: translate(121px, 363px);
  transform: translate(121px, 363px);
  transform: translate(121px, 363px);
  transform: translate(121px, 363px);
}

.tile.tile-position-3-1 {
  transform: translate(242px, 0);
  transform: translate(242px, 0);
  transform: translate(242px, 0);
  transform: translate(242px, 0);
}

.tile.tile-position-3-2 {
  transform: translate(242px, 121px);
  transform: translate(242px, 121px);
  transform: translate(242px, 121px);
  transform: translate(242px, 121px);
}

.tile.tile-position-3-3 {
  transform: translate(242px, 242px);
  transform: translate(242px, 242px);
  transform: translate(242px, 242px);
  transform: translate(242px, 242px);
}

.tile.tile-position-3-4 {
  transform: translate(242px, 363px);
  transform: translate(242px, 363px);
  transform: translate(242px, 363px);
  transform: translate(242px, 363px);
}

.tile.tile-position-4-1 {
  transform: translate(363px, 0);
  transform: translate(363px, 0);
  transform: translate(363px, 0);
  transform: translate(363px, 0);
}

.tile.tile-position-4-2 {
  transform: translate(363px, 121px);
  transform: translate(363px, 121px);
  transform: translate(363px, 121px);
  transform: translate(363px, 121px);
}

.tile.tile-position-4-3 {
  transform: translate(363px, 242px);
  transform: translate(363px, 242px);
  transform: translate(363px, 242px);
  transform: translate(363px, 242px);
}

.tile.tile-position-4-4 {
  transform: translate(363px, 363px);
  transform: translate(363px, 363px);
  transform: translate(363px, 363px);
  transform: translate(363px, 363px);
}

.tile {
  position: absolute;
  transition: 100ms ease-in-out;
  transition: 100ms ease-in-out;
  transition: 100ms ease-in-out;
  transition-property: -webkit-transform;
  transition-property: -moz-transform;
  transition-property: transform;
}

.tile .tile-inner {
  background: #eee4da;
  border-radius: 3px;
  font-size: 55px;
  font-weight: bold;
  text-align: center;
  z-index: 10;
}

.tile.tile-2 .tile-inner {
  background: #eee4da;
  box-shadow:
    0 0 30px 10px rgb(243 215 116 / 0%),
    inset 0 0 0 1px rgb(255 255 255 / 0%);
}

.tile.tile-4 .tile-inner {
  background: #ede0c8;
  box-shadow:
    0 0 30px 10px rgb(243 215 116 / 0%),
    inset 0 0 0 1px rgb(255 255 255 / 0%);
}

.tile.tile-8 .tile-inner {
  background: #f2b179;
  color: #f9f6f2;
}

.tile.tile-16 .tile-inner {
  background: #f59563;
  color: #f9f6f2;
}

.tile.tile-32 .tile-inner {
  background: #f67c5f;
  color: #f9f6f2;
}

.tile.tile-64 .tile-inner {
  background: #f65e3b;
  color: #f9f6f2;
}

.tile.tile-128 .tile-inner {
  background: #edcf72;
  box-shadow:
    0 0 30px 10px rgb(243 215 116 / 23.8%),
    inset 0 0 0 1px rgb(255 255 255 / 14.3%);
  color: #f9f6f2;
  font-size: 45px;
}
@media screen and (width <= 520px) {
  .tile.tile-128 .tile-inner {
    font-size: 25px;
  }
}

.tile.tile-256 .tile-inner {
  background: #edcc61;
  box-shadow:
    0 0 30px 10px rgb(243 215 116 / 31.7%),
    inset 0 0 0 1px rgb(255 255 255 / 19%);
  color: #f9f6f2;
  font-size: 45px;
}
@media screen and (width <= 520px) {
  .tile.tile-256 .tile-inner {
    font-size: 25px;
  }
}

.tile.tile-512 .tile-inner {
  background: #edc850;
  box-shadow:
    0 0 30px 10px rgb(243 215 116 / 39.7%),
    inset 0 0 0 1px rgb(255 255 255 / 23.8%);
  color: #f9f6f2;
  font-size: 45px;
}
@media screen and (width <= 520px) {
  .tile.tile-512 .tile-inner {
    font-size: 25px;
  }
}

.tile.tile-1024 .tile-inner {
  background: #edc53f;
  box-shadow:
    0 0 30px 10px rgb(243 215 116 / 47.6%),
    inset 0 0 0 1px rgb(255 255 255 / 28.6%);
  color: #f9f6f2;
  font-size: 35px;
}
@media screen and (width <= 520px) {
  .tile.tile-1024 .tile-inner {
    font-size: 15px;
  }
}

.tile.tile-2048 .tile-inner {
  background: #edc22e;
  box-shadow:
    0 0 30px 10px rgb(243 215 116 / 55.6%),
    inset 0 0 0 1px rgb(255 255 255 / 33.3%);
  color: #f9f6f2;
  font-size: 35px;
}
@media screen and (width <= 520px) {
  .tile.tile-2048 .tile-inner {
    font-size: 15px;
  }
}

.tile.tile-super .tile-inner {
  background: #3c3a32;
  color: #f9f6f2;
  font-size: 30px;
}
@media screen and (width <= 520px) {
  .tile.tile-super .tile-inner {
    font-size: 10px;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: scale(0);
    transform: scale(0);
    transform: scale(0);
    transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
    transform: scale(1);
    transform: scale(1);
    transform: scale(1);
  }
}
@keyframes appear {
  0% {
    opacity: 0;
    transform: scale(0);
    transform: scale(0);
    transform: scale(0);
    transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
    transform: scale(1);
    transform: scale(1);
    transform: scale(1);
  }
}
@keyframes appear {
  0% {
    opacity: 0;
    transform: scale(0);
    transform: scale(0);
    transform: scale(0);
    transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
    transform: scale(1);
    transform: scale(1);
    transform: scale(1);
  }
}

.tile-new .tile-inner {
  animation: appear 200ms ease 100ms;
  animation: appear 200ms ease 100ms;
  animation: appear 200ms ease 100ms;
  animation-fill-mode: backwards;
  animation-fill-mode: backwards;
  animation-fill-mode: backwards;
}

@keyframes pop {
  0% {
    transform: scale(0);
    transform: scale(0);
    transform: scale(0);
    transform: scale(0);
  }

  50% {
    transform: scale(1.2);
    transform: scale(1.2);
    transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
    transform: scale(1);
    transform: scale(1);
    transform: scale(1);
  }
}
@keyframes pop {
  0% {
    transform: scale(0);
    transform: scale(0);
    transform: scale(0);
    transform: scale(0);
  }

  50% {
    transform: scale(1.2);
    transform: scale(1.2);
    transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
    transform: scale(1);
    transform: scale(1);
    transform: scale(1);
  }
}
@keyframes pop {
  0% {
    transform: scale(0);
    transform: scale(0);
    transform: scale(0);
    transform: scale(0);
  }

  50% {
    transform: scale(1.2);
    transform: scale(1.2);
    transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
    transform: scale(1);
    transform: scale(1);
    transform: scale(1);
  }
}

.tile-merged .tile-inner {
  animation: pop 200ms ease 100ms;
  animation: pop 200ms ease 100ms;
  animation: pop 200ms ease 100ms;
  animation-fill-mode: backwards;
  animation-fill-mode: backwards;
  animation-fill-mode: backwards;
  z-index: 20;
}

.above-game::after {
  clear: both;
  content: "";
  display: block;
}

.game-intro {
  float: left;
  line-height: 42px;
  margin-bottom: 0;
}

.restart-button {
  background: #8f7a66;
  border-radius: 3px;
  color: #f9f6f2;
  display: inline-block;
  display: block;
  float: right;
  height: 40px;
  line-height: 42px;
  padding: 0 20px;
  text-align: center;
  text-decoration: none;
}

.game-explanation {
  margin-top: 50px;
}

@media screen and (width <= 520px) {
  html,
  body {
    font-size: 15px;
  }

  body {
    margin: 20px 0;
    padding: 0 20px;
  }

  h1.title {
    font-size: 27px;
    margin-top: 15px;
  }

  .container {
    margin: 0 auto;
    width: 280px;
  }

  .score-container,
  .best-container {
    margin-top: 0;
    min-width: 40px;
    padding: 15px 10px;
  }

  .heading {
    margin-bottom: 10px;
  }

  .game-intro {
    box-sizing: border-box;
    display: block;
    line-height: 1.65;
    width: 55%;
  }

  .restart-button {
    box-sizing: border-box;
    display: block;
    margin-top: 2px;
    padding: 0;
    width: 42%;
  }

  .game-container {
    background: #bbada0;
    border-radius: 6px;
    box-sizing: border-box;
    box-sizing: border-box;
    box-sizing: border-box;
    cursor: default;
    height: 280px;
    margin-top: 17px;
    padding: 10px;
    position: relative;
    touch-action: none;
    touch-action: none;
    -webkit-touch-callout: none;
    -ms-touch-callout: none;
    user-select: none;
    user-select: none;
    user-select: none;
    width: 280px;
  }

  .game-container .game-message {
    animation: fade-in 800ms ease 1200ms;
    animation: fade-in 800ms ease 1200ms;
    animation: fade-in 800ms ease 1200ms;
    animation-fill-mode: both;
    animation-fill-mode: both;
    animation-fill-mode: both;
    background: rgb(238 228 218 / 50%);
    inset: 0;
    display: none;
    position: absolute;
    text-align: center;
    z-index: 100;
  }

  .game-container .game-message p {
    font-size: 60px;
    font-weight: bold;
    height: 60px;
    line-height: 60px;
    margin-top: 222px;
  }

  .game-container .game-message .lower {
    display: block;
    margin-top: 59px;
  }

  .game-container .game-message a {
    background: #8f7a66;
    border-radius: 3px;
    color: #f9f6f2;
    display: inline-block;
    height: 40px;
    line-height: 42px;
    margin-left: 9px;
    padding: 0 20px;
    text-decoration: none;
  }

  .game-container .game-message a.keep-playing-button {
    display: none;
  }

  .game-container .game-message.game-won {
    background: rgb(237 194 46 / 50%);
    color: #f9f6f2;
  }

  .game-container .game-message.game-won a.keep-playing-button {
    display: inline-block;
  }

  .game-container .game-message.game-won,
  .game-container .game-message.game-over {
    display: block;
  }

  .grid-container {
    position: absolute;
    z-index: 1;
  }

  .grid-row {
    margin-bottom: 10px;
  }

  .grid-row:last-child {
    margin-bottom: 0;
  }

  .grid-row::after {
    clear: both;
    content: "";
    display: block;
  }

  .grid-cell {
    background: rgb(238 228 218 / 35%);
    border-radius: 3px;
    float: left;
    height: 57.5px;
    margin-right: 10px;
    width: 57.5px;
  }

  .grid-cell:last-child {
    margin-right: 0;
  }

  .tile-container {
    position: absolute;
    z-index: 2;
  }

  .tile,
  .tile .tile-inner {
    height: 58px;
    line-height: 58px;
    width: 58px;
  }

  .tile.tile-position-1-1 {
    transform: translate(0, 0);
    transform: translate(0, 0);
    transform: translate(0, 0);
    transform: translate(0, 0);
  }

  .tile.tile-position-1-2 {
    transform: translate(0, 67px);
    transform: translate(0, 67px);
    transform: translate(0, 67px);
    transform: translate(0, 67px);
  }

  .tile.tile-position-1-3 {
    transform: translate(0, 135px);
    transform: translate(0, 135px);
    transform: translate(0, 135px);
    transform: translate(0, 135px);
  }

  .tile.tile-position-1-4 {
    transform: translate(0, 202px);
    transform: translate(0, 202px);
    transform: translate(0, 202px);
    transform: translate(0, 202px);
  }

  .tile.tile-position-2-1 {
    transform: translate(67px, 0);
    transform: translate(67px, 0);
    transform: translate(67px, 0);
    transform: translate(67px, 0);
  }

  .tile.tile-position-2-2 {
    transform: translate(67px, 67px);
    transform: translate(67px, 67px);
    transform: translate(67px, 67px);
    transform: translate(67px, 67px);
  }

  .tile.tile-position-2-3 {
    transform: translate(67px, 135px);
    transform: translate(67px, 135px);
    transform: translate(67px, 135px);
    transform: translate(67px, 135px);
  }

  .tile.tile-position-2-4 {
    transform: translate(67px, 202px);
    transform: translate(67px, 202px);
    transform: translate(67px, 202px);
    transform: translate(67px, 202px);
  }

  .tile.tile-position-3-1 {
    transform: translate(135px, 0);
    transform: translate(135px, 0);
    transform: translate(135px, 0);
    transform: translate(135px, 0);
  }

  .tile.tile-position-3-2 {
    transform: translate(135px, 67px);
    transform: translate(135px, 67px);
    transform: translate(135px, 67px);
    transform: translate(135px, 67px);
  }

  .tile.tile-position-3-3 {
    transform: translate(135px, 135px);
    transform: translate(135px, 135px);
    transform: translate(135px, 135px);
    transform: translate(135px, 135px);
  }

  .tile.tile-position-3-4 {
    transform: translate(135px, 202px);
    transform: translate(135px, 202px);
    transform: translate(135px, 202px);
    transform: translate(135px, 202px);
  }

  .tile.tile-position-4-1 {
    transform: translate(202px, 0);
    transform: translate(202px, 0);
    transform: translate(202px, 0);
    transform: translate(202px, 0);
  }

  .tile.tile-position-4-2 {
    transform: translate(202px, 67px);
    transform: translate(202px, 67px);
    transform: translate(202px, 67px);
    transform: translate(202px, 67px);
  }

  .tile.tile-position-4-3 {
    transform: translate(202px, 135px);
    transform: translate(202px, 135px);
    transform: translate(202px, 135px);
    transform: translate(202px, 135px);
  }

  .tile.tile-position-4-4 {
    transform: translate(202px, 202px);
    transform: translate(202px, 202px);
    transform: translate(202px, 202px);
    transform: translate(202px, 202px);
  }

  .tile .tile-inner {
    font-size: 35px;
  }

  .game-message p {
    font-size: 30px !important;
    height: 30px !important;
    line-height: 30px !important;
    margin-top: 90px !important;
  }

  .game-message .lower {
    margin-top: 30px !important;
  }
}
