:root{
	--main-white: #FFF;
	--not-black: #333;
	--default-border-radius: 15px;
	--safe-area-inset-top: env(safe-area-inset-top);
}

body, html{
	font-family: "Fredoka One", Helvetica, Arial, sans-serif;
	font-weight: 900;
	height: 100%;
	margin: 0;
	overflow: hidden;
	position: relative;
	-webkit-touch-callout: none;
	user-select: none;
	user-select: none;
}

.touchListener{
	cursor: url('img/mouseIcon.png') 9 9 , auto;
}

.touchListener.hiddenCursor{
	cursor: none;
}

.fullScreen{
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.mainCanvas{
	z-index: -1;
}

@font-face {
	font-display: swap;
	font-family: 'Fredoka One';
	font-style: normal;
	font-weight: 900;
	src: local('Fredoka One'), local('FredokaOne-Regular'), url("FredokaOne.woff2") format('woff2');
}

.niceFont, .niceTextField, .niceButton{
	color: var(--main-white);
	font-family: "Fredoka One", Helvetica, Arial, sans-serif;
	font-size: 30pt;
	font-weight: 900;
	text-shadow: 0 4px var(--not-black);
	-webkit-text-stroke: 2px var(--not-black);
}

.inputNoMarkup, .inputNoMarkup:focus{
	appearance: none;
	border: none;
	cursor: auto;
	outline: none;
	padding: 0;
	-webkit-tap-highlight-color: rgb(0 0 0 / 0%);
}

.niceTextField, .niceTextField:focus{
	border: solid var(--not-black) 3px;
	border-radius: var(--default-border-radius);
	box-shadow: inset 0 0 14px var(--not-black), 0 0 0 3px #fff, 0 0 0 6px var(--not-black);
	caret-color: var(--not-black);
	padding: 20px;
}

.niceButton, .niceButton:focus{
	background: linear-gradient(#0B5FC1, #66BDF2);
	border-radius: var(--default-border-radius);
	box-shadow: inset 0 0 10px 0 #0000007a, 0 0 0 3px var(--main-white), 0 0 0 6px var(--not-black), 0 8px 0 6px var(--not-black);
	cursor: pointer;
	display: inline-block;
	padding: 20px;
	position: relative;
}

.niceButton:focus:not(.disabled), .niceButton:hover:not(.disabled){
	filter: brightness(110%);
}

.niceButton:active:not(.disabled){
	top: 4px;
}

.niceButton:active:not(.disabled, .secondary){
	box-shadow: inset 0 0 10px 0 #0000007a, 0 0 0 3px var(--main-white), 0 0 0 6px var(--not-black), 0 4px 0 6px var(--not-black);
}

.niceButton::before{
	background: rgb(255 255 255 / 10%);
	border-radius: 10px;
	content: "";
	height: 60%;
	left: 5px;
	position: absolute;
	top: 5px;
	width: calc(100% - 10px);
}

.niceButtonShine{
	content: "";
	height: 20px;
	left: 0;
	mix-blend-mode: screen;
	position: absolute;
	top: 0;
	width: 20px;
}

.niceButtonShine.blurred{
	filter: blur(3px);
}

.niceButtonShine.shine1{
	background: url("svg/buttonShine1.svg");
}

.niceButtonShine.shine2{
	background: url("svg/buttonShine2.svg");
}

.niceButton.secondary{
	background: none;
	box-shadow: none;
}

.niceButton.secondary::before{
	content: none;
}

.niceButton.block{
	display: block;
}

.niceButton.disabled{
	cursor: inherit;
	filter: saturate(0%);
}

.niceButton.secondary.disabled{
	color: #ababab;
}

.niceButton .niceButtonIcon{
	display: inline-block;
	height: 60px;
	position: static;
	vertical-align: middle;
	width: 60px;
}

.niceButtonIconContainer{
	display: inline-block;
	height: 0;
	position: static;
	transform: translateY(-50px);
	vertical-align: bottom;
}

.niceButton.social{
	margin: -15px;
	padding: 10px;
	transform: scale(0.5);
}

.hoverScaleButton{
	transition: transform 0.2s;
}

.hoverScaleButton:hover:not(.customHoverScale, .disabled){
	transform: scale(1.1);
}

.hoverScaleButton.active{
	transform: scale(0.9);
}

.imageEl{
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	display: block;
	position: absolute;
	top: 0;
}

.toastMessage{
	background: var(--main-white);
	border-radius: 100px;
	box-shadow: 0 0 0 6px var(--not-black), 0 8px 0 6px var(--not-black);
	font-size: 20px;
	left: 50%;
	max-width: 410px;
	padding: 15px 30px;
	position: absolute;
	text-align: center;
	top: 0;
	transition: transform 0.3s;
	width: fit-content;
	z-index: 95;
}
@media(width <= 600px){
	.toastMessage{
		font-size: 12px;
		max-width: calc(60%);
		padding: 15px 20px;
		transform: translate(-50%, 60px);
	}
}
@media(width <= 400px){
	.toastMessage{
		max-width: calc(100% - 70px);
	}
}

.toastMessage.hidden{
	transform: translateX(-50%) translateY(calc(-100% - 20px));
}

.toastMessage.clickable{
	cursor: pointer;
}

.toastMessage:not(.clickable){
	pointer-events: none;
}

.menuScreen{
	background: radial-gradient(ellipse at center, rgb(0 0 0 / 0%) 0%,rgb(8 9 43 / 93%) 100%);
	transition: visibility 0.5s, opacity 0.5s, transform 0.5s;
	z-index: 90;
}

.menuScreen.hidden{
	opacity: 0;
	transform: scale(1.1);
	visibility: hidden;
}

.mainMenuLogo{
	background-image: url("svg/ducklingsLogo.svg");
	height: 250px;
	left: 50%;
	max-height: 30%;
	max-width: calc(100% - 30px);
	top: 20px;
	top: calc(20px + constant(safe-area-inset-top));
	top: calc(20px + env(safe-area-inset-top));
	transform: translateX(-50%) translateX(6px);
	width: 400px;
}

.mainMenuButtonContainer{
	bottom: 100px;
	left: 50%;
	max-width: 351px;
	position: absolute;
	text-align: center;
	transform: translate(-50%, 0);
	transform-origin: bottom center;
	width: 100%;
}

@media(height <= 500px){
	.mainMenuButtonContainer{
		bottom: 90px;
		transform: translate(-50%, 0) scale(0.7);
	}
}

.playWithFriendsText{
	color: white;
	display: block;
	font-size: 20px;
	margin-top: 20px;
	text-shadow: 0 2px var(--not-black);
	-webkit-text-stroke: 1px var(--not-black);
}

.mainMenuAdBox{
	height: 600px;
	left: 50%;
	overflow: hidden;
	position: absolute;
	top: 50%;
	transform: translate(-480px, -50%);
	width: 300px;
}

.mainMenuAdBoxSmall{
	display: none;
	height: 250px;
	left: 75%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 300px;
}
@media(width <= 610px){
	.mainMenuAdBoxSmall{
		left: auto;
		right: 10px;
		transform: translateY(-50%);
	}
}
@media(height <= 410px){
	.mainMenuAdBoxSmall{
		left: auto;
		right: 10px;
		top: 10px;
		transform: none;
	}
}

.mainMenuAd{
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
}

.mainMenuTextBoxContainer{
	border-radius: var(--default-border-radius);
	height: 600px;
	left: 50%;
	overflow: hidden;
	position: absolute;
	top: 50%;
	transform: translate(180px, -50%);
	width: 300px;
}
@media(height <= 750px){
	.mainMenuTextBoxContainer{
		height: 400px;
	}
}
@media(height <= 550px){
	.mainMenuTextBoxContainer{
		height: 250px;
	}
}

.mainMenuTextBox{
	background: #00070c47;
	box-sizing: border-box;
	color: var(--main-white);
	font-size: 12pt;
	height: 100%;
	overflow: hidden scroll;
	padding: 30px;
	text-align: center;
	user-select: text;
	width: 100%;
}

.mainMenuTextBoxText{
	margin: 100px;
}

@media(width <= 830px){
	@media(width >= 530px){
		.mainMenuLogo, .mainMenuButtonContainer{
			left: 25%;
		}

		.mainMenuTextBoxContainer.overrideAaddss{
			display: inherit;
			left: initial;
			right: 40px;
			transform: translate(0, -50%);
		}
	}

	.mainMenuTextBoxContainer, .mainMenuAdBox{
		display: none;
	}

	.mainMenuAdBoxSmall{
		display: block;
	}
}

@media(width >= 1200px){
	.mainMenuTextBoxContainer{
		transform: translate(300px, -50%);
	}

	.mainMenuAdBox{
		transform: translate(-600px, -50%);
	}
}
@media(width <= 980px){
	.mainMenuTextBoxContainer{
		transform: translate(110px, -50%);
	}

	.mainMenuAdBox{
		transform: translate(-410px, -50%);
	}
}
@media(height <= 750px){
	.mainMenuAdBox{
		height: 250px;
	}
}
@media(height <= 335px), (width <= 530px){
	.mainMenuAdBoxSmall{
		display: none;
	}
}

.shareHatContainer{
	bottom: 0;
	left: 0;
	margin: 10px;
	position: absolute;
	transition: opacity 0.2s, visibility 0.2s;
}

.shareHatContainer.hidden{
	opacity: 0;
	visibility: hidden;
}

.shareHatContainer * {
	vertical-align: middle;
}

.shareHat{
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	cursor: pointer;
	display: inline-block;
	filter: drop-shadow(0 4px var(--not-black));
	height: 50px;
	width: 50px;
}

.shareHat:hover{
	filter: brightness(90%);
}

.shareHat:active{
	filter: brightness(80%);
}

.shareHatArrowText{
	animation: shareHatTextAnim 1s infinite cubic-bezier(0.28, -0.03, 0.35, 0.95) alternate;
	display: inline-block;
}

@media(width <= 610px), (height <= 470px){
	.shareHatArrowText{
		display: none;
	}
}

@media(width <= 330px){
	.shareHatContainer{
		display: none;
	}
}

@media(height <= 720px) and (width >= 980px){
	.shareHatContainer{
		display: none;
	}
}

@keyframes shareHatTextAnim{
	0% {
		transform: translate(0, 6px);
	}

	100% {
		transform: translate(10px, 6px);
	}
}

.shareHatArrow{
	background-image: url("svg/arrowShareHats.svg");
	display: inline-block;
	height: 20px;
	margin: 5px;
	width: 20px;
}

.shareHatText{
	color: var(--main-white);
	font-size: 14pt;
}


::-webkit-scrollbar{
    height: 30%;
    width: 10px;
}

::-webkit-scrollbar-button{
	background: black;
}

::-webkit-scrollbar-track {
    background-color: rgb(0 0 0 / 0%);
    border-radius: 5px;
}

::-webkit-scrollbar-track:hover{
    background-color: rgb(0 0 0 / 20%);
}

::-webkit-scrollbar-thumb {
    background-color: rgb(0 0 0 / 50%);
    border-radius: 5px;
}

::-webkit-scrollbar-button{
    visibility:hidden;
}

.rewarded-upgrade-container {
	left: 0;
	margin-left: 20px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.rewarded-upgrade-container .niceButton {
	padding: 10px;
}

.rewarded-upgrade-container .niceButtonIcon {
	height: 60px;
	width: 120px;
}

.storeButton{
	display: inline-block;
	margin-bottom: 10px;
}

.storeButton:hover{
	opacity: 0.7;
}

.mainMenuSettingsContainer{
	bottom: constant(safe-area-inset-bottom);
	bottom: env(safe-area-inset-bottom);
	position: absolute;
	right: constant(safe-area-inset-right);
	right: env(safe-area-inset-right);
	transform: scale(0.7);
	transform-origin: bottom right;
	white-space: nowrap;
}

.mainmenusettingsbutton, .mainmenusettingsbutton:focus{
	margin: 20px;
	margin-left: 0;
	padding: 10px;
}

.loadingAnimation{
	height: 300px;
	left: 50%;
	position: absolute;
	top: 0;
	transform: translate(-50%, -50%) scale(0.25) translateY(-110px);
	width: 1500px;
}
@media(width <= 650px){
	.loadingAnimation{
		transform: translate(-50%, -50%) scale(0.15) translateY(-110px);
	}
}

.loadingAnimationDuck{
	position: absolute;
}

.LoadingAnimationPathShadow{
	fill: var(--not-black);
}

.LoadingAnimationPathMain{
	fill: var(--main-white);
}

.LoadingAnimationPathOutline{
	fill: var(--not-black);
}

.cornerScoreContainer{
	left: constant(safe-area-inset-left);
	left: env(safe-area-inset-left);
	pointer-events: none;
	position: absolute;
	top: constant(safe-area-inset-top);
	top: env(safe-area-inset-top);
}

.cornerScoreContainer.hidden{
	display: none;
}

.cornerScoreIcon{
	display: inline-block;
	height: 40px;
	padding-right: 10px;
	position: relative;
	vertical-align: bottom;
	width: 63px;
}

.cornerScoreSection{
	transition: transform 0.5s ease-in-out, opacity 0.3s;
}

.cornerScoreSection.hidden{
	opacity: 0;
	transform: translateX(-100%);
}

.cornerScoreNumber{
	display: inline-block;
	transition: transform 0.2s;
}

.cornerScoreNumber.zoomed{
	transform: scale(1.5);
}

.cornerScoreStarRotateContainer{
	animation: 3s infinite alternate cubic-bezier(0.445, 0.05, 0.55, 0.95) scoreStarHover;
	position: absolute;
}

.cornerScoreStar{
	animation: 5s infinite linear scoreStarRotate;
	background-image: url("svg/scoreStar.svg");
	height: 10px;
	width: 10px;
}

@keyframes scoreStarRotate{
	from{transform: rotate(  0deg)}
	to  {transform: rotate(360deg)}
}
@keyframes scoreStarHover{
	from{transform: translateY( 3px)}
	to  {transform: translateY(-3px)}
}

.ducklingCountIcon{
	background-image: url("svg/ducklingCount.svg");
}

.hatCountIcon{
	background-image: url("svg/hatCount.svg");
}

.boostIcon {
	background-image: url("svg/boost.svg");
	width: 84px;
}

.pauseButtonContainer{
	margin: 10px;
	position: absolute;
	right: 0;
	right: constant(safe-area-inset-right);
	right: env(safe-area-inset-right);
	top: 0;
	top: constant(safe-area-inset-top);
	top: env(safe-area-inset-top);
}

.pauseButton{
	cursor: pointer;
	height: 30px;
	width: 30px;
	z-index: 10;
}

.pauseButton::before, .pauseButton::after{
	background: var(--main-white);
	border-radius: var(--default-border-radius);
	border-radius: 4px;
	box-shadow: 0 0 0 2px var(--not-black), 0 3px 0 2px var(--not-black);
	content: ' ';
	height: 100%;
	position: absolute;
	width: 10px;
}

.pauseButton::before{
	right: 0;
}

.compassContainer{
	display: block;
	filter: drop-shadow(0 5px 0 var(--not-black));
	height: 230px;
	left: 0;
	pointer-events: none;
	position: absolute;
	top: 0;
	transform-origin: top left;
	transition: opacity 0.5s, visibility 0.5s;
	width: 230px;
}

.compassContainer.small{
	height: 40px;
	width: 40px;
}

.compassContainer.hidden{
	opacity: 0;
	visibility: hidden;
}

.compassIcon{
	background-image: url("svg/nestCompassMiddle.svg");
	height: 100px;
	left: 65px;
	top: 65px;
	width: 100px;
}

.compassArrow{
	background-image: url("svg/nestCompassArrow.svg");
	height: 70px;
	left: 80px;
	top: 155px;
	transform-origin: 35px -45px;
	width: 70px;
}

.compassArrow.small{
	background-image: url("svg/playerCompassArrow.svg");
	height: 40px;
	left: 0;
	top: 0;
	transform-origin: initial;
	width: 40px;
}

.gameOverScreen{
	text-align: center;
}

.gameOverTitle{
	font-size: 50pt;
	margin-top: 10vh;
}

.gameOverScreenAdContentSide{
	display: none;
}

@media(height <= 720px) and (width >= 750px){
	.gameOverScreenContent{
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 50%;
	}

	.gameOverTitle{
		margin-top: 0;
	}

	.gameOverScreenAdContentSide{
		display: block;
	}
}

.gameOverScreenAdContentSide{
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 50%;
}

.menuSmallText{
	font-size: 25pt;
	margin-bottom: 50px;
}

.adBanner{
	height: 250px;
	margin: 50px auto;
	width: 300px;
}

@media(width <= 420px){
	.gameOverTitle{
		font-size: 30pt;
		margin-top: 5vh;
	}

	.menuSmallText{
		font-size: 18pt;
		margin-bottom: 20px;
	}

	.adBanner{
		margin: 20px auto;
	}
}

.ageInput{
	margin-right: 30px;
	text-align: center;
	width: 60px;
}

.ageQuestion{
	padding-top: 20px;
}

.touchJoystickPad{
	background: #00000036;
	border-radius: 300px;
	height: 200px;
	pointer-events: none;
	position: absolute;
	transition: opacity 0.5s;
	width: 200px;
}

.touchJoystick{
	background: var(--main-white);
	border-radius: 50px;
	box-shadow: var(--not-black) 0 0 0 3px, var(--not-black) 0 5px 0 3px;
	height: 50px;
	left: 75px;
	position: relative;
	top: 72px;
	width: 50px;
}
