.news-wrapper{
    background-color: #000;
    border-radius: 10px;
    bottom: 140px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    left: 20px;
    min-height: 165px;
    padding: 0 20px;
    position: absolute;
    width: 450px;
}

.browser-fix .news-wrapper{
    bottom: calc(20px * var(--scale));
    transform: scale(var(--scale));
    transform-origin: bottom left;
}

.news{
    color: #fff;
    display: inline-block;
    flex: 0 0 100%;
    font-size: 18px;
    width: 100%;
}

.news h3{
    color: #ddd;
    margin: 0;
    margin-bottom: 10px;
}

.news p{
    margin: 0;
}

.news img{
    border-radius: 3px;
    float: left;
    height: 120px;
    margin-bottom: 0;
    margin-right: 20px;
}

.news .link-button{
    color: rgb(255 187 0);
    float: right;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    text-decoration: none;
}

.news .link-button img{
    height: 20px;
    margin-right: 5px;
    width: 20px;
}

