html,
body {
  box-sizing: border-box;
  box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

#imaContainer *,
#preloadingRoot *,
#credits * {
  box-sizing: border-box;
  box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  color: #fff;
  outline: none !important;
  text-decoration: none;
}

#modal {
  background: rgb(0 0 0 / 0%);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  visibility: visible;
  width: 100%;
}

#imaContainer {
  background: rgb(0 0 0 / 70%);
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  visibility: hidden;
  width: 100%;
  z-index: 10000;
}

#imaVideo {
  height: 0;
  left: 0;
  position: absolute;
  top: 0;
  width: 0;
}

#loadingGif {
  background: rgb(0 0 0 / 100%);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  visibility: visible;
  width: 100%;
  z-index: 999;
}

#preloadingRoot {
  height: 100%;
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
  visibility: visible;
  width: 100%;
  z-index: 100;
}

#preloadingContainer {
  position: absolute;
  visibility: hidden;
}

#preloadingB {
  background: rgb(0 76 30 / 100%);
  border: #fff solid 2px;
  border-radius: 10px;
  height: auto;
  margin: auto;
  min-height: 20px;
  position: relative;
  width: 200px;
}

#preloadingF {
  background: linear-gradient(
    180deg,
    rgb(241 189 76 / 100%) 50%,
    rgb(223 163 32 / 100%) 50%
  );
  border: rgb(0 76 30 / 100%) solid 2px;
  border-radius: 10px;
  height: 100%;
  max-width: 100%;
  min-width: 30px;
  position: absolute;
  width: 10%;
}

#preloaded {
  background: url("../img/go.png") no-repeat center;
  background-size: 100%;
  height: 0;
  margin: auto;
  margin-top: 40px;
  opacity: 0;
  position: relative;
  width: 0;
}

#hourglass {
  background: url("../img/ellipsis.svg") no-repeat center;
  background-size: 100%;
  height: 50px;
  margin: auto;
  width: 50px;
}

#game {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.more_container {
  background: rgb(0 0 0 / 50%);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  visibility: hidden;
  width: 100%;
}

.new_ui_box-content {
  background-color: #f0f0ef;
  border-radius: 25px;
  color: #fff;
  font-weight: 700;
  height: 85%;
  max-width: 420px;
  overflow: visible;
  position: absolute;
  width: 90%;
}

.new_ui_stars-container span {
  float: left;
  margin: 8px 2px 3px;
}

.new_ui_big-button-menu {
  background: #fff;
  border: 2px solid #e6e6e6;
  border-radius: 20px;
  cursor: pointer;
  height: 92px;
  margin-bottom: 10px;
  margin-left: 5%;
  position: relative;
  width: 90%;
}

.new_ui_big-button-menu.new_ui_disabled {
  click-pointer: none;
  opacity: 0.5;
}

.new_ui_big-button-menu .new_ui_text {
  color: #547894;
  font-size: 14px;
  line-height: 90px;
  margin-left: 80px;
}

.new_ui_big-button-menu .new_ui_icon-left-big-button,
.new_ui_big-button-menu .new_ui_icon-right-big-button {
  position: absolute;
  top: 27px;
  z-index: 5;
}

.new_ui_big-button-menu .new_ui_icon-left-big-button {
  left: 25px;
}

.new_ui_big-button-menu .new_ui_icon-right-big-button {
  right: 10px;
}

.new_ui_games-list {
  margin-top: 30px;
  overflow: auto;
  overflow-y: auto;
}

.new_ui_loading-gif {
  background-image: url("../img/loading.gif");
  background-size: 100px 50px;
  height: 50px;
  left: 50%;
  margin-left: -50px;
  margin-top: -25px;
  position: absolute;
  top: 50%;
  width: 100px;
}

.new_ui_games-list .new_ui_img-icon,
.new_ui_games-list .new_ui_text {
  border-radius: 15px;
  height: 78px;
  margin: 5px;
  width: auto;
}

.new_ui_games-list .new_ui_game-info {
  background-color: #fff;
  height: 60px;
  left: 130px;
  margin: 0;
  min-width: 100px;
  position: absolute;
  top: 12px;
  z-index: 10;
}

.new_ui_single-game-row .new_ui_game-name {
  color: #547894;
  display: block;
}

.new_ui_sprite {
  background-image: url("../img/new_ui_sprite.png");
  background-repeat: no-repeat;
  display: inline-block;
  overflow: hidden;
}

.new_ui_button-close {
  background-position: -116px -78px;
  height: 40px;
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
}

.new_ui_button-close:active {
  background-position: -200px -78px;
  height: 40px;
  width: 40px;
}

.new_ui_button-close {
  cursor: pointer;
  margin: 0;
  position: absolute;
  right: -12px;
  top: -12px;
}

.new_ui_button-next {
  background-position: -224px -40px;
  cursor: pointer;
  height: 36px;
  width: 36px;
}

.new_ui_button-next:active {
  background-position: -78px -78px;
  height: 36px;
  width: 36px;
}

.new_ui_button-next-locked {
  background-position: -2px -78px;
  height: 36px;
  width: 36px;
}

.new_ui_button_blue_left {
  background-position: -245px -126px;
  height: 60px;
  width: 25px;
}

.new_ui_button_blue_right {
  background-position: -191px -120px;
  height: 60px;
  width: 25px;
}

.new_ui_button_white_left {
  background-position: -137px -120px;
  height: 60px;
  width: 25px;
}

.new_ui_button_white_right {
  background-position: -83px -116px;
  height: 60px;
  width: 25px;
}

.new_ui_button_yellow_left {
  background-position: -29px -116px;
  height: 60px;
  width: 25px;
}

.new_ui_button_yellow_right {
  background-position: -262px -64px;
  height: 60px;
  width: 25px;
}

.new_ui_dashed-arrow {
  background-position: -2px -20px;
  height: 40px;
  width: 30px;
}

.new_ui_icon-facebook {
  background-position: -186px -40px;
  height: 36px;
  width: 36px;
}

.new_ui_icon-howtoplay {
  background-position: -110px -40px;
  height: 36px;
  width: 36px;
}

.new_ui_star-grey {
  background-position: -20px -2px;
  height: 16px;
  width: 16px;
}

.new_ui_star-yellow {
  background-position: -2px -2px;
  height: 16px;
  width: 16px;
}

.new_ui_star-yellow-grey {
  background-position: -7px -256px;
  height: 16px;
  width: 16px;
}

#credits {
  background-color: rgb(55 55 55 / 70%);
  border: solid #fff 2px;
  border-radius: 25px;
  color: #fff;
  font-weight: 700;
  height: 200px;
  left: 50%;
  margin-left: -150px;
  margin-top: -100px;
  max-width: 90%;
  overflow: visible;
  position: absolute;
  text-align: center;
  top: 50%;
  visibility: hidden;
  width: 300px;
  z-index: 20;
}

#credits img {
  height: auto;
  max-width: 90%;
}

#blocktip {
  background-color: rgb(55 55 55 / 80%);
  border: solid #fff 2px;
  border-radius: 25px;
  color: #fff;
  font-weight: 700;
  height: 200px;
  left: 50%;
  margin-left: -150px;
  margin-top: -100px;
  max-width: 90%;
  overflow: visible;
  padding: 20px;
  position: absolute;
  text-align: center;
  top: 50%;
  visibility: hidden;
  width: 300px;
  z-index: 1000;
}

#blocktip a {
  bottom: 20px;
  position: absolute;
  right: 25px;
}
