#app-store-interstitial {
	color: #fff;
	font-family: EditUndoBrk;
	overflow: hidden;
	position: absolute;
	-webkit-touch-callout: none; /* iOS Safari */
    user-select: none; /* Safari */
     user-select: none; /* Konqueror HTML */
       user-select: none; /* Firefox */
        user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

#app-store-interstital img {
	image-rendering: pixelated;
}

#app-store-interstitial img.smooth {
	image-rendering: initial;
}

#app-store-interstitial .container {
    align-items: center;
	display: flex;
    flex-direction: column;
	height: 100%;
    justify-content: center;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

@media (orientation: portrait) {
	.landscape-only {
		display: none;
	}
}

@media (orientation: landscape) {
	.portrait-only {
		display: none;
	}
}

/* Screen 1 */

#screen-1 #side-characters {
	height: 100%;
	position: absolute;
	right: -5%;
	top: 0;
}

#screen-1 .center {
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 7% 0;
	width: 90%;
}

#screen-1 .bottom {
	text-align: center;
	width: 100%;
}

#screen-1 .bottom img {
	max-width: 600px;
	width: 30%;
}

#screen-1 .usp-list {
    font-size: 1em;
	list-style: none;
	margin: 0;
	padding: 0 0 0 4%;
	width: 40%;
}

#screen-1 .usp-list li {
	margin: 5% 0;
}

#screen-1 .usp-list li img {
	display: inline-block;
	margin-right: 5%;
	width: 7%;
}

#screen-1 .usp-list .text {
	display: inline-block;
	vertical-align: middle;
	width: 88%;
}

#screen-1 h2 {
	font-size: 1.75em;
	line-height: 1.2em;
	text-align: center;
}

#screen-1 .crossy-road-app-icon {
	width: 24%;
}

#screen-1 .pixel-arrow {
	margin: 0 4%;
	width: 5%;
}

#screen-1 .pixel-device {
	width: 10%;
}

@media (orientation: portrait) {
	#screen-1 .bottom img {
		width: 70%;
	}

	#side-characters {
		display: none;
	}

	#screen-1 h2 {
		font-size: 2.5em;
		margin-bottom: 0;
	}

	#screen-1 .usp-list {
		font-size: 1.75em;
		margin: 2% 0;
		padding: 0;
		width: 70%;
	}

	#screen-1 .center {
		margin: 4% 0;
	}
}

/* Screen 2 */

#screen-2 h2 {
	font-size: 1.5em;
    line-height: 1.3em;
	margin: 0 6%;
	text-align: center;
}

#screen-2.container {
	justify-content: center;
}

#screen-2 .top {
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 90%;
}

#screen-2 .pixel-phone {
	width: 7%;
}

#screen-2 .pixel-tablet {
	width: 13%;
}

#screen-2 .bottom {
	margin-top: 8%;
	position: relative;
	text-align: center;
	width: 80%;
}

#screen-2 .search-bar {
	width: 100%;
}

#screen-2 #poki-text {
    color: #36B5E8;
    font-size: 2em;
    left: 7%;
    margin-top: -0.65em;
	position: absolute;
    top: 50%;
}

#screen-2 .hand {
    bottom: -25%;
	position: absolute;
    right: -3%;
    transform: rotate(-5deg);
    width: 30%;
}

#screen-2 #type-cursor {
	animation: blink-animation 1s steps(2, start) infinite;
	color: #FFD522;
	margin-left: 2%;
}

@keyframes blink-animation {
	to {
		visibility: hidden;
	}
}

/* Screen 3 */

#screen-3 .phone {
	transform: rotate(-5deg);
	width: 80%;
}

#screen-3 .hand {
    bottom: -25%;
	position: absolute;
    right: 10%;
    transform: rotate(-12deg);
    width: 40%;
}

/* Screen 4 */

#screen-4 .top {
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#screen-4 .top .left {
	margin-right: 5%;
	width: 20%;
}

#screen-4 .top .right {
	width: 20%;
}

#screen-4 .crossy-road-app-icon,
#screen-4 .crossy-road-logo,
#screen-4 .hipster-whale-logo {
	width: 100%;
}

#screen-4 .crossy-road-logo {
	margin-bottom: 5%;
}

#screen-4 .center {
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 7% 0;
	width: 100%;
}

#screen-4 .center img {
	display: inline-block;
	width: 60%;
}

#screen-4 .center .pixel-arrow {
	margin: 0 3%;
	width: 3%;
}

#screen-4 .center .pixel-device {
	width: 6%;
}

#screen-4 .bottom {
	text-align: center;
	width: 100%;
}

#screen-4 .bottom img {
	width: 20%;
}
