html, body {
    background: #5dc7e7 url("sprites/tiled-bg.png");
	height: 100%;
	margin: 0;
    overflow: hidden;
	width: 100%;
}

body { 
    position: relative;
}

.pixelated {
	image-rendering: optimizespeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: crisp-edges;          /* Firefox                        */
    image-rendering: crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated; /* Chrome */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+  */
}

#container {
    box-shadow: #31b8e0 0 0 50px;
}