body {
    background: #000;
    margin: 0; /* the extra 1px allows the iOS inner/outer check to work */
}

#sbc_orientation {
    background-color: rgb(0 0 0);
    background-image: url("../assets/orientation.jpg");
    background-position: center; 
    background-repeat: no-repeat;
    display: none;
    height: 100%;
    left: 0%;
    margin: 0 auto;
    position: absolute;
    top: 0%;
    width: 100%;
    z-index: 999;
}
