@import url("Common.css");

#transition{
    background-color: #000;
    height: 100%;
    left: 0%;
    opacity: 0;
    position: fixed;
    top: 0%;
    transition: all 0.2s linear;
    width: 100%;
    z-index: 5000;
}

#transition.active{
    opacity: 1;
}

#spinner-center{
    height: 80px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
}