/* @font-face {
  font-family: Silver;
  src: url(./silver.ttf);
} */

@font-face {
  font-family: "Rounds Black";
  src: url("./Rounds Black.otf");
}

/* @font-face {
  font-family: Retron2000;
  src: url(./retron2000.ttf);
} */

#gritter-notice-wrapper {
  position: fixed;
  right: 20px;
  top: 20px;
  width: 301px;
  z-index: 9999;
}

#gritter-notice-wrapper.top-left {
  left: 20px;
  right: auto;
}

#gritter-notice-wrapper.bottom-right {
  inset: auto 20px 20px auto;
}

#gritter-notice-wrapper.bottom-left {
  inset: auto auto 20px 20px;
}

.gritter-item-wrapper {
  background-clip: padding-box;
  background-color: rgb(0 0 0 / 100%);
  border-radius: 0;
  border-radius: 0;
  border-radius: 0;
  border-radius: 0;
  border-radius: 0;
  border-radius: 32px;
  box-shadow: 0 8px 0 rgb(0 0 0 / 50%);
  color: #eee;
  margin: 0 0 10px;

  /* padding: 2px; */
  position: relative;
}

.gritter-item-wrapper {
  /* border: 0px solid rgba(0, 0, 0, 1); */
  padding: 0;
}

.gritter-bottom {
  height: 8px;
  margin: 0;
}

.gritter-item {
  color: rgb(255 255 255 / 100%);
  display: block;
  font-family: "Rounds Black";
  font-size: 12px;
  padding: 10px 9px 6px;

  /* text-align:center; */

  /* padding: 8px 0 8px 0; */
}

.gritter-item p {
  margin: 0;
  padding: 0;
  overflow-wrap: break-word;
}

.gritter-close {
  background: white
    url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAzSURBVChTYwCC/1CMDuDiMAayIgwxZAFkjALwSoIAXgXokjAMBhgCQIAihi4JA0Axhv8AUdAn2SXsGuAAAAAASUVORK5CYII=")
    no-repeat center;
  border-radius: 0%;
  border-radius: 0%;
  border-radius: 0%;
  border-radius: 0%;
  border-radius: 0%;
  border-radius: 0%;
  border-radius: 32px;

  /* background-size: 50%; */

  /* border: 2px solid #000; */
  box-shadow: 0 0 0 rgb(0 0 0 / 75%);
  cursor: pointer;
  display: none;
  height: 32px;
  outline: none;
  position: absolute;
  right: 8px;
  text-indent: -9999em;
  top: 16px;
  width: 32px;
}

.gritter-close:hover {
  box-shadow: 0 2px 2px rgb(0 0 0 / 75%);
}

.gritter-item-wrapper:hover .gritter-close {
  display: block;
}

.gritter-title {
  display: block;
  font-size: 16px;

  /* font-weight: bold; */

  /* text-align:center; */
  padding: 8px 0 0;

  /* text-shadow: 1px 1px 0 #000; */

  /* Not supported by IE :( */
}

.gritter-image {
  border-radius: 48px;
  float: left;
  height: 48px;

  /* padding: 1px 1px 1px 1px; */
  width: 48px;
}

.gritter-with-image,
.gritter-without-image {
  padding: 0;
}

.gritter-with-image {
  float: right;
  width: 220px;
}

.gritter-clickable:hover {
  cursor: pointer;
}

/* for the light (white) version of the gritter notice */

.gritter-light.gritter-item-wrapper {
  background-color: rgb(0 0 0 / 100%);
  color: #222;
}

.gritter-light.gritter-item-wrapper {
  border-color: rgb(0 0 0 / 100%);
}

/* for the success version of the gritter notice */

.gritter-success.gritter-item-wrapper {
  background-color: #dff0d8;
  color: #468847;
}

.gritter-success.gritter-item-wrapper:hover {
  border-color: #d6e9c6;
}

/* for the info version of the gritter notice */

.gritter-info.gritter-item-wrapper {
  background-color: #d9edf7;
  color: #3a87ad;
}

.gritter-info.gritter-item-wrapper:hover {
  border-color: #bce8f1;
}

/* for the warning version of the gritter notice */

.gritter-warning.gritter-item-wrapper {
  background-color: #fcf8e3;
  color: #c09853;
}

.gritter-warning.gritter-item-wrapper:hover {
  border-color: #fbeed5;
}

/* for the error version of the gritter notice */

.gritter-error.gritter-item-wrapper {
  background-color: #f2dede;
  color: #b94a48;
}

.gritter-error.gritter-item-wrapper:hover {
  border-color: #eed3d7;
}

/* for the red version of the gritter notice */

.gritter-red.gritter-item-wrapper {
  background-color: #f78b83;
  color: #912323;
}

.gritter-red.gritter-item-wrapper:hover {
  border-color: #d95252;
}

/* for the yellow version of the gritter notice */

.gritter-yellow.gritter-item-wrapper {
  background-color: #ffffa3;
  color: #555;
}

.gritter-yellow.gritter-item-wrapper:hover {
  border-color: #f1d031;
}

/* for the blue version of the gritter notice */

.gritter-blue.gritter-item-wrapper {
  background-color: #e5f6fe;
  color: #5e99bd;
}

.gritter-blue.gritter-item-wrapper:hover {
  border-color: #add9ed;
}

/* for the green version of the gritter notice */

.gritter-green.gritter-item-wrapper {
  background-color: #caed9e;
  color: #3f6219;
}

.gritter-green.gritter-item-wrapper:hover {
  border-color: #90d93f;
}

.gritter-light .gritter-title,
.gritter-success .gritter-title,
.gritter-info .gritter-title,
.gritter-warning .gritter-title,
.gritter-error .gritter-title,
.gritter-red .gritter-title,
.gritter-yellow .gritter-title,
.gritter-blue .gritter-title,
.gritter-green .gritter-title {
  text-shadow: none;
}
