#c2canvasdiv.prepared
{
	margin:0 !important;
	position:absolute !important;
	z-index:49;
}

#fakeBody
{	
	overflow:hidden !important;
	position:absolute;
	z-index:999999999;
}

 
#fakeBody #fakeCanvas
{
	height:100%;
	overflow:hidden !important;
	position:absolute;
	top:0;
	width:100%;
	z-index:50;
}


#fakeCanvas div
{
	height:100%;
	left:0;
	position:absolute;
	top:0;
	width:100%;
}

#fakeCanvas div.darker
{
	background-color:rgb(0 0 0 / 30%);
    transition: background-color 100ms linear ;
    transition: background-color 100ms linear ;
    transition: background-color 100ms linear ;
    transition: background-color 100ms linear ;
    transition: background-color 100ms linear ;
}

#c2canvasdiv.animated
{
	z-index:51;
}

#fakeCanvas.animated
{
	z-index:49;
}

.hidden
{
	display:none;
}