@keyframes animLand {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: -335px 0;
  }
}
@keyframes animLand {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: -335px 0;
  }
}
@keyframes animLand {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: -335px 0;
  }
}
@keyframes animLand {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: -335px 0;
  }
}

@keyframes animSky {
  0% {
    background-position: 0 100%;
  }

  100% {
    background-position: -275px 100%;
  }
}
@keyframes animSky {
  0% {
    background-position: 0 100%;
  }

  100% {
    background-position: -275px 100%;
  }
}
@keyframes animSky {
  0% {
    background-position: 0 100%;
  }

  100% {
    background-position: -275px 100%;
  }
}
@keyframes animSky {
  0% {
    background-position: 0 100%;
  }

  100% {
    background-position: -275px 100%;
  }
}

@keyframes animBird {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 0 -96px;
  }
}
@keyframes animBird {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 0 -96px;
  }
}
@keyframes animBird {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 0 -96px;
  }
}
@keyframes animBird {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 0 -96px;
  }
}

@keyframes animPipe {
  0% {
    left: 900px;
  }

  100% {
    left: -100px;
  }
}
@keyframes animPipe {
  0% {
    left: 900px;
  }

  100% {
    left: -100px;
  }
}
@keyframes animPipe {
  0% {
    left: 900px;
  }

  100% {
    left: -100px;
  }
}
@keyframes animPipe {
  0% {
    left: 900px;
  }

  100% {
    left: -100px;
  }
}

@keyframes animCeiling {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: -63px 0;
  }
}
@keyframes animCeiling {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: -63px 0;
  }
}
@keyframes animCeiling {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: -63px 0;
  }
}
@keyframes animCeiling {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: -63px 0;
  }
}

*,
*::before,
*::after {
  /* border box */
  box-sizing: border-box;
  box-sizing: border-box;
  box-sizing: border-box;

  /* select disable */
  -webkit-touch-callout: none;

  /* gpu acceleration */
  transition: translate3d(0, 0, 0);
  user-select: none;
  user-select: none;
  user-select: none;
  user-select: none;
  user-select: none;
}

html,
body {
  color: #fff;
  font-family: monospace;
  font-size: 12px;
  height: 100%;
  overflow: hidden;
}

#gamecontainer {
  height: 100%;
  min-height: 525px;
  position: relative;
  width: 100%;
}

/*
 Screen - Game
 */
#gamescreen {
  height: 100%;
  position: absolute;
  width: 100%;
}

#sky {
  animation: animSky 7s linear infinite;
  animation: animSky 7s linear infinite;
  background-color: #4ec0ca;
  background-image: url("../assets/sky.png");
  background-position: 0 100%;
  background-repeat: repeat-x;
  height: 80%;
  position: absolute;
  top: 0;
  width: 100%;
}

#flyarea {
  bottom: 0;
  height: 420px;
  position: absolute;
  width: 100%;
}

#ceiling {
  animation: animCeiling 481ms linear infinite;
  animation: animCeiling 481ms linear infinite;
  background-image: url("../assets/ceiling.png");
  background-repeat: repeat-x;
  height: 16px;
  position: absolute;
  top: -16px;
  width: 100%;
}

#land {
  animation: animLand 2516ms linear infinite;
  animation: animLand 2516ms linear infinite;
  background-color: #ded895;
  background-image: url("../assets/land.png");
  background-position: 0 0;
  background-repeat: repeat-x;
  bottom: 0;
  height: 20%;
  position: absolute;
  width: 100%;
}

#bigscore {
  left: 150px;
  position: absolute;
  top: 20px;
  z-index: 100;
}

#bigscore img {
  display: inline-block;
  padding: 1px;
}

#splash {
  background-image: url("../assets/splash.png");
  background-repeat: no-repeat;
  height: 170px;
  left: 65px;
  opacity: 0;
  position: absolute;
  top: 75px;
  width: 188px;
}

#scoreboard {
  background-image: url("../assets/scoreboard.png");
  background-repeat: no-repeat;
  display: none;
  height: 280px;
  left: 43px;
  opacity: 0;
  position: absolute;
  top: 64px;
  width: 236px;
  z-index: 1000;
}

#medal {
  height: 44px;
  left: 32px;
  opacity: 0;
  position: absolute;
  top: 114px;
  width: 44px;
}

#currentscore {
  height: 14px;
  left: 107px;
  position: absolute;
  text-align: right;
  top: 105px;
  width: 104px;
}

#currentscore img {
  padding-left: 2px;
}

#highscore {
  height: 14px;
  left: 107px;
  position: absolute;
  text-align: right;
  top: 147px;
  width: 104px;
}

#highscore img {
  padding-left: 2px;
}

#replay {
  cursor: pointer;
  height: 115px;
  left: 61px;
  opacity: 0;
  position: absolute;
  top: 205px;
  width: 70px;
}

.boundingbox {
  border: 1px solid red;
  display: none;
  height: 0;
  left: 0;
  position: absolute;
  top: 0;
  width: 0;
}

#player {
  left: 60px;
  top: 200px;
}

.bird {
  animation: animBird 300ms steps(4) infinite;
  animation: animBird 300ms steps(4) infinite;
  background-image: url("../assets/bird.png");
  height: 24px;
  position: absolute;
  width: 34px;
}

.pipe {
  animation: animPipe 7500ms linear;
  animation: animPipe 7500ms linear;
  height: 100%;
  left: -100px;
  position: absolute;
  width: 52px;
  z-index: 10;
}

.pipe_upper {
  background-image: url("../assets/pipe.png");
  background-position: center;
  background-repeat: repeat-y;
  position: absolute;
  top: 0;
  width: 52px;
}

.pipe_upper::after {
  background-image: url("../assets/pipe-down.png");
  bottom: 0;
  content: "";
  height: 26px;
  position: absolute;
  width: 52px;
}

.pipe_lower {
  background-image: url("../assets/pipe.png");
  background-position: center;
  background-repeat: repeat-y;
  bottom: 0;
  position: absolute;
  width: 52px;
}

.pipe_lower::after {
  background-image: url("../assets/pipe-up.png");
  content: "";
  height: 26px;
  position: absolute;
  top: 0;
  width: 52px;
}

#footer {
  bottom: 3px;
  left: 3px;
  position: absolute;
}

#footer a,
#footer a:link,
#footer a:visited,
#footer a:hover,
#footer a:active {
  color: #fff;
  display: block;
  padding: 2px;
  text-decoration: none;
}
